<div class="container-wrapper">
    <div class="form-container">
        <h2>Edit Course</h2>
        <form #editForm="ngForm" (ngSubmit)="onSubmit(editForm)">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required [(ngModel)]="title">
            </div>
            <div class="form-group">
                <label for="description">Course Description:</label>
                <textarea id="description" name="description" rows="4" required [(ngModel)]="description"></textarea>
            </div>
            <div class="form-group">
                <label>Skill Level:</label>
                <div class="radio-group">
                    <input type="radio" id="beginner" name="skillLevel" value="beginner" required [(ngModel)]="skillLevel">
                    <label for="beginner" class="skill">Beginner</label>
                    <input type="radio" id="intermediate" name="skillLevel" value="intermediate" required [(ngModel)]="skillLevel">
                    <label for="intermediate" class="skill">Intermediate</label>
                    <input type="radio" id="expert" name="skillLevel" value="expert" required [(ngModel)]="skillLevel">
                    <label for="expert" class="skill">Expert</label>
                    <input type="radio" id="student" name="skillLevel" value="student" required [(ngModel)]="skillLevel">
                    <label for="student" class="skill">Student</label>
                </div>
            </div>
            <div class="form-group">
                <label>Course Type:</label>
                <div class="radio-group">
                    <input type="radio" id="crash" name="courseType" value="Crash" required [(ngModel)]="courseType">
                    <label for="crash" class="skill">Crash Course</label>
                    <input type="radio" id="detailed" name="courseType" value="Detailed" required [(ngModel)]="courseType">
                    <label for="detailed" class="skill">Detailed Course</label>
                </div>
            </div>
            <div class="form-group">
                <label>Language:</label>
                <input type="text" id="language" name="language" value="English" disabled>
            </div>
            <button type="submit" class="center-button" routerLink="/upload">Next</button>

                
                <!-- Other form fields with ngModel bindings -->
              
              </form>
              
