.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0d9d9; 
  }
.form-container {
    width: 60%; 
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
    .form-group {
       margin-left: 30px;
        margin-bottom: 15px;
      label { 
        display: block;
       font-weight: bold;
      }
      .skill{
        font-weight: 400;
      }
      input[type="text"],
      input[type="number"],
      textarea,
      select,
      input[type="file"] {
        width: 90%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      textarea {
        resize: vertical;
      }
      input[type="file"] {
        border: none;
        background-color: #ffffff;
      }
    }
    button {  
      background-color: #007791;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
      transition: background-color 0.3s;
      margin: 0 auto;
  
      &:hover {
        background-color: #005e6b;
      }
    }
    .center-button {
        margin: 0 auto; 
        display: block; 
    }
    .radio-group {
      display: flex;
      gap: 20px;
  }
  .duration-input {
      display: flex;
      gap: 10px;
  } 
  }
  