pdf-viewer {
     height: 90vh;
    width:80w;
    position: relative;
    top:6px;
   
}
.download{
   display: flex;
    flex-direction: row-reverse;
   margin: 20px 250px 0px 0px ;

  
}

a{
    text-decoration: none;
    color:black
}
.mat-icon-download{
    font-size: 20px;
    height: 17px;
    width: 20px;
}
