<app-subscribernav></app-subscribernav>
<mat-sidenav-container>
    <mat-sidenav #sideNav mode="side" opened>
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="container-wrapper">
            <div class="container">
                <form>
                    <div class="box">
                        <h1>Contact Us</h1>
                        <hr />
                    </div>
                    <div class="box">
                        <h2>Email and Phone</h2>
                        <p>Contact Email : nuncsystems@gmail.com</p>
                        <p>Contact Phone : 0987654321
                        </p>
                    </div>
                </form>
                <hr />
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
