<div class="container">
    <div class="heading">
      <h1>My Courses</h1>
    </div>
    <div class="image-grid">
      <div *ngFor="let image of mycoursesimages; let i = index" class="image-item">
  
        <div class="imagesContainer">
          <img [src]="image" class="img" alt="Random Image">

          <div class="overlay">
            <a routerLink="/courseinfo">
              <i class="fa fa-play-circle play-icon"></i>
            </a>
          </div>
        </div>
        <div class="headingsContainer">
          <h5>{{ headings[i] }}</h5>
          <p>{{ paragraphs[i] }}</p>
        </div>
        <div class="status-bar">
          <div class="status-fill" [style.width.%]="randomMyCourseValues[i]"></div>
        </div>
        <span>{{ randomMyCourseValues[i] }}%complete</span>
        <div class="ratingConatiner1">
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9734;</span>
        </div>
        <span class="ratingConatiner1">Leave a rating</span>
  
      </div>
    </div>
    <div class="heading">
      <h1>Available Courses</h1>
    </div>
    
    <div class="my-flex">
      <mat-form-field appearance="outline" id="filters">
        <mat-label>Filters</mat-label>
        <mat-select [matMenuTriggerFor]="filters">
          <mat-menu #filters="matMenu" yPosition="below">
            <button mat-menu-item [matMenuTriggerFor]="beginner">Beginner</button>
            <button mat-menu-item [matMenuTriggerFor]="intermediate">Intermediate</button>
            <button mat-menu-item [matMenuTriggerFor]="expert">Expert</button>
            <button mat-menu-item [matMenuTriggerFor]="student">Student</button>
          </mat-menu>
        </mat-select>
      </mat-form-field>
  
      <mat-menu #beginner="matMenu">
        <button mat-menu-item>Crash Course</button>
        <button mat-menu-item>Detailed Course</button>
      </mat-menu>
  
      <mat-menu #intermediate="matMenu">
        <button mat-menu-item>Crash Course</button>
        <button mat-menu-item>Detailed Course</button>
      </mat-menu>
  
      <mat-menu #expert="matMenu">
        <button mat-menu-item>Crash Course</button>
        <button mat-menu-item>Detailed Course</button>
      </mat-menu>
  
      <mat-menu #student="matMenu">
        <button mat-menu-item>Crash Course</button>
        <button mat-menu-item>Detailed Course</button>
      </mat-menu>
  
      <input type="text" placeholder="Search my courses" name="search" class="searchbox">
      <button type="submit" class="searchButton"><i class="fa fa-search"></i></button>
    </div>
  
    <div class="image-grid">
      <div *ngFor="let image of availablecoursesimages; let j = index" class="image-item">
  
        <div class="imagesContainer">
          <img [src]="image" class="img" alt="Random Image">
          <div class="overlay">
            <i class="fa fa-play-circle play-icon"></i>
          </div>
        </div>
        <div class="headingsContainer">
          <h5>{{ headings[j] }}</h5>
          <p>{{ paragraphs[j] }}</p>
        </div>
        <div class="status-bar">
          <div class="status-fill" [style.width.%]="randomAvailableCourses[j]"></div>
        </div>
        <span>{{ randomAvailableCourses[j] }}%complete</span>
        <div class="ratingsContainer">
          <div class="ratingConatiner2">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9734;</span>
          </div>
          <span class="ratingConatiner2">Rating by Reviewers</span>
          <div class="ratingConatiner2">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9734;</span>
          </div>
          <span class="ratingConatiner2">Rating by Subscribers</span>
          <div class="subscribers">
            <span>Number of Subscribers:{{randomSubscribersVales[j]}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <br/>
 
   
  