/* Your SCSS styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px;
  font-size: 15px;

  th, td {
    // border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover {
    background-color: #e5e5e5;
  }
}

/* Additional styling for the content within the table cells */
td {
  max-width: 200px; /* Adjust as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Back button styles */
div {
  margin-top: 20px;
}

.backbtn{
text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #007791;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #007791;
}
