<app-instructornav></app-instructornav>
<table>
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Status</th>
      <th>Approver</th>
      <th>Actions</th>
      <th>Date of Submission</th>
      <th>Date and Time of Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="course">
      <td>{{ course.name }}</td>
      <td [ngStyle]="{ 'color': getStatusColor(course.status) }">{{ course.status }}</td>
      <td>{{ course.approver }}</td>
      <td [ngStyle]="{ 'color': getStatusColor(course.status) }">{{ course.actions }}</td>
      <td>{{ course.submissionDate }}</td>
      <td>{{ course.actionDate }}</td>
    </tr>
  </tbody>
</table>
<br/>
<div class="backbtn">
  <button (click)="goBack()">Back</button>
</div>
<br/>
<br/>
<br/>

