.heading {
  background-color: rgb(35, 34, 34);
  color: white;
  padding: 50px 200px;

  h1 {
    font-size: xx-large;
    font-weight: 500;
  }

  .first-paragraph {
    font-size: large;
  }

  .icon {
    display: inline-flex;
    align-items: center;
  }

  .updated {
    font-size: 15px;
    padding: 0 10px 0 0;
  }

  .language {
    font-size: 15px;
    padding: 0 10px 0 30px;
  }

  .ratingConatiner {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .starNumber {
      padding: 0 10px 0 0;
    }
    .star,
    .fa .star {
      color: gold;
      font-size: 16px;
      //margin-bottom: 10px;
    }
  }
}

.courseDescription {
  border: 1px solid rgb(173, 172, 172);
  margin: 30px 200px;
  padding: 30px;
  .material-icons {
    font-size: medium;
  }
}

.courseFeatures {
  margin: 50px 200px;

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    .grid-item {
      border: 1px solid #ccc;
      padding: 1rem;
      display: flex;
      align-items: center;
      transition: background-color 0.3s;

      &:hover {
        cursor: pointer;
        background-color: #d7d5d5;
      }

      &:nth-child(3) {
        margin-bottom: 50px;
      }

      &:last-child {
        margin-bottom: 50px;
      }

      span {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }
}
mat-panel-title {
  display: flex;
  justify-content: space-between;
}
.titleDesc {
  display: flex;
  justify-content: space-between;
}
.custom-icon {
  font-size: 16px;
}
.titlehead {
  display: flex;
  justify-content: space-around;
}
.container,
.sectionsInfo {
  padding-left: 18px;
}
.title-text {
  font-size: 24px;
  padding-top: 10px;
}
.sectionsInfo {
  margin-top: 26px;
  margin-bottom: 15px;
}
.sectionInfo {
  border-radius: 2px;
  //box-shadow: 0px 0px 5px rgb(182, 176, 176);
  width: 100%;
  padding: 5px;
  z-index: 22;
  margin-bottom: 5px;
  letter-spacing: unset;
  background-color: #eae5e5;
}
.sectionDesc {
  margin: 0px 0px 0px 0px;
}
mat-card {
  border: 1px solid rgb(173, 172, 172);
  margin-bottom: 26px;
}
.star1 {
  font-size: 20px;
}
.course-container {
  width: 240px;
  //height: 350px;
  background-color: #fdfefe;
  border: 1px solid #b3b1b2f3;
  padding: 10px;
  padding-top: 25px;
  box-shadow: 0px 0px 10px rgb(163, 161, 161);
  text-align: center;
  position: fixed;
  bottom: 50px;
  z-index: 50;
  right: 5px;
  .add-to-cart {
    padding: 10px;
    button.add-button {
      width: 120px;
      border: 1px solid #b4b2b2;
      background-color: purple;
      color: white;
      padding: 10px;
      transition: background-color 0.3s, color 0.3s;
      cursor: pointer;
    }
  }

  .not-subscribed {
    color: #333;
    margin: 3px 0;
  }

  .buy-course {
    padding: 10px;
    .buy-button {
      width: 120px;
      border: 1px solid #ccc;
      background-color: rgb(23, 12, 216);
      padding: 10px;
      cursor: pointer;
      color: #fdfefe;
    }
  }

  .container1{
    .container2{
        border: 1px solid rgb(173, 172, 172);
        padding: 2%;
    }
    .heading1{
      font-weight: 700;
      font-size: x-large;
    }
  
    .author {
      font-weight: 500;
      font-size: x-large;
      color: rgb(71, 71, 254);
      text-decoration: underline;
      cursor: pointer;
    }
  
    .text {
      font-size: large;
      color: grey;
    }
  
    .avatar {
      width: 170px;
      height: 170px;
      float: left;
    }
  
    .iconsContainer {
      clear: both;
    }
    .icon {
      display: inline-flex;
    }
    .icon p {
      padding: 3px 0 0 20px;
    }
  
    .icons {
      display: grid;
      padding: 20px 0 0 10px;
    }
  
    .reviews-badge {
      width: 19px;
      height: 19px;
    }
  
    .courseRatingsHeading {
      margin-top: 50px;
      font-weight: 600;
      font-size: x-large;
    }
  
    .courseRatingContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      margin-bottom: 20px;
    
      .courseRating {

}
.container1 {
  .container2 {
    border: 1px solid rgb(173, 172, 172);
    padding: 2%;
  }
  .heading1 {
    font-weight: 700;
    font-size: x-large;
  }

  .author {
    font-weight: 500;
    font-size: x-large;
    color: rgb(71, 71, 254);
    text-decoration: underline;
  }

  .text {
    font-size: large;
    color: grey;
  }

  .avatar {
    width: 170px;
    height: 170px;
    float: left;
  }

  .iconsContainer {
    clear: both;
  }
  .icon {
    display: inline-flex;
  }
  .icon p {
    padding: 3px 0 0 20px;
  }

  .icons {
    display: grid;
    padding: 20px 0 0 10px;
  }

  .reviews-badge {
    width: 19px;
    height: 19px;
  }

  .courseRatingsHeading {
    margin-top: 50px;
    font-weight: 600;
    font-size: x-large;
  }

  .courseRatingContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;

    .courseRating {
      display: flex;
      flex-direction: column;
      position: relative;

      &::before {
        content: "";
        width: 100%;
        border-top: 1px solid #ccc;
        grid-column: span 2;
        margin-bottom: 20px;
      }

      .circle {
        width: 40px;
        height: 40px;
        border-radius: 40px;
        background-color: black;
        color: white;
        text-align: center;
        line-height: 40px;
        font-weight: 500;
        font-size: large;
      }

      .alignment {

        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10px;
        left: 52px;

        .starsRating {
          display: flex;
          align-items: center;

          .star {
            color: gold;
            font-size: 20px;
          }
        }
      }

      .courseRatingText {
        margin-top: 30px;
      }
    }
  }
}

.overlay {
  position: relative;
  top: 20px;
  box-shadow:0px 0px 10px whitesmoke ;
  //background-color: rgba(0,0,0,0.5);
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.contentt {
  background-color: #fff;
  padding: 20px;
  color: #050505;
}

.close {
  position: relative;
  text-align: end;
  cursor: pointer;
  font-size: 30px;
}
.staricon {
  font-size: 45px;
  padding: 14px;
  margin: 15px;
  margin-top: 5px;
}
.staricon:hover {
  color: orange
}
.contentt h1 {
  text-align: center;
  margin-bottom: 0px;
}
.active {
  color:  orange;
}
.staricon.disabled {
  pointer-events: none; 
  cursor: not-allowed; 
}
.custom-textarea {
  margin-top: 10px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px whitesmoke;
  border-radius: 5px;
  background-color: #fff;
  padding: 8px;
  font-size: 16px;
  margin-left: 31px;
}

.custom-button {
  background-color: #007bff;
  margin-top: 10px;
  width: 80px;
  margin-left: 160px;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.giverating {
  font-size: 20px;
  background-color: rgb(215, 17, 175);
  border: none;
  color: white;
  width: 160px;
  height: 40px;
  border-radius: 2px;
  cursor: pointer;
}
    }
  }
}