.overview-container {
    display: flex;
    justify-content: space-between;
    /* // margin: 20px auto; */
    width: 90%;
    /* // background-color: white; */
    margin: 0px;
    margin-top: 25px;

}

.body-head p {
    width: 700px;
}

