<div class="main overview">
    <div class="body-head">
        <h1>About this course</h1>
        <p>
            10 Hours of React just added. Become a Developer With ONE course -
            HTML, CSS,JavaScript, React, Node, MongoDB and More!
        </p>
        <hr />
    </div>
    <div class="overview-container">
        <div>
            <p>By the numbers</p>
        </div>
        <div>
            <p>Skill level: All Levels</p>
            <p>Students: 880,395</p>
            <p>Languages: English</p>
            <p>Captions: Yes</p>
        </div>
        <div>
            <p>Lectures: 722</p>
            <p>Video: 74 total hours</p>
        </div>
    </div>
</div>
