<section class="about-us">
    <div class="container">
      <div class="section-header">
        <h2>About 5th Estate ADR</h2>
      </div>
      <div class="section-content">
        <div class="app-info">
          <h3>Our Platform</h3>
          <p>
            e-Law Learning is an online platform dedicated to providing high-quality legal education and resources. We
            offer a wide range of courses, resources, and tools for aspiring lawyers, law students, and legal
            professionals.
          </p>
        </div>
        <div class="app-description">
          <h3>Our Mission</h3>
          <p>
            Our mission is to make legal education accessible to everyone, regardless of their location or background. We
            aim to empower individuals with the knowledge and skills needed to excel in the legal field.
          </p>
        </div>
      </div>
    </div>
  </section>
  
  <h1><b>Advisor Profiles</b></h1>
  <div class="carosol">
    <p-carousel [value]="advisorProfiles" [numVisible]="3" [numScroll]="3" [circular]="true">
      <ng-template let-profile pTemplate="item">
        <div class="teacher-profile Advisor" >
          <div *ngIf="profile.imageURL">
            <img [src]= "s3BaseURL + profile.imageURL" id="previewImage">
          </div>
          <div *ngIf="!profile.imageURL">
            <img class="avatar text-center" [src]="photo" alt="Teacher Photo">
          </div>
          <h2 class="text-center"><a (click)="  navigateToAdvisorInfo(profile.id)">{{ profile.name }}</a></h2>
          <h3 class="text-center profile-title">{{ profile.jobTitle}}</h3>
          <p class="profile-about">{{ profile.about }}</p>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <h1><b>Instructor Profiles</b></h1>
  <div class="carosol">
    <p-carousel [value]="instructorProfiles" [numVisible]="3" [numScroll]="3" [circular]="true">
      <ng-template let-profile pTemplate="item">
        <div class="teacher-profile">
          <div *ngIf="profile.imageURL">
            <img [src]= "s3BaseURL + profile.imageURL" id="previewImage">
          </div>
          <div *ngIf="!profile.imageURL">
            <img class="avatar text-center" [src]="photo" alt="Teacher Photo">
          </div>
          <h2 class="text-center"><a (click)="navigateToInstructorInfo(profile.id)">{{ profile.name }}</a></h2>
          <h3 class="text-center profile-title">{{ profile.jobTitle}}</h3>
          <p class="profile-about">{{ profile.about }}</p>
          <p><b>Number of Courses  :</b> {{ profile.course_count }}</p>
          <p><b>Number Subscribers :</b> {{ profile.subscriber_count }}</p>
          <p><b>Ratings:</b> {{profile.rating}}({{profile.ratings_count}})</p>
        </div>
      </ng-template>
    </p-carousel>
  </div>