.container {
    width:83%;
    margin: 0 auto;
    margin-top:40px;
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .section-header h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  .app-info, .app-description {
    padding: 20px;
    border-bottom: 1px solid #ccc;
  }
  
  .app-info h3, .app-description h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .app-info p, .app-description p {
    font-size: 16px;
    color: #666;
  }
 
  .carosol{
    width: 90%;
    margin: 0% 4%;
    font-size: 24px !important;
  }
  .teacher-profile {
    width: 330px;
    height:450px;
    margin: 27px;
    background-color: #fff;
    padding: 10px;
    padding-top: 10px;
    border: 1px solid grey;
    border-radius: 8px;
    box-sizing: border-box;
  }
  .text-center{
    text-align: center;
    justify-content: center;
  }
  
  .teacher-profile h3 {
    font-size: 1rem;
  }

  .teacher-profile p {
    font-size: 0.9rem;
    color: #444;
  }
  ul li.p-carousel-indicator {
    display: none;
  }
  h1{
    margin-left: 6%;
  }
  .avatar {
    // width: 130px;
    // height: 130px;
    // margin-left: 71px;
    width: 100px;
    height: 100px;
    display: flex;
    margin:0 auto;
    // float: left;
    object-fit: cover;
  }
  a{
    cursor: pointer;
    text-decoration: underline;
    color:rgb(62, 5, 176)
  }
  .profile-about {
    text-align: justify;
    display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4; /* Change this value to limit the number of lines */
  line-height: 1.5; /* Adjust line height as needed */
  max-height: calc(1.5 * 4); 
  
  }
  .profile-title{
    font-weight: 900;
  }
  #previewImage {
    width: 100px;
    height: 100px;
    // margin-left: 79px;
    display: flex;
    margin:0 auto;
    object-fit: cover;
  }
  .Advisor{
height: 310px;
  }