
.page-container {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  height: 69%; /* Set the height of the container to 100% of the viewport height */
  background-color: #e0d9d9; /* Add your desired background color */
  margin-bottom: 100px;
  padding: 60px 10px;
}

  .carousel-container {
  width: 50%; 
  padding: 10px; 
}

  .carousel-container img {
  display: block; 
  margin: 0 auto;
  margin-left: 11%;  
  border: 1px solid rgb(198, 194, 194);
}

.container {
max-width: 300px;
margin: 0 auto;
padding: 40px;
background-color: #fff;
}
.login-box {
      // width: 100%;
      background-color: #fff;
      // border: 1px solid #ccc;
      padding-left: 12px;
      // text-align: center;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      flex: 1; 
      justify-content: center;
      // align-items: center;
      // margin-left: 50px;
    // margin-top: 10px;

   
    h2 {
      // margin-bottom: 20px;
      text-align: center;
    }   
    
}


input, select, button {
margin-bottom: 10px;
width: 90%;
padding: 8px;
// text-align: left;
}
#role{
  width: 97%;
 padding: 8px;
}
button{
width: 40%;
margin-left: 80px;
background-color: #1331d7;
color:rgb(255, 255, 255);
            border: none;
            border-radius: 5px;
            padding: 8px 16px;
            cursor: pointer;
}
button:disabled {
background-color: rgb(125, 137, 149);
cursor: not-allowed;
width: 40%;
margin-left: 80px;
}
.error-message {
color: red;

}

/* Change input border color to red when there's an error */
.error-input {
border-color: black;
}
.redirect{
  cursor:pointer;
  text-align: center;
 // text-decoration: underline;
  color: blue;
  //padding-bottom: 15px;

}
.redirectlogin{
  padding-bottom: 15px;
}
.snackbar-top {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  background-color: #fff;
  color: #000;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  z-index: 10;
  padding: 10px;
  text-align: center;
}

.snackbar-top button {
  margin-top: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
}
.termsandcon{
  cursor: pointer;
  font-size: 16px;
  color: rgb(10, 10, 10);
  
}
.acceptTerms{
  margin: 6px 0px;
}
.termsandcon a {
  // text-align: center;
 
  text-decoration: none;
}
.asterick {
  color: red;
  font-size: 20px;
}


