<app-firstnav></app-firstnav>
<div class="page-container">
  <div class="carousel-container">
    <img [src]="lawimage" alt="Image" width="600" height="380" />
  </div>
  <div class="container">
    <div class="login-box">
      <h2>Register</h2>
      <form [formGroup]="loginForm">
        <label for="name">Name:</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          (input)="checkInput()"
        />
        <div
          class="error-message"
          *ngIf="
            loginForm.get('name')?.hasError('required') &&
            loginForm.get('name')?.touched
          "
        >
          Name is required.
        </div>
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          (input)="checkInput()"
        />
        <div
          class="error-message"
          *ngIf="
            loginForm.get('email')?.hasError('required') &&
            loginForm.get('email')?.touched
          "
        >
          Email is required.
        </div>
        <div
          class="error-message"
          *ngIf="
            loginForm.get('email')?.hasError('email') &&
            loginForm.get('email')?.touched
          "
        >
          Invalid email format.
        </div>

        <label for="phone">Phone:</label>
        <input
          type="tel"
          id="phone"
          formControlName="phone"
          (input)="checkInput()"
        />
        <div
          class="error-message"
          *ngIf="
            loginForm.get('phone')?.hasError('required') &&
            loginForm.get('phone')?.touched
          "
        >
          Phone is required.
        </div>
        <div
          class="error-message"
          *ngIf="
            loginForm.get('phone')?.hasError('pattern') &&
            loginForm.get('phone')?.touched
          "
        >
          Invalid phone format. (10 digits required)
        </div>
        <label for="category">Category:</label>
        <select
          id="role"
          formControlName="selectedCategory"
          [disabled]="!isSendOtpsClicked"
        >
          <option value="Subscriber">Subscriber</option>
          <option value="Reviewer">Reviewer</option>
          <option value="Instructor">Instructor</option>
          <option value="Content_Manager">Content Manager</option>
          <option value="Admin">Admin</option>
        </select>
        <br/>
        <br>
        <button
          *ngIf="!isOtpVisible"
          (click)="sendOtps()"
          [disabled]="!isInputFilled"
        >
          Send OTPs
        </button>
        <div *ngIf="isOtpVisible">
          <label for="emailOtp">Email OTP:</label>
          <input
            type="text"
            id="emailOtp"
            formControlName="emailOtp"
            required
            [attr.autocomplete]="'off'"
            (input)="onEmailOtpInput($event)"

          />
          <div
            class="error-message"
            *ngIf="
              loginForm.get('emailOtp')?.hasError('required') &&
              loginForm.get('emailOtp')?.touched
            "
          >
            Email OTP is required.
          </div>
          <div class="error-message" *ngIf="loginForm.get('emailOtp')?.hasError('pattern') && loginForm.get('emailOtp')?.touched">
            Email OTP must consist of digits only.
          </div>
  
          <label for="phoneOtp">Phone OTP:</label>
          <input
            type="text"
            id="phoneOtp"
            formControlName="phoneOtp"
            required
            [attr.autocomplete]="'off'"
            (input)="onPhoneOtpInput($event)"

          />
          <div
            class="error-message"
            *ngIf="
              loginForm.get('phoneOtp')?.hasError('required') &&
              loginForm.get('phoneOtp')?.touched
            "
          >
            Phone OTP is required.
          </div>
          <div
            class="error-message"
            *ngIf="
              loginForm.get('phoneOtp')?.hasError('pattern') &&
              loginForm.get('phoneOtp')?.touched
            "
          >
         Phone OTP must consist of digits only.
          </div>
        </div>

        <button
          *ngIf="isLoginVisible"
          [disabled]="loginForm.get('emailOtp')?.value.length !== 6 || loginForm.get('phoneOtp')?.value.length !== 6 || !loginForm.valid"
          [ngStyle]="{
            'background-color': loginForm.get('emailOtp')?.value.length == 6 && loginForm.get('phoneOtp')?.value.length == 6 && loginForm.valid ? 'blue' : 'gray',
            color: loginForm.get('emailOtp')?.value.length == 6 && loginForm.get('phoneOtp')?.value.length == 6 && loginForm.valid ? 'white' : 'black'
          }"
          (click)="signupVerify()"
          
        >
          Register
        </button>
       <br/>
       <br/>
        <div class="no-account redirect" routerLink="/login">
       
        <div class="no-account redirect" >
          Already have account ?
        </div>
        <!-- <div class="no-account redirect redirectlogin" routerLink="/login">
        
        </div> -->
        <br/>
        <div class="termsandcon">
          <a routerLink="/termsandcon">Terms & Conditions</a>
        </div>
      </div>
    </form>
  </div>
</div>
