.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 69%;
  background-color: #e0d9d9;
  padding: 60px 10px;
}

.carousel-container {
  width: 50%;
  padding: 10px;
}

.carousel-container img {
  display: block;
  margin: 0 auto;
  margin-left: 11%;
  border: 1px solid rgb(198, 194, 194);
}

.container {
  width: 300px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
}

.login-box {
  // width: 100%;
  background-color: #fff;
  // border: 1px solid #ccc;
  padding-left: 12px;
  // text-align: center;
  // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  justify-content: center;
  // align-items: center;
  // margin-left: 50px;
  // margin-top: 10px;

  h2 {
    // margin-bottom: 20px;
    text-align: center;
  }
}

input,
select,
button {
  margin-bottom: 10px;
  width: 90%;
  padding: 8px;
  // text-align: left;
}

#role {
  width: 97%;
  padding: 8px;
}

button {
  width: 40%;
  margin-left: 80px;
  background-color: #1331d7;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  margin-bottom: 0px;
}

button:disabled {
  background-color: rgb(125, 137, 149);
  cursor: not-allowed;
  width: 40%;
  margin-left: 80px;
}

.error-message {
  color: red;
}

/* Change input border color to red when there's an error */
.error-input {
  border-color: black;
}

.redirect {
  cursor: pointer;
  color: blue;
}

.have-account {
  margin-left: 34px;
}

.redirectlogin {
  padding-bottom: 15px;
}

.snackbar-top {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  background-color: #fff;
  color: #000;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  z-index: 10;
  padding: 10px;
  text-align: center;
}

.snackbar-top button {
  margin-top: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.termsandcon {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(10, 10, 10);
}

.acceptTerms {
  margin: 6px 0px;
  margin-bottom: 14px;
  margin-left: 40px;
}

.termsandcon {
  margin-left: 50px;
}

.submission-status {
  background-color: white;
  transform: translate(30%, 0px);
  width: 700px;
  height: 200px;
  padding: 20px;
  margin: 60px;
  border-radius: 8px;
  font-size: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .close-icon {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.login-button {
  width: 14%;
  position: relative;
  left: -50px
}