<nav class="navbar">
<div class="logo">Lawlang</div>
<div class="heading1">Introduction to Law: A Comprehensive Overview</div>
<div class="leave-rating">
<span>
  <mat-icon>grade</mat-icon>
</span>
<span (click)="leaveRatingOpen()">
Leave  rating
</span>
</div>

<div class="overlay" *ngIf="showRating">
  <div class="contentt">
    <div class="close" (click)="leaveRatingClose()">&times;</div>
    <h1 >How would you rate this course?</h1>
    <ng-container *ngFor="let i of stars">
      <mat-icon
      (click)="updaterating(i)"
        [ngClass]="{ active: i <= selected }"
        class="staricon"
      >
        star
      </mat-icon>
    </ng-container>
  </div>
</div>
<div (click)="yourProgressOpen()" class="progress">
  <mat-icon>emoji_events</mat-icon>
  Your Progress
  <span><mat-icon>{{ yourProgress ? "keyboard_arrow_up" : "keyboard_arrow_down" }}</mat-icon></span>
  </div>
  <div class="pop" *ngIf="yourProgress">
  <div class="close1" (click)="yourProgressClose()">&times;</div>
  <br>
  <div>4 of 15 Videos completed</div>
  <br>
  <div>Finish course to get your certificate</div>
  </div> 
</nav>