.navbar{
  display: flex;
  padding-top: 20px;
  justify-content: space-evenly;
  background-color:black;
  color: #f4eeee;
  font-size: 1rem;
}
.logo ,.heading1{
  padding-top:10px;
}
.overlay{
  position: absolute;
  top: 0;
  left:0;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.contentt{
  background-color: #fff;
  padding: 20px;
  color: #050505;
}
.pop{
  position: absolute;
  top: 60px;
  right:30px;
  padding: 30px;
  background-color: #fff;
  color:black;
  font-size:16px;
  z-index: 30;
}
.close{
  position: relative; 
 text-align: end;
 cursor: pointer;
 font-size:30px;
}
.staricon{
  font-size:45px;
  padding: 14px;
   margin: 15px;
   margin-top: 5px;
}
.progress{
  display: flex;
  margin-left: 30px;
  align-items: center;
}
.progress span ,.leave-rating span{
  margin-top: 12px;
}
.contentt h1{
  text-align: center;
  margin-bottom: 0px;
}
.active{
  color:orange;
  }
.close1{
  color: #050505;
  position: relative; 
  text-align: end;
  cursor: pointer;
  font-size:30px;
  margin-top: 0px;
 
}
.custom-textarea {
  margin-top:10px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px whitesmoke;
  border-radius: 5px;
  background-color: #fff;
  padding: 8px;
  font-size: 16px;
  margin-left: 31px;
}

.custom-button {
  background-color: #007bff;
  margin-top:10px;
  width:80px;
  margin-left: 160px;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.review{
  // text-align: center;
}
