<!-- <div class="pdf-list">
    <ul>
      <li *ngFor="let pdfName of pdfNames" (click)="loadPdf(pdfName)">
        {{ pdfName }}
      </li>
    </ul>
  </div>
  
  <div *ngIf="pdfUrl" class="pdf-container">
    <iframe [src]="pdfUrl" width="100%" height="500px"></iframe>
  </div> -->
<app-nav></app-nav>
<div class="container">
  <h1 class="knowledgeCentre">Library</h1>

  <table border="1" class="pdftable">
    <tbody>
      <tr>
        <td><mat-icon>picture_as_pdf</mat-icon></td>
        <td target="blank" (click)="openFile()">
          ATOMIC ENERGY DEFENSE PROVISIONS
        </td>
      </tr>
      <tr>
        <td><mat-icon>picture_as_pdf</mat-icon></td>
        <td target="blank" (click)="openFile()">DISPOSAL OF RECORDS</td>
      </tr>
      <tr>
        <td><mat-icon>picture_as_pdf</mat-icon></td>
        <td target="blank" (click)="openFile()">ADVISORY COMMITTEE ON THE RECORDS OF CONGRESS</td>
      </tr>
      <tr>
        <td><mat-icon>picture_as_pdf</mat-icon></td>
        <td target="blank" (click)="openFile()">RECORDS MANAGEMENT BY FEDERAL AGENCIES</td>
      </tr>
      <tr>
        <td><mat-icon>picture_as_pdf</mat-icon></td>
        <td target="blank" (click)="openFile()">Economy in Government Act</td>
      </tr>
      <tr>
        <td><mat-icon>picture_as_pdf</mat-icon></td>
        <td target="blank" (click)="openFile()">
          ATOMIC ENERGY DEFENSE PROVISIONS
        </td>
      </tr>
      <tr>
        <td><mat-icon>picture_as_pdf</mat-icon></td>
        <td target="blank" (click)="openFile()">
          ATOMIC ENERGY DEFENSE PROVISIONS
        </td>
      </tr>
      <tr>
        <td><mat-icon>picture_as_pdf</mat-icon></td>
        <td target="blank" (click)="openFile()">
          ATOMIC ENERGY DEFENSE PROVISIONS
        </td>
      </tr>
      <tr>
        <td><mat-icon>picture_as_pdf</mat-icon></td>
        <td target="blank" (click)="openFile()">
          ATOMIC ENERGY DEFENSE PROVISIONS
        </td>
      </tr>
      <tr>
        <td><mat-icon>picture_as_pdf</mat-icon></td>
        <td target="blank" (click)="openFile()">
          ATOMIC ENERGY DEFENSE PROVISIONS
        </td>
      </tr>
      <tr>
        <td><mat-icon>picture_as_pdf</mat-icon></td>
        <td target="blank" (click)="openFile()">
          ATOMIC ENERGY DEFENSE PROVISIONS
        </td>
      </tr>
      <tr>
        <td><mat-icon>picture_as_pdf</mat-icon></td>
        <td target="blank" (click)="openFile()">
          ATOMIC ENERGY DEFENSE PROVISIONS
        </td>
      </tr><tr>
        <td><mat-icon>picture_as_pdf</mat-icon></td>
        <td target="blank" (click)="openFile()">
          ATOMIC ENERGY DEFENSE PROVISIONS
        </td>
      </tr>
    </tbody>
  </table>
</div>
