
<app-firstnav></app-firstnav>
<div class="container">
  <h1 class="knowledgeCentre fixed-header">Library</h1>


  <div class="fixed-header">
    <app-firstnav></app-firstnav>
    <h1 class="knowledgeCentre">Library</h1>
  </div>

  
  <table border="1" class="pdftable">
    <tbody>
      <tr>
        <td><a href="https://medicine.hofstra.edu/pdf/faculty/facdev/facdev_sixlaws_oflearning.pdf">https://medicine.hofstra.edu/pdf/faculty/facdev/facdev_sixlaws_oflearning.pdf</a></td>
        <br/>
        <br/>
        <br/>
      </tr>
      
      <tr>
        <td><a href="https://www.uncfsu.edu/assets/Documents/College%20of%20Business%20and%20Economics/legal.pdf">https://www.uncfsu.edu/assets/Documents/College%20of%20Business%20and%20Economics/legal.pdf</a></td>
        <br/>
        <br/>
        <br/>
      </tr>
      <tr>
        <tr>
          <td><a href="https://medicine.hofstra.edu/pdf/faculty/facdev/facdev_sixlaws_oflearning.pdf">https://medicine.hofstra.edu/pdf/faculty/facdev/facdev_sixlaws_oflearning.pdf</a></td>
          <br/>
          <br/>
          <br/>
        </tr>
        
        <tr>
          <td><a href="https://www.uncfsu.edu/assets/Documents/College%20of%20Business%20and%20Economics/legal.pdf">https://www.uncfsu.edu/assets/Documents/College%20of%20Business%20and%20Economics/legal.pdf</a></td>
          <br/>
          <br/>
          <br/>
        </tr>
        <tr>
          <tr>
            <td><a href="https://medicine.hofstra.edu/pdf/faculty/facdev/facdev_sixlaws_oflearning.pdf">https://medicine.hofstra.edu/pdf/faculty/facdev/facdev_sixlaws_oflearning.pdf</a></td>
            <br/>
            <br/>
            <br/>
          </tr>
          
          <tr>
            <td><a href="https://www.uncfsu.edu/assets/Documents/College%20of%20Business%20and%20Economics/legal.pdf">https://www.uncfsu.edu/assets/Documents/College%20of%20Business%20and%20Economics/legal.pdf</a></td>
            <br/>
            <br/>
            <br/>
          </tr>
          <tr>
            <tr>
              <td><a href="https://medicine.hofstra.edu/pdf/faculty/facdev/facdev_sixlaws_oflearning.pdf">https://medicine.hofstra.edu/pdf/faculty/facdev/facdev_sixlaws_oflearning.pdf</a></td>
              <br/>
              <br/>
              <br/>
            </tr>
            
            <tr>
              <td><a href="https://www.uncfsu.edu/assets/Documents/College%20of%20Business%20and%20Economics/legal.pdf">https://www.uncfsu.edu/assets/Documents/College%20of%20Business%20and%20Economics/legal.pdf</a></td>
              <br/>
              <br/>
              <br/>
            </tr>
            <tr>
              <tr>
                <td><a href="https://medicine.hofstra.edu/pdf/faculty/facdev/facdev_sixlaws_oflearning.pdf">https://medicine.hofstra.edu/pdf/faculty/facdev/facdev_sixlaws_oflearning.pdf</a></td>
                <br/>
                <br/>
                <br/>
              </tr>
              
              <tr>
                <td><a href="https://www.uncfsu.edu/assets/Documents/College%20of%20Business%20and%20Economics/legal.pdf">https://www.uncfsu.edu/assets/Documents/College%20of%20Business%20and%20Economics/legal.pdf</a></td>
                <br/>
                <br/>
                <br/>
              </tr>
            
     
    </tbody>
  </table>
</div>
<br/>
<br/>
<br/>
<br/>
