<div class="pdf-list">
    <ul>
      <li *ngFor="let pdfName of pdfNames" (click)="loadPdf(pdfName)">
        {{ pdfName }}
      </li>
    </ul>
  </div>
  
  <div *ngIf="pdfUrl" class="pdf-container">
    <iframe [src]="pdfUrl" width="100%" height="500px"></iframe>
  </div>
  
  
  












  
  <!-- <div class="container">
    <h1>Knowledge Centre</h1>
    
    <table border="1">
        <tbody>
            
            <tr>
               
                <td>    <mat-icon>picture_as_pdf</mat-icon></td>
                
                <td>ATOMIC ENERGY DEFENSE PROVISIONS</td>
                 </tr>
            
            <tr>
               
                <td>    <mat-icon>picture_as_pdf</mat-icon></td>
                
                <td>DISPOSAL OF RECORDS</td>
                </tr>
           
            <tr>
             
                <td>    <mat-icon>picture_as_pdf</mat-icon></td>
                
                <td>ADVISORY COMMITTEE ON THE RECORDS OF CONGRESS</td>
                 </tr>
           
            <tr>
               
                <td>    <mat-icon>picture_as_pdf</mat-icon></td>
               
                <td>RECORDS MANAGEMENT BY FEDERAL AGENCIES</td>
                  </tr>
           
            <tr>
               
                <td>    <mat-icon>picture_as_pdf</mat-icon></td>
                
                <td>Economy in Government Act</td>
                     </tr>
        </tbody>
    </table></div>
 -->
