.loading-overlay {
  position: relative;
  top: 0;
  left: 0;
 
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

mat-spinner {
  color: rgb(112, 108, 108);
}

.error-overlay {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 200px;
  margin: 0 auto;
}