<div *ngIf="course">
  <h1>{{ course.title }}</h1>
  <!-- <img [src]="getThumbnailUrl(course.thumbnail)" alt="{{ course.title }}" width="300" height="200" (error)="onImageError($event)"> -->
  <p>Duration: {{ course.duration }}</p>
  <p>Difficulty Level: {{ course.difficultyLevel }}</p>
  <p>Type: {{ course.type }}</p>
  
</div>




<!-- 
<mat-divider></mat-divider>
<div>
  <div class="course-info-container">
    <mat-tab-group>
    <mat-tab label="Overview">
       <div class="tabs">
      <app-sharedoverview></app-sharedoverview>
      </div> 
    </mat-tab>
    <mat-tab label="Watch Content">
      <app-videoplayer></app-videoplayer>
   </mat-tab>
  </mat-tab-group>
</div> -->
