<!-- <div *ngIf="course">
  <h1>{{ course.title }}</h1>
  <p>Description: {{ course.description }}</p>
</div> -->

<ng-template matStepLabel>Course Preview</ng-template>
<div>
    <div class="course-info-container">
        <mat-tab-group>
            <mat-tab label="Overview">
                <div class="tabs">
                   <app-sharedoverview [course] = "course" *ngIf="course"></app-sharedoverview>
                </div>
            </mat-tab>
            <mat-tab label="Watch Content">
                <app-videoplayer [course] = "course"></app-videoplayer>
            </mat-tab>
        </mat-tab-group>
    </div>
    <!-- <div class="button-container"> -->
        <!-- <button type="button" (click)="onPrevious(stepper)" class="enabled-button">
            <mat-icon class="black-icon">keyboard_arrow_left</mat-icon>Previous
        </button> -->
        <!-- <button type="button" (click)="onSubmit()" class="enabled-button">
            Submit
        </button> -->
    <!-- </div> -->
</div>





<!-- 
<mat-divider></mat-divider>
<div>
  <div class="course-info-container">
    <mat-tab-group>
    <mat-tab label="Overview">
       <div class="tabs">
      <app-sharedoverview></app-sharedoverview>
      </div> 
    </mat-tab>
    <mat-tab label="Watch Content">
      <app-videoplayer></app-videoplayer>
   </mat-tab>
  </mat-tab-group>
</div> -->
