<app-subscribernav></app-subscribernav>

<div class="container">
  <div class="heading">
    <h1>My Courses</h1>
  </div>
  <div class="image-grid" >
    <div *ngFor="let image of mycoursesimages; let i = index" class="image-item" routerLink="/courseInfo">
      <div class="imagesContainer">
        <img [src]="image" width="300" height="200" class="img" alt="Random Image">
        <div class="overlay" >
          <a>
            <i class="fa fa-play-circle play-icon"></i>
          </a>
        </div>
        <span class="duration">{{ myCoursesDurations[i] }}</span>
      </div>
      <div class="headingsContainer">
        <h5>{{ myCoursesHeadings[i] }}</h5>
        <p>{{ myCoursesAuthors[i] }}</p>
        <h4>{{ myCoursesText[i] }}</h4>
      </div>
      <div class="status-bar">
        <div class="status-fill" [style.width.%]="randomMyCourseValues[i]"></div>
      </div>
      <span>{{ randomMyCourseValues[i] }}% complete</span>
      <div class="ratingscontainer1">
        <div class="ratingConatiner2">
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9734;</span>
        </div>
        <div class="ratingConatiner2">
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9734;</span>
        </div>
      </div>
      <div class="ratingscontainer1">
        <div class="ratingConatiner2">
          <span>Reviewer Ratings</span>
        </div>
        <div class="ratingConatiner2">
          <span>Subscribers Ratings</span>
        </div>
      </div>
      <div class="subscribers" style="font-weight: 410;">
        <span>Number of Subscribers:{{ myCourseSubscribers[i] }}</span>
        <p>Course Expires on: {{ randomFutureDates[i] | date: 'dd MMM yyyy' }}</p>
      </div>
    </div>
  </div>

  <div class="heading">
    <h1>Available Courses</h1>
  </div>
  <div class="my-flex">
    <mat-form-field appearance="outline" id="filters">
      <mat-label>Filters</mat-label>
      <mat-select [matMenuTriggerFor]="filters">
        <mat-menu #filters="matMenu" yPosition="below">
          <button mat-menu-item [matMenuTriggerFor]="beginner" style="width: 200px;">Beginner</button>
          <button mat-menu-item [matMenuTriggerFor]="intermediate">Intermediate</button>
          <button mat-menu-item [matMenuTriggerFor]="expert">Expert</button>
          <button mat-menu-item [matMenuTriggerFor]="student">Student</button>
        </mat-menu>
      </mat-select>
    </mat-form-field>
    <mat-menu #beginner="matMenu">
      <button mat-menu-item>Crash Course</button>
      <button mat-menu-item>Detailed Course</button>
    </mat-menu>
    <mat-menu #intermediate="matMenu">
      <button mat-menu-item>Crash Course</button>
      <button mat-menu-item>Detailed Course</button>
    </mat-menu>
    <mat-menu #expert="matMenu">
      <button mat-menu-item>Crash Course</button>
      <button mat-menu-item>Detailed Course</button>
    </mat-menu>
    <mat-menu #student="matMenu">
      <button mat-menu-item>Crash Course</button>
      <button mat-menu-item>Detailed Course</button>
    </mat-menu>
  </div>

  <div class="image-grid">
    <div *ngFor="let image of availablecoursesimages; index as j;" class="image-item"
      (mouseover)="openMyMenu($event, j)" (mouseleave)="closeMyMenu(j)">
      <div class="imagesContainer">
        <img [src]="image" width="300" height="200" class="img" alt="Random Image">
        <div class="overlay">
          <a routerLink="/overview" [queryParams]="{ showDiv: 'true' }">
            <i class="fa fa-play-circle play-icon"></i>
          </a>
        </div>
        <app-course-card *ngIf="showCard[j]"
        [product]="{ id: j, image: image, heading: availableCoursesHeadings[j], coursesText: availableCoursesText[j], duration: availableCoursesDurations[j], price: coursePrice[j]}"
        [heading]="availableCoursesHeadings[j]" [content]="courseContent[j]" [style]="tooltipPosition"
        class="course-card-component">
      </app-course-card>

        <span class="duration">{{ availableCoursesDurations[j] }}</span>
      </div>
      <div class="headingsContainer">
        <h5>{{ availableCoursesHeadings[j] }}</h5>
        <p>{{ availableCoursesAuthors[j] }}</p>
        <h4>{{ availableCoursesText[j] }}</h4>
      </div>
      <div class="ratingscontainer1">
        <div class="ratingConatiner2">
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9734;</span>
        </div>
        <div class="ratingConatiner2">
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9734;</span>
        </div>
        
      </div>
      <div class="ratingscontainer1">
        <div class="ratingConatiner2">
          <span>Reviewer Ratings</span>
        </div>
        <div class="ratingConatiner2">
          <span>Subscribers Ratings</span>
        </div>
      </div>
      <div class="subscribers" style="font-weight: 410;">
        <span>Number of Subscribers:{{ availableCourseSubscribers[j] }}</span>
        <h5 class="price">Price : ₹{{ coursePrice[j] }}</h5>
      </div>
    </div>
  </div>
</div>
