<div class="homepage-container">
  <div class="app-description">
    <h2>Currently all courses are free of charge, so there's no requirement to make a purchase.</h2>
  </div>
  <div class="heading">
    <h1>My Courses</h1>
  </div>
  <div class="image-grid">
    <div *ngFor="let course of myCourses;let i = index" class="image-item" (click)="navigateToSubscriberCourse(course.id)">
      <div class="imagesContainer">
        <img [src]="course.thumbnail ? s3BaseURL + course.thumbnail : 'assets/law.png'" width="300" height="200"
          class="img" alt="Course Image">
        <div class="overlay">
          <a>
            <i class="fa fa-play-circle play-icon"></i>
          </a>
        </div>
        <span class="duration">{{ course.duration | duration: 's':'hhmmss' }}</span>
      </div>
      <div class="headingsContainer">
        <h5>{{ course.title }}</h5>
        <p>{{ course.createdBy.name }}</p>
        <h4>{{ course.difficultyLevel }} | {{course.type}}</h4>
      </div>
    </div>
  </div>


  <div>
    <div class="heading">
      <h1>Curated courses</h1>
    </div>
  </div>
  <div *ngIf="!curatedCourses.length">
  Currently no Curated Courses
  </div>
  <div class="image-grid">
    <div *ngFor="let course of curatedCourses; let j = index" class="image-item">
      <div class="imagesContainer">
        <img [src]="course.thumbnail ? s3BaseURL+course.thumbnail : course.thumbnail" alt="Random Image"
          (error)="onImageError($event)">
        <div class="overlay">
          <a (click)="showCourseContent(course.id)">
            <i class="fa fa-play-circle play-icon"></i>
          </a>
        </div>
        <span class="duration">{{course.duration | duration: 's':'hhmmss'}}</span>
      </div>
      <div class="headingsContainer">
        <h5>{{ course.title }}</h5>
        <p>{{ course.createdBy.name }}</p>
        <h4>{{ course.difficultyLevel}} | {{course.type }}</h4>

        <!-- <div class="ratingscontainer1">
          <div class="ratingConatiner2">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9734;</span>
          </div>
          <div class="ratingConatiner2">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9734;</span>
          </div>
        </div>
        <div class="ratingscontainer1">
          <div class="ratingConatiner2">
            <span>Reviewer Ratings</span>
          </div>
          <div class="ratingConatiner2">
            <span>Subscribers Ratings</span>
          </div>
        </div> -->
        <div class="subscribers" style="font-weight: 410; margin-bottom: 5px;">
          <span>Number of Subscribers:{{ course.viewCount}}</span>
          <!-- <p style="color: #d80303; font-weight: bolder;"> This Course Expires on: {{ randomFutureDates[i] | date: 'dd MMM
          yyyy' }}</p> -->
        </div>
      </div>
      <div class="subscribers" style="font-weight: 410;">
        <span>Number of Views:{{ course.viewCount }}</span>
      </div>
      <h5 class="price">
        <span *ngIf="course.price >= 0">
          <!-- <del>₹{{ course.price }}</del> -->
          <span style="color: green; margin-left: 5px;" class="free">Free</span>
        </span>
      </h5>
    </div>

  </div>
  <div style="text-align: right;"><app-shared-pagination [totalRecordsCount]="pagination1.totalElements"
      (pageChange)="onPageChange1($event)"></app-shared-pagination>
  </div>


  <div *ngFor="let institute of institutes">
    <div class="organization-header">
      <h1>Courses by {{ institute.name }}</h1>
    </div>
  
    <div class="image-grid" #paidCoursesSection>
      <div *ngFor="let course of instituteCourses[institute.name]; let j = index" class="image-item">
        <div class="imagesContainer">
          <img [src]="course.thumbnail ? s3BaseURL + course.thumbnail : course.thumbnail" alt="Random Image" (error)="onImageError($event)">
          <div class="overlay">
            <a (click)="showCourseContent(course.id)">
              <i class="fa fa-play-circle play-icon"></i>
            </a>
          </div>
          <span class="duration">{{ course.duration | duration: 's':'hhmmss' }}</span>
        </div>
        <div class="headingsContainer">
          <h5>{{ course.title }}</h5>
          <p>{{ course.createdBy.name }}</p>
          <h4>{{ course.difficultyLevel }} | {{ course.type }}</h4>
        </div>
        <div class="ratingscontainer1">
          <div class="ratingConatiner2">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9734;</span>
          </div>
          <div class="ratingConatiner2">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9734;</span>
          </div>
        </div>
        <div class="ratingscontainer1">
          <div class="ratingConatiner2">
            <span>Reviewer Ratings</span>
          </div>
          <div class="ratingConatiner2">
            <span>Subscribers Ratings</span>
          </div>
        </div>
        <div class="subscribers" style="font-weight: 410;">
          <span>Number of Subscribers: {{ course.viewCount }}</span>
          <h5 class="price">
            <span *ngIf="course.price >= 0">
              <span style="color: green; margin-left: 5px;" class="free">Free</span>
            </span>
          </h5>
          <button *ngIf="!isCourseInCart(course.id)" mat-raised-button color="primary"
            (click)="addToCart(course.id)">Add to Cart</button>
          <button *ngIf="isCourseInCart(course.id)" mat-raised-button color="warn" routerLink="/cart">GoTo
            Cart</button>
        </div>
      </div>
    </div>
    <div style="text-align: right;">
      <app-shared-pagination [totalRecordsCount]="pagination2.totalElements" (pageChange)="onPageChange2($event)"></app-shared-pagination>
    </div>
    <br><br><br>
  </div>
  
  <!-- <div class="heading" #availableCoursesSection>
    <h1>Available Courses</h1>
  </div>
  <ng-container>
    <div class="image-grid">
      <div *ngFor="let course of avialableCourses" class="image-item">
          <div class="imagesContainer">
            <img [src]="course.thumbnail ? s3BaseURL + course.thumbnail : 'assets/law.png'" width="300" height="200"
              alt="Random Image" (error)="onImageError($event)">
            <div class="overlay">
              <a (click)="showCourseContent(course.id)">
                <i class="fa fa-play-circle play-icon"></i>
              </a>
            </div>
            <span class="duration">{{ course.duration | duration: 's':'hhmmss' }}</span>
          </div>
        <div class="headingsContainer">
          <h5>{{course.title}}</h5>
          <p>{{ course.createdBy.name }}</p>
        </div>
        
        <div class="subscribers" style="font-weight: 410;">
          <span>Number of Subscribers: {{ course.viewCount + '+' }}</span>
          <h5 class="price">
            <span>
              <del>₹{{ course.price }}</del>
              <span style="color: green; margin-left: 5px;" class="free">Free</span>
            </span>
          </h5>
          <button *ngIf="!isCourseInCart(course.id)" mat-raised-button color="primary"
            (click)="addToCart(course.id)">Add to Cart</button>
          <button *ngIf="isCourseInCart(course.id)" mat-raised-button color="warn" routerLink="/cart">GoTo
            Cart</button>
        </div>
      </div>
    </div>
    <div style="text-align: right;"><app-shared-pagination [totalRecordsCount]="pagination.totalElements"
        (pageChange)="onPageChange($event)"></app-shared-pagination>
    </div> -->



