<app-subscribernav></app-subscribernav>
<!-- app.component.html -->
<ng-container *ngFor="let article of articles">
<div class="article-container">
    <h2><strong>{{ article.title }}</strong></h2>
    <p><strong>{{ article.author }}</strong></p>
    <p><strong>Reviewed by: {{ article.reviewer }}</strong></p>
    <p><strong>Edited by: {{ article.editor }} </strong></p>
    <p  *ngIf="article">Published on: {{ article.date }}</p>
    <p class="views">No. of Views: {{ article.views }}</p>
    <br/>
    <p>{{ article.content }}</p>
  
    <div>
      <h3><strong>{{ article.heading }}</strong></h3>
      <h3><strong>Explanation:</strong></h3>
      <p>{{ article.explanation[0] }}</p> <!-- Use the correct property -->
    </div>
  
    <div *ngFor="let section of article.subheading">
      <h2>{{ article.heading }}</h2> <!-- Use section.heading instead of article.heading -->
      <h3>Explanation:</h3>
      <p>{{ article.description[0] }}</p> <!-- Use the correct property -->
    </div>
  </div>
</ng-container>