
<div class="container">
  <div class="welcomeContainer">
    <div class="app-description">
      <h1>Welcome to our e-learning Platform!</h1>
      <p>
        Discover a comprehensive collection of courses that cover various facets
        of the legal world. From introductory content for aspiring legal
        professionals to advanced topics for seasoned lawyers, our app provides
        in-depth, accessible, and up-to-date resources. Dive into the intricacies
        of law, explore case studies, and stay informed about the latest legal
        developments. Whether you're a student, a legal enthusiast, or a
        practicing attorney, our app is your one-stop destination for legal
        knowledge and skills.
      </p>
      <p>Explore more on registering in our website.</p>
    </div>
    <div class="welcomeImage">
      <img
        src="https://images.unsplash.com/photo-1521587760476-6c12a4b040da?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Welcome Image"
        class="welcomeImage"
      />
    </div>
  </div>


  <div class="free-text">
    <h2>
      All courses are currently free of charge, and you need to log in to view
      them.
    </h2>
  </div>
  <div>
    <div class="heading">
      <h1>Curated Topics</h1>
    </div>
  </div>
  <div class="image-grid">
    <div
      *ngFor="let course of curatedCourses; let j = index"
      class="image-item"
    >
      <div class="imagesContainer">
        <img
          [src]="
            course.thumbnail ? s3BaseURL + course.thumbnail : course.thumbnail
          "
          alt="Random Image"
          (error)="onImageError($event)"
        />
        <div class="overlay">
          <a (click)="showCourseContent(course.id)">
            <i class="fa fa-play-circle play-icon"></i>
          </a>
        </div>
        <span class="duration">{{
          course.duration | duration : "s" : "hhmmss"
        }}</span>
      </div>
      <div class="headingsContainer">
        <h5>{{ course.title }}</h5>
        <p>{{ course.createdBy.name }}</p>
        <h4>{{ course.difficultyLevel }} | {{ course.type }}</h4>

        <!-- <div class="ratingscontainer1">
          <div class="ratingConatiner2">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9734;</span>
          </div>
          <div class="ratingConatiner2">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9734;</span>
          </div>
        </div>
        <div class="ratingscontainer1">
          <div class="ratingConatiner2">
            <span>Reviewer Ratings</span>
          </div>
          <div class="ratingConatiner2">
            <span>Subscribers Ratings</span>
          </div>
        </div> -->
        <div class="subscribers" style="font-weight: 410; margin-bottom: 5px">
          <span>Number of Subscribers:{{ course.viewCount }}</span>
          <!-- <p style="color: #d80303; font-weight: bolder;"> This Course Expires on: {{ randomFutureDates[i] | date: 'dd MMM
          yyyy' }}</p> -->
        </div>
      </div>
      <div class="subscribers" style="font-weight: 410">
        <span>Number of Views:{{ course.viewCount }}</span>
      </div>
      <h5 class="price">
        <span *ngIf="course.price >= 0">
          <!-- <del>₹{{ course.price }}</del> -->
          <span style="color: green; margin-left: 5px" class="free">Free</span>
        </span>
      </h5>
    </div>
  </div>
  <div style="text-align: right">
    <app-shared-pagination
      [totalRecordsCount]="pagination1.totalElements"
      (pageChange)="onPageChange1($event)"
    ></app-shared-pagination>
  </div>

  <br />
  <br />
  <br />

  <div>
    <div class="heading">
      <h1>Executive Courses</h1>
    </div>
  </div>
  <div class="image-grid">
    <div
      *ngFor="let course of curatedCourses; let j = index"
      class="image-item"
    >
      <div class="imagesContainer">
        <img
          [src]="
            course.thumbnail ? s3BaseURL + course.thumbnail : course.thumbnail
          "
          alt="Random Image"
          (error)="onImageError($event)"
        />
        <div class="overlay">
          <a (click)="showCourseContent(course.id)">
            <i class="fa fa-play-circle play-icon"></i>
          </a>
        </div>
        <span class="duration">{{
          course.duration | duration : "s" : "hhmmss"
        }}</span>
      </div>
      <div class="headingsContainer">
        <h5>{{ course.title }}</h5>
        <p>{{ course.createdBy.name }}</p>
        <h4>{{ course.difficultyLevel}} </h4>
        <div class="subscribers" style="font-weight: 410; margin-bottom: 5px;">
          <span>Number of Subscribers:{{ course.viewCount}}</span>
        </div>
      </div>
      <div class="subscribers" style="font-weight: 410">
        <span>Number of Views:{{ course.viewCount }}</span>
      </div>
      <h5 class="price">
        <span *ngIf="course.price >= 0">
          <!-- <del>₹{{ course.price }}</del> -->
          <span style="color: green; margin-left: 5px" class="free">Free</span>
        </span>
      </h5>
    </div>
  </div>
  <div style="text-align: right">
    <app-shared-pagination
      [totalRecordsCount]="pagination1.totalElements"
      (pageChange)="onPageChange1($event)"
    ></app-shared-pagination>
  </div>
  <br />
  <br />
  <br />

  <!-- Loop over instituteCourses array -->
  <div *ngFor="let institute of institutes">
    <div class="organization-header">
      <h2>Courses by {{ institute.name }}</h2>
    </div>

    <div class="image-grid" #paidCoursesSection>
      <div
        *ngFor="let course of instituteCourses[institute.name]; let j = index"
        class="image-item"
      >
        <div class="imagesContainer">
          <img
            [src]="
              course.thumbnail ? s3BaseURL + course.thumbnail : course.thumbnail
            "
            alt="Random Image"
            (error)="onImageError($event)"
          />
          <div class="overlay">
            <a
              routerLink="/overviewAvailable"
              [queryParams]="{ showRatingOfCourse: 'true' }"
            >
              <i class="fa fa-play-circle play-icon"></i>
            </a>
          </div>
          <span class="duration">{{
            course.duration | duration : "s" : "hhmmss"
          }}</span>
        </div>
        <div class="headingsContainer">
          <h5>{{ course.title }}</h5>
          <p>{{ course.createdBy.name }}</p>
          <h4>{{ course.difficultyLevel }} | {{ course.type }}</h4>
        </div>
        <div class="ratingscontainer1">
          <div class="ratingConatiner2">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9734;</span>
          </div>
          <div class="ratingConatiner2">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9734;</span>
          </div>
        </div>
        <div class="ratingscontainer1">
          <div class="ratingConatiner2">
            <span>Reviewer Ratings</span>
          </div>
          <div class="ratingConatiner2">
            <span>Subscribers Ratings</span>
          </div>
        </div>
        <div class="subscribers" style="font-weight: 410">
          <span>Number of Subscribers: {{ course.viewCount }}</span>
          <h5 class="price">
            <span *ngIf="course.price >= 0">
              <span style="color: green; margin-left: 5px" class="free"
                >Free</span
              >
            </span>
          </h5>
        </div>
      </div>
    </div>
    <div style="text-align: right">
      <app-shared-pagination
        [totalRecordsCount]="pagination2.totalElements"
        (pageChange)="onPageChange2($event)"
      ></app-shared-pagination>
    </div>
    <br /><br /><br />
  </div>

  <br />
  <br />
  <br />
</div>
