* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  max-width: 80vw;
}

.heading {
  padding: 30px 0 5px 0;
}
h1{
  font-weight: 500;
}
h2{
  text-align: center;
margin: 0;
}
.app-description {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333; 
  margin: 20px 0px;
  padding: 20px; 
  background-color: #faf6f6; 
  border: 1px solid #ddd; 
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.app-description h1 {
  font-size: 24px; 
  color: #194a80;
}

.app-description p {
  line-height: 1.6; 
}

.app-description a {
  color: #007bff; 
  text-decoration: none;
  font-weight: bold; 
}

.app-description a:hover {
  text-decoration: underline; 
}

.custom-width {
  width: 290px;
}

.mat-menu {
  width: 270px;
  padding-left: 20px;
}

.mat-menu-panel {
  width: 230px;
  padding-left: 20px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  .image-item {
    overflow: hidden;
    cursor: pointer;
    &:hover {
      .overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: rgba(115, 113, 113, 0.7);
      }
    }
   .img {
      width: 100%;
      height: 100%;
      display: flex;
    }

    .imagesContainer {
      position: relative;

      .duration {
        position: absolute;
        bottom: 5px; 
        right: 5px;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 3px 6px;
        border-radius: 5px;
      }
    }

    .overlay {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    h5 {
      margin-top: 8px;
      font-size: 15px;
      font-weight: bold;
    }
    h4 {
      margin-top: 8px;
      font-size: 15px;
      font-weight: bold;
      color: #7803d8;
    }


    p {
      font-size: 12px;
      color: #666;
    }

    .play-icon {
      color: white;
      font-size: 80px;
    }

    .status-bar + span {
      padding: 3px;
    }

    .price {
      font-size: small;
      font-weight: bold;
    }
  }

  .status-bar {
    width: 100%;
    height: 3px;
    background-color: #ccc;
    margin: 0 2px 2px 2px;
    .status-fill {
      height: 100%;
      background-color: #7803d8;
    }
  }

  .ratingscontainer1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .ratingConatiner2 {
      display: flex;
      align-items: center;

      
      
      .star {
        color: gold;
        font-size: 20px;
      }
    }
    
  
    span {
      font-size: 12px; // Adjust font size if needed
      text-align: center; // Center the text if needed
      // margin-top: 5px; // Adjust the margin between stars and text
    }
  }
  .ratingText {
    font-size: 14px;
  }
}

.my-flex {
  display: flex;
  height: 45px;
  margin-bottom: 20px;
  align-items: center;
}

#filters {
  padding: 30px 0 0;
  font-weight: bold;
  font-size: 15px;
 color: rgb(60, 60, 60);
}

.searchbox {
  display: flex;
  margin: 30px 0 20px 590px;
  color: rgb(60, 60, 60);
  font-size: 15px;
  padding: 18px;
}
.searchButton {
  padding: 12px;
  color: white;
  font-size: 25px;
  background-color: rgb(47, 47, 47);
  margin-top: 9px;
}
.free {
  padding-left: 4px;
  font-size: 17px;
}


.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  @media screen and (max-width: 1040px) {
    .rating {
      justify-content: flex-start;
      position: relative;
      top: 0px;
    }
  }

  @media screen and (max-width: 768px) {
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 480px) {
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}
.imagesContainer img {
  width: 100%;
  /* Set the image width to 100% of the parent's width */
  height: 100%;
  /* Set the image height to 100% of the parent's height */
  object-fit: cover;
  /* Optional: maintain aspect ratio and cover the entire parent */
}

