<ng-container>
    <div class="header">
        <div class="header__left">
            <div class="logo">
                <img src="" alt="brand-logo">
            </div>
        </div>
        <div class="header__center">
            <div>
                <mat-form-field appearance="fill">
                    <input matInput type="text" id="search-bar" formControlName="password" placeholder="Search" autocomplete="off">
                </mat-form-field>
            </div>
        </div>
        <div class="header__right">

        </div>
    </div>
</ng-container>
