<ng-container>
    <app-base-page>
        <ng-container header>
          <!-- <app-firstnav></app-firstnav> -->
            <!-- <app-header></app-header> -->
        </ng-container>
        <ng-container body>
          <!-- <app-header></app-header> -->
        </ng-container>
        <ng-container footer></ng-container>
    </app-base-page>
</ng-container>



<!-- <app-nav></app-nav>
<mat-sidenav-container>
    <mat-sidenav #sideNav mode="side"opened>
      <app-side-nav></app-side-nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-main-nav></app-main-nav>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container> -->