<div class="article">
    <div *ngIf="articleDetails">
      <div class="article-details">
        <label for="" class="article-label">Title of the Article </label>
        <p>{{ articleDetails.data.title }}</p>
      </div>
      <div class="article-details">
        <label for="" class="article-label">Description </label>
        <p>{{articleDetails.data.description }}</p>
      </div>
      <div class="article-details">
        <label for="" class="article-label">Author </label>
        <p> {{articleDetails.data.createdBy.name}}</p>
      </div>
      <div class="article-details">
        <label for="" class="article-label">Date of Publishing </label>
        <p> {{articleDetails.data.createdDate | date: 'MMM dd , y'}}</p>
      </div>
      <div class="article-details" style="margin-bottom: 20px;">
        <label for="" class="article-label">View Count</label>
        <p>{{ articleDetails.data.viewCount}}</p>
      </div>
      <!-- <p *ngIf="storedFileContent" class="file-content">{{ storedFileContent }}</p> -->
      <iframe *ngIf="fileOpened" [src]="officeViewerSrc" width="100%" height="600px" ></iframe>

    </div>
</div>
<div class="container">
    <h2 class="courseRatingsHeading" *ngIf="isReviewsAvailable">Article Reviews</h2>
    <div class="courseRatingContainer">
        <div class="courseRating" *ngFor="let review of reviews">
            <div class="alignment">
                <h2>{{ review.user.name }} </h2>
                <div class="rating">
                    <span *ngFor="let star of stars" class="star"
                        [style.color]="star <= review.rating ? 'gold' : '#ccc'">&#9733;</span>
                </div>
            </div>
            <p class="courseRatingText">{{ review.comments }}</p>
        </div>
    </div>
    <br>
    <div class="give-rating-container">
        <button mat-raised-button color="primary" (click)="giveReview()"   style="margin-bottom: 10px;"
            class="give-rating" *ngIf="isSubscriber && !(isreviewGiven)">Give Your Rating</button>
        <div class="contentt" *ngIf="cangiverating">
            <div class="close" (click)="leaveRatingClose()">&times;</div>
            <h1 style="margin-bottom: 0px;">Rate this Article</h1>
            <ng-container *ngFor="let i of stars">
                <mat-icon (mouseenter)="selectRating(i)"
                    [ngClass]="{ active: i <= selectedRating ,disabled: !isratingEditable }" class="staricon">
                    star
                </mat-icon>
            </ng-container>
            <div class="review">
                <textarea id="review" [(ngModel)]="userComments" name="userReview" rows="3" cols="36"
                    placeholder="Comments" class="mat-input custom-textarea"></textarea>
            </div>
            <br>
            <button mat-raised-button color="primary" class="custom-button" (click)="submitReview()">Submit </button>
        </div>
    </div>
</div>
<br>
    <button (click)="goBack()">Go Back</button>
<br />
<br />