.article{
    margin:30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  button {
    background-color: #007791; 
    color: #fff; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px; 
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:hover {
      background-color: #007791; 
    }
  }
