<div class="article">
    <div *ngIf="articleDetails">
        <h2>{{ articleDetails.data.title }}</h2>
        <p>Description: {{ articleDetails.data.description }}</p>
        <p>ViewCount: {{ articleDetails.data.viewCount }}</p>
        <p *ngIf="storedFileContent" class="file-content">{{ storedFileContent }}</p>
    </div>
</div>
<div class="container">
    <h2 class="courseRatingsHeading" *ngIf="isReviewsAvailable">Article Reviews</h2>
    <div class="courseRatingContainer">
        <div class="courseRating" *ngFor="let review of reviews">
            <div class="alignment">
                <h2>{{ review.user.name }} <span *ngIf="review.editRating"
                        (click)="editUserReview(review)"><mat-icon>edit</mat-icon></span></h2>
                <div class="rating">
                    <span *ngFor="let star of stars" class="star"
                        [style.color]="star <= review.rating ? 'gold' : '#ccc'">&#9733;</span>
                </div>
            </div>
            <p class="courseRatingText">{{ review.comments }}</p>
        </div>
    </div>
    <br>
    <div>
        <button mat-raised-button color="primary" (click)="giveReview()"   style="margin-bottom: 10px;"
            class="give-rating" *ngIf="isSubscriber && !(isreviewGiven)">Give Your Rating</button>
        <div class="contentt" *ngIf="cangiverating">
            <div class="close" (click)="leaveRatingClose()">&times;</div>
            <h1 style="margin-bottom: 0px;">Rate this Article</h1>
            <ng-container *ngFor="let i of stars">
                <mat-icon (mouseenter)="selectRating(i)"
                    [ngClass]="{ active: i <= selectedRating ,disabled: !isratingEditable }" class="staricon">
                    star
                </mat-icon>
            </ng-container>
            <div class="review">
                <textarea id="review" [(ngModel)]="userComments" name="userReview" rows="3" cols="36"
                    placeholder="Comments" class="mat-input custom-textarea"></textarea>
            </div>
            <br>
            <button mat-raised-button color="primary" class="custom-button" (click)="submitReview()">Submit </button>
        </div>
        <div class="contentt" *ngIf="editGivenReviews">
            <div class="close" (click)="leaveRatingClose()">&times;</div>
            <h1 style="margin-bottom: 0px;">Edit your Ratings</h1>
            <ng-container *ngFor="let i of stars">
                <mat-icon (mouseenter)="selectRating(i)"
                    [ngClass]="{ active: i <= selectedRating ,disabled: !isratingEditable }" class="staricon">
                    star
                </mat-icon>
            </ng-container>
            <div class="review">
                <textarea id="review" [(ngModel)]="userComments" name="userReview" rows="3" cols="36"
                    placeholder="Comments" class="mat-input custom-textarea"></textarea>
            </div>
            <br>
            <button mat-raised-button color="primary" class="custom-button" (click)="saveChanges()">Save
                Changes</button>
        </div>
    </div>
</div>
<br>
    <button (click)="goBack()">Go Back</button>
<br />
<br />