<!-- <div class="container-wrapper">
    <div class="sidenav-container">
        <div class="sidenav">
            <div class="logo">NS</div>
            <ul class="nav-list">
                <li><a routerLink="/subscriber/photo" routerLinkActive="active">Profile</a></li>
                <li><a routerLink="/subscriber/acSecurity" routerLinkActive="active">Account Security</a></li>
                <li><a routerLink="/subscriber/notifications" routerLinkActive="active">Notification Settings</a></li>
               
                <li><a routerLink="/subscriber/payments" routerLinkActive="active">Payments</a></li>
                <li><a routerLink="/subscriber/delete-account" routerLinkActive="active">Delete Account</a></li>
            </ul>
        </div>
    </div>
</div>
 -->
