<div class="cartContainer">
    <div *ngIf="!isAdded">
    <h1>Shopping Cart</h1>
    <h5>{{ cartItems.length }} Courses in Cart</h5>
    <div *ngIf="cartItems.length === 0" class="emptyCartText">
        <h2>No Items in the cart</h2>
    </div>
</div>
    <div class="course" *ngIf="cartItems.length && !isAdded">
        <div class="courseContainer">
            <div class="courseItems" *ngFor="let item of cartItems">
                <div class="horizontalLine">
                    <input type="checkbox" [value]="item.courseId" (change)="onCheckboxChange($event)" />
                    <div class="courseDetails">
                        <div class="courseHeading">
                            <h4>{{ item.title }}</h4>
                            <div class="ratingConatiner">
                                <p>4.4
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <i style="font-size: 15px" class="fa star">&#xf123;</i>
                                    (2,345 Subscriber ratings)
                                </p>
                            </div>
                            <div class="ratingConatiner">
                                <p>4.2
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <i style="font-size: 15px" class="fa star">&#xf123;</i>
                                    (Reviewer ratings)
                                </p>
                            </div>
                        </div>
                        <div class="removeButtonContainer">
                            <button class="removeButton" (click)=" removeFromCart(item.courseId)">Remove</button>
                        </div>
                    </div>
                    <div class="price"> ₹{{ item.price }}</div>
                </div>
            </div>
        </div>
        <div class="totalPriceContainer" *ngIf="cartItems.length > 0">
            <div class="total">
                <button class="btn" (click)="addToMyCourses()">Add to My Courses</button>
            </div>
        </div>
    </div>
    <div  class="popup-message" *ngIf="isAdded">
        {{selectedItems.length}} Courses added sucessfully to My-Courses.You can check that section in My-homepage
    </div>
</div>