body {
  background-color: #f8f8f8;
}

.cartContainer {
  position: relative;
  margin: 0 auto;
  max-width: 80vw;
}

.emptyCartText {
  padding-top: 20px;
  text-align: center;
}

.cartContainer h1 {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px 0 0 20px;
  color: #007791;
}

.cartContainer h5 {
  padding-left: 20px;
  font-size: large;
}

.course {
  display: flex;
  background-color: #fff;
  margin: 20px 20px 40px 20px;
  align-items: flex-start;
  justify-content: space-between;

  .courseContainer {
    overflow-y: auto;
    max-height: 500px;
    padding-right: 10px;
  }

  .lawLearningImage {
    width: 150px;
    height: 100px;
    margin-top: 20px;
  }

  .courseDetails {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 20px 0;
  }

  .horizontalLine {
    display: flex;
    border-top: 1px solid grey;
  }

  .courseHeading {
    margin-left: 20px;
  }

  .courseHeading h4 {
    font-size: large;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .courseHeading p {
    color: #666;
    margin: 0;
  }

  .ratingConatiner {
    display: flex;
    align-items: center;

    .starNumber {
      padding: 0 10px 0 0;
    }

    .star {
      color: gold;
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  .totalPriceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
  }

  .totalPrice {
    display: flex;
    flex-direction: column;
  }

  .price {
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 10px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

  .total {
    background-color: #fff;
    margin-bottom: 20px;

    .actualPrice {
      font-size: medium;
    }
  }

  .total h5 {
    font-size: x-large;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
    padding: 0;
  }

  .total p {
    margin: 0;
    color: #666;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .removeButtonContainer {
    display: flex;
    align-items: flex-end;
    margin: 0 10px 10px 10px;
  }

  .removeButton {
    height: 40px;
    background-color: #a435f0;
    color: #fff;
    border: none;
    padding: 5px 20px;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .removeButton:hover {
    background-color: #2f2e32;
  }

  .btn {
    width: 280px;
    background-color: #a435f0;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }

  .btn:hover {
    background-color: #2f2e32;
  }

  .couponHorizontalLine {
    width: 100%;
    margin: 0 0 20px 0;
  }

  .promotions h5 {
    padding: 0;
    font-size: large;
    font-weight: bold;
  }

  .promotions input {
    display: flex;
    align-items: center;
    padding: 5px 10px;
  }

  .promotionsInputField {
    display: flex;
    align-items: center;
  }

  .promotionsButton {
    background-color: #a435f0;
    color: #fff;
    border: none;
    padding: 5px 20px;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .promotionsButton:hover {
    background-color: #2f2e32;
  }
}

.popup-message {
  position: absolute;
  top: 90px;
  font-size: 20px;
  
}