<div class="cartContainer">
    <div *ngIf="!isAdded">
        <h1>Shopping Cart</h1>
        <h5>{{ cartItems.length }} Courses in Cart</h5>
        <div *ngIf="cartItems.length === 0" class="emptyCartText">
            <h2>There is nothing in your cart .Let's add some course's.</h2>
        </div>
    </div>
    <div class="course" *ngIf="cartItems.length && !isAdded">
        <div class="courseContainer">
            <div class="courseItems" *ngFor="let item of cartItems">
                <div class="horizontalLine">
                    <input type="checkbox" [value]="item.courseId" (change)="onCheckboxChange($event)"
                        style="margin-right:20px ;width:20px" />
                    <div class="imageContainer">
                        <img [src]="item.thumbnail ? s3BaseURL + item.thumbnail : 'assets/law.png'" width="250"
                            height="180" alt="Random Image">
                        <span class="duration">{{ item.duration | duration: 's':'hhmmss' }}</span>
                    </div>

                    <div class="courseDetails">
                        <div class="courseHeading">
                            <h4>{{ item.title }}</h4>
                            <p>{{item.createdDate |date}}</p>
                            <!-- <div class="ratingConatiner">
                                <p>4.4
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <i style="font-size: 15px" class="fa star">&#xf123;</i>
                                    (2,345 Subscriber ratings)
                                </p>
                            </div>
                            <div class="ratingConatiner">
                                <p>4.2
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <i style="font-size: 15px" class="fa star">&#xf123;</i>
                                    (Reviewer ratings)
                                </p>
                            </div> -->
                        </div>
                        <div class="removeButtonContainer">
                            <button class="removeButton" (click)=" removeFromCart(item.courseId)">Remove</button>
                        </div>
                    </div>
                    <div class="price"> <del>₹{{ item.price }}</del>Free</div>
                </div>
            </div>

        </div>
        <div class="totalPriceContainer" *ngIf="cartItems.length > 0">
            <div class="total">
                <button class="btn" (click)="addToMyCourses()">Add to My Courses</button>
                <!-- <button class="btn" [routerLink]="['/subscriber/checkout']">Checkout</button> -->
            </div>
        </div>  

    </div> 
   

</div>
<div class="popup-message" *ngIf="isAdded">
    <button class="close-icon" (click)="closeMessage()">×</button>
    <h3>{{selectedItems.length}} Courses added sucessfully to My-Courses.You can check that section in My-homepage</h3>
</div>