
<div class="article">
  <div *ngIf="articleDetails">
    <h2>{{ articleDetails.data.title }}</h2>
    <p>Description: {{ articleDetails.data.description }}</p>

    <button *ngIf="articleDetails.data.files && articleDetails.data.files.length > 0"
      (click)="downloadFile(articleDetails.data.files[0]?.url, articleDetails.data.files[0]?.fileName)"
      class="filebtn">Open File</button>

    <p *ngIf="fileOpened && storedFileContent" class="file-content">{{ storedFileContent }}</p>
  </div>

  <div *ngIf="articleApproved" class="message-status">
    <div class="submission-status success">
      <i class="icon close-icon" (click)="goBack()">&#10006;</i>
      <h3>Article Approved Successfully. It will be re-checked by Admin. Thank you.</h3>

    </div>
  </div>

  <div *ngIf="articleRejected" class="message-status">
    <div class="submission-status rejection">
      <i class="icon close-icon" (click)="goBack()">&#10006;</i>
      <h3>Article Rejected. Please review and make necessary changes.</h3>

    </div>
  </div>


  <div *ngIf="approvalStatus !== 'approved' && approvalStatus !== 'rejected'" class="button-container">
    <button class="approve-button" (click)="approveArticle()">Approve</button>
    <button class="resubmit-button" (click)="resubmitArticle()">Re-submit</button>
    <button class="reject-button" (click)="rejectArticle()">Reject</button>
  </div>

</div>
<div>
  <button class="goBack-button" (click)="goBack()">Go Back</button>
</div>
