.article{
    margin:30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    h2 {
        color: #333;
        margin-bottom: 10px;
      }
      
      p {
        color: #555;
      }
      .filebtn {
        margin-top: 10px;
        padding: 8px 12px;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      
      .filebtn:hover {
        background-color: #0056b3;
      }
      
      /* Adjust the styling for the displayed file content */
      p.file-content {

        margin:30px;
       padding: 20px;
    //  border: 1px solid #ccc;
     border-radius: 5px;
     background-color: #fff;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-top: 10px;
        white-space: pre-line; 
        font-size: 14px;
        color: #333;
      }
      .button-container {
        display: flex;
        justify-content: center; 
        align-items: center;
     
        button {
          padding: 10px 20px;
          margin-right: 10px;
          border: none;
          cursor: pointer;
          font-size: 16px;
          border-radius: 5px;
          margin-top: 25px;
        }
     
        .approve-button {
          background-color: #4caf50; 
          color: white;
        }
     
        .reject-button {
          background-color: #f44336; 
          color: white;
        }
        .resubmit-button {
          background-color: rgb(164, 150, 27); 
          color:white ;
        }
      }

      .goBack-button {
        background-color: #007791; 
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin: 20px; 
        display: block;
        margin-left: auto;
        margin-right: auto;
    
       
        &:hover {
          background-color: #007791; 
        }
      }
      .submission-status.success {
        background-color: #d4edda; 
        color: #155724; 
      }
      
      .submission-status.rejection {
        background-color: #f8d7da; 
        color: #721c24; 
      }
      
      .approval-message,
      .rejection-message {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px; 
        margin: auto;
        font-size: 16px;
        text-align: center;
      }
      
      .icon {
        cursor: pointer;
        font-size: 24px;
        margin-left: 10px;
      }
      