<app-subscribernav></app-subscribernav>
<div class="container-wrapper">
  <div class="container">
    <div class="main-container">
      <div class="main-box">
        <h1>Purchase History</h1>
        <table class="purchase-table">
          <tr>
            <th>Heading</th>
            <th>Date</th>
            <th>Price</th>
            <th>Invoice</th>
          </tr>
          <ng-container *ngFor="let purchase of purchaseHistory; let i = index">
            <tr>
              <td>{{ purchase.heading }}</td>
              <td>{{ purchase.date }}</td>
              <td>{{ purchase.price }}</td>
              <td><button (click)="downloadInvoice(i)">Download</button></td>
            </tr>
          </ng-container>
        </table>
      </div>
    </div>
  </div>
</div>
