<app-subscribernav></app-subscribernav>
<div class="container-wrapper">
<div class="container">
    <div class="main-container">
        <div class="main-box">
            <h1>Payment Methods</h1>
            <label>
                <div class="saved-payments-box">
                    <div class="saved-payments-box">
                        <input type="checkbox" id="paymentCheckbox">
                        Show my saved payments on the checkout step
        </div>
        </div>
        <p class="para">Your saved payment methods</p>
        <p class="dashed">You don’t have any saved payment method</p>
        
