<div class="profile-container">
  <h2>User Profile</h2>
  <div class="profile-section">
    <label>Name:</label>
    <span>{{allProfiles[0].name}}</span>
  </div>
  <div class="profile-section">
    <label>Phone:</label>
    <span>{{allProfiles[0].phone}}</span>
  </div>

  <div class="profile-section">
    <label>Email:</label>
    <span>{{allProfiles[0].email}}</span>
  </div>

  <div class="profile-section">
    <label>Role:</label>
    <span>{{allProfiles[0].role}}</span>
  </div>

  <div class="profile-section">
    <label>Status</label>
    <span>{{allProfiles[0].status}}</span>
  </div>
  <div class="profile-section">
    <label>Last Active:</label>
    <span>{{allProfiles[0].updatedDate}}</span>
  </div>

  

<br />
<hr />



<br />