button{
    margin-left: 80px;
}
.testLine{
    font-size: 22px;
}
h2 {
    text-align: center;
    display: grid;
    place-items: center;
    padding: 5px; 
    margin-top: 10px;
    font-weight: bolder;
    color: #007791;
  }

  
  