<app-instructornav></app-instructornav>

<div *ngFor="let heading of headings ?? []">
  <h2>{{ heading }}</h2>
</div>
<mat-divider></mat-divider>
<div>
 <div class="course-info-container">
  <mat-tab-group>
    <mat-tab label="Overview">
      <div class="tabs">
        <app-instructor-overview></app-instructor-overview>
       <!-- <app-sharedoverview></app-sharedoverview> -->
      </div>
    </mat-tab>
    <mat-tab label="Watch Content">
      <app-videoplayer></app-videoplayer>
   </mat-tab>
   <mat-tab label="Attend Test">
    <div class="upload-test">
    <div class="testLine"><i>You didn't uploaded test yet.</i></div>
    <br>
    <br>
    <button mat-raised-button  color="primary" routerLink="/instructor/quiztest" >Create Test</button>
   </div>
   </mat-tab>
   <mat-tab label="Certificate">
   <app-shared-certificate></app-shared-certificate>
   </mat-tab>
  </mat-tab-group>
 </div> 
</div>
