<mat-sidenav-container>
    <mat-sidenav #sideNav mode="side" opened>
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="container-wrapper">
            <div class="sidenav-container">
                <div class="profile-box">
                    <h1>Profile</h1>
                    <p>Add a photo of yourself for your profile</p>
                    <div class="publicProfile">
                        <mat-slide-toggle><span class="text">Make my profile public</span></mat-slide-toggle>
                    </div>
                </div>
                <!-- <div>{{ displayName }}</div> -->
                <hr />
                <div class="image-box">
                    <h3 [(ngModel)]="name" readonly><b>{{name | titlecase }}</b></h3>
                    <img  *ngIf="imageUrl" [src]="imageUrl" alt="Image Preview" id="previewImage">
                    <div class="upload-btn-wrapper">
                        <label for="imageInput" class="custom-file-input">Choose Profile</label>
                        <input type="file" id="imageInput" accept="image/*" (change)="onFileSelected($event)">
                    </div>
                </div>
                <br />
                <hr />
                <button id="saveButton" (click)="onSave()">Save</button>
                <br />
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
 