<mat-sidenav-container>
    <mat-sidenav #sideNav mode="side" opened>
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="container-wrapper">
            <div class="sidenav-container">
                <div class="profile-box">
                    <h1>Profile</h1>
                    <p>Add a photo of yourself for your profile</p>
                    <div class="publicProfile">
                        <mat-slide-toggle><span class="text">Make my profile public</span></mat-slide-toggle>
                    </div>
                </div>
                <hr />
                <div class="image-box">
                    <h2>Image preview</h2>
                    <img  *ngIf="imageUrl" [src]="imageUrl" alt="Image Preview" id="previewImage">
                    <p>{{ imageUrl }}</p>    
                    <div class="upload-btn-wrapper">
                        <h3>Upload Image</h3>
                        <label for="imageInput" class="custom-file-input">Choose File</label>
                        <input type="file" id="imageInput" accept="image/*" (change)="onFileSelected($event)">
                        <p>{{ selectedFileName }}</p>
                    </div>
                </div>
                <br />
                <hr />
                <button id="saveButton" (click)="onSave()">Save</button>
                <br />
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
