<div class="article-form"  *ngIf="displayform; else messageSection">
    <h2>Article Form</h2>
    <form [formGroup]="articleForm" (submit)="onSubmit()">
      <label for="name">Title of the Article:</label>
      <input type="text" id="name" formControlName="name" [value]="matchedArticle?.title"/>

      <label for="articleName">Name of the Author:</label>
      <input type="text" id="articleName" formControlName="articleName" [value]="matchedArticle?.author"[(ngModel)]="name" readonly/>
      
      <label for="description">Description:</label>
      <textarea id="description" formControlName="description"  [value]="matchedArticle?.description"></textarea>

      <label for="file">Choose Word Document File (.docx, .doc):</label>
      <input type="file" id="file" formControlName="file"  accept=".doc,.docx" [value]="matchedArticle?.file" (change)="onFileUpload($event)">
      <div *ngIf="fileError" class="error-message">{{ fileError }}</div>
      <br /><br />
      <div class="button-container">
        <!-- <button type="submit" [ngClass]="{'disabled-button': articleForm.invalid, 'enabled-button': !articleForm.invalid}" [disabled]="articleForm.invalid || isClicked">Submit</button> -->
        <button
        type="submit"
        [ngClass]="{'disabled-button': articleForm.invalid, 'enabled-button': !articleForm.invalid}"
        [disabled]="articleForm.invalid || isClicked"
        (mouseenter)="showTooltip = articleForm.invalid"
        (mouseleave)="showTooltip = false">
        Submit
      </button>
      <div *ngIf="showTooltip" class="tooltip">Please fill all the details before submitting the form</div>
      
      
      </div>
      
    </form>   
  </div>
  <ng-template #messageSection>
    <div class="message-status"  >
      <div class="submission-status">
        <i class="icon close-icon" (click)="closeMessage()">&#10006;</i>
        <h3>You have successfully submitted your article, it will be reviewed and published sequentially. You can check the status of your article in the My Publishings page within profile section.</h3>
      </div>
    </div>
  </ng-template>
  
   