<div class="container-wrapper">
    <div class="container">
        <form>
            <div class="box">
                <h1>Contact Us</h1>
                <p class="mesg">If you are interested in becoming an <strong>Instructor, Reviewer, Content Manager, Admin</strong> or if you have any other queries, please reach out to us:</p>
                <hr />
            </div>
            <div class="box">
                <h2>Email and Phone</h2>
                <p class="contactNumber">Contact Email : nuncsystems@gmail.com</p>
                <p class="contactNumber">Contact Phone : 0987654321</p>
            </div>
        </form>
        <hr />
    </div>
</div>