.sidenav-container {
    padding: 10px;
    // margin-bottom: 100px;
    .box {
      padding: 4px;
      text-align: center;

      .contactNumber {
        text-align: left;
        padding-left: 280px;
      }
    }
    h2 {
      font-size: 18px;
      margin-top: 10px;
    }
    .mesg{
      color: #267e92;
    }
    p{
      font-size: 16px;
    }
  }
  