/* CSS */
.container{
  display: flex;
  justify-content: center; 
  align-items: center;
  height:100vh;
  margin-bottom: 3%;
  //background-color: #333;
 // padding-top: 20px;
}
form{
  padding-top: 20px;
}
.questions{
    padding :50px;
    text-align: center;
    background-color: #fff;
    height: 373px;
    width:239px;
}
.questions h2{
    justify-content: center; 
    align-items: center;
}
.contact-form {
   width:400px;
   background-color: #E6E6E6;
  }
  
  .contact-form h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-form label {
    display: block;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 85%;
    padding: 10px;
    margin:0px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  label{
    width: 85%;
    padding:5px ;
    padding-left: 25px;
  }
  .contact-form textarea {
    height: 100px;
  }
  
  .contact-form button {
    width: 100px;
    padding: 10px;
    background-color: #122adf;
    color: #fff;
    border-radius: 5px;
    border:none;
    margin-left: 150px;
    cursor: pointer;
    margin-bottom: 30px;
  }
  
  .contact-form button:hover {
    background-color: #333;
  }
  
  .contact-form .required {
    color: red;
  }
  .error-message{
    color: red;
    padding-left:25px ;
  }