.container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #e0d9d9;
}

.container {
  background-color: #ffffff;
  margin: 60px;
  padding: 60px 70px 60px 70px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article-table {
  border-collapse: collapse;
  width: 100%;
  font-size: medium;

  th,
  td {
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: #e2e2e2;
    font-weight: bolder;
  }

  tr {
    &:hover {
      cursor: pointer;
      background-color: #f2f2f2;
    }
  }

  .articleHeading {
    padding-right: 100px;
  }
  
  .publishedDate {
    padding-right: 20px;
  }

  .articleName {
    padding-left: 50px;
    text-align: left;
  }
}

.publishedArticles {
  color: green;
  padding-bottom: 10px;
  font-weight: 590;
}

.underReviewArticles {
  color: orange;
  padding: 20px 0 10px 0;
  font-weight: 590;
}

 .commentedArticles {
  color: red;
  padding: 20px 0 10px 0;
  font-weight: 590;
}
