<mat-sidenav-container>
  <mat-sidenav #sideNav mode="side" opened>
      <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
   <div class="container-wrapper">
        <div class="container">
          <h1 class="coursesHistory">Course's Status</h1>
          <table>
            <thead>
              <tr class="course-row-headings">
                <th>Course Name</th>
                <th>Approval Status</th>
                <th>Date of Submission</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let course of courses">
                <td>{{ course.title }}</td>
                <td>
                <p [ngStyle]="getStatusStyles(course.reviewStatus)">{{ course.reviewStatus }}</p>
               </td>
               <td>{{ course.createdDate  | date:'yyyy-MM-dd'}}</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>
