.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #e0d9d9; 
  }
  .container {
    width: 80%; 
    background-color: #ffffff; 
    padding: 20px 40px 20px 40px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 140px;
    .sub {
      width: 30%;
      height: 600px;
    }
    .box {
      background-color: white;
      padding: 4px;
    }

    .contentBox {
      background-color: white;
      padding: 4px 0 4px 20px;
      .emailContainer, .phoneContainer {
        display: flex;
        align-items: center;
      }
    }
    #head {
      text-align: center;
    }
    .editbtn {
      background-color: black;
      color: white;
      padding: 6px;
      border: none;
      cursor: pointer;
      border-radius: 2px;
    }
    h1 {
      font-size: 24px;
      font-weight: 500;
    }
    h2, h3 {
      font-size: 18px;
    }
    h2 {
      margin-top: 10px;
    }
    input[type="text"] {
      width: 60%;
      padding: 10px;
    }
    input[type="email"] {
      width: 75%;
      padding: 10px;
      margin-bottom: 10px;
    }
  }
  