<mat-sidenav-container>
    <mat-sidenav #sideNav mode="side" opened>
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="container-wrapper">
            <div class="container">
                <div class="main-container">
                    <form [formGroup]="accountForm">
                        <div class="box" id="head">
                            <h1>Account Security</h1>
                            <p>Edit your account settings here... </p>
                            <hr />
                        </div>
                        <div class="contentBox">
                            <h2>Current Email and Phone</h2>
                            <p class="emailContainer">
                                <label for="currentEmail">Current Email :</label>&nbsp;
                                <input type="text" id="currentEmail" formControlName="currentEmail"
                                    style="margin-left: 5px;" [disabled]="!isCurrentEmailEditable"
                                    placeholder="nuncsystems@gmail.com" [value]="accountForm.get('currentEmail')?.value"
                                    [(ngModel)]="userEmail"> 
                                <button type="button" class="editbtn" (click)="editCurrentEmail()">
                                    <i class="material-icons">{{ isCurrentEmailEditable ? 'done' : 'edit' }}</i>
                                </button>
                            </p>
                            <p class="phoneContainer">
                                <label for="currentPhone">Current Phone :</label>&nbsp;
                                <input type="text" id="currentPhone" formControlName="currentPhone"
                                    [disabled]="!isCurrentPhoneEditable" placeholder="0987654321" [value]="userPhone"
                                    [(ngModel)]="userPhone">
                                <button type="button" class="editbtn" (click)="editCurrentPhone()">
                                    <i class="material-icons">{{ isCurrentPhoneEditable ? 'done' : 'edit' }}</i>
                                </button>
                            </p>
                        </div>
                    </form>
                    <hr />
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>