.article{
  margin:30px 110px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .download-button{
    position: relative;
    left:910px
  }
  .button-container {
      display: flex;
      justify-content: center; 
      align-items: center; 
      button {
        padding: 10px 20px;
        margin-right: 10px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        border-radius: 5px;
        margin-top: 25px;
      } 
    }
    .approve-button {
      background-color: #4caf50; /* Green */
      color: white;
    }
    .reject-button {
      background-color: #f44336; /* Red */
      color: white;
    }
    .goBack-button {
      padding: 10px 20px;
      margin-top: 10px;
      border: none;
      cursor: pointer;
      font-size: 16px;
      border-radius: 5px;
      align-self: center;
      margin-left: 510px;
      background-color: #3498db;
      color: #fff;
    }
    .approval-message,
    .rejection-message {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #dff0d8;
      padding: 40px;
      margin: auto;
      font-size: 16px;
      text-align: center;
    }
    .icon {
      cursor: pointer;
      font-size: 24px;
      margin-left: 10px;
    }
  .rejection-message {
    background-color: hsl(0, 43%, 91%); /* Red background for rejection, you can customize */
  }
  .error-message{
    color: red; 
  }
  .comments{
    display: table-caption; 
    margin-top: 30px;
    label{
       font-size: 15px;
    }
  }
  .submission-status {
    background-color: white;
    transform: translate(30%, 0px);
    width: 700px;
    height: 200px;
    padding: 20px;
    margin: 60px;
    border-radius: 8px;
    font-size: 24px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; 
  
    .close-icon {
      cursor: pointer;
      font-size: 24px;
      position: absolute;
      top: 10px; 
      right: 10px; 
    }
  }
  .comments-label{
    color: red;
    font-weight: 800;
  }
  .article-labels{
    color: blue;
  }
  span{
  width:150px;  
  }
 .article-details{
  display: flex;
  .article-label{
    color: rgb(21, 21, 164);
    width:150px;
    font-weight: 600;
    margin-left: 5px;
  }
 } 

 .approve-message {
  color: green;
}

.reject-message {
  color: red;
}


  