<div class="container-wrapper">
    <div class="form-container">
        <mat-stepper linear #stepper [orientation]="(stepperOrientation | async)!">
            <form [formGroup]="courseForm" class="form-group">
                <mat-step [stepControl]="courseForm">
                    <ng-template matStepLabel>Basic Course Details</ng-template>
                    <input type="hidden" id="id" name="id" formControlName="id">
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input matInput type="text" id="title" name="title" formControlName="title" required>
                    </div>

                    <div class="form-group">
                        <label for="description">Course Description:</label>
                        <textarea id="description" name="description" formControlName="description" rows="4"
                            required></textarea>
                        <small>Enter 4 to 5 learning points (separated by new lines)</small>
                    </div>

                    <div class="form-group">
                        <label>Skill Level:</label>
                        <div class="radio-group">
                            <input type="radio" id="beginner" name="difficultyLevel" value="Beginner"
                                formControlName="difficultyLevel">
                            <label for="beginner" class="skill">Beginner</label>

                            <input type="radio" id="intermediate" name="difficultyLevel" value="Intermediate"
                                formControlName="difficultyLevel">
                            <label for="intermediate" class="skill">Intermediate</label>

                            <input type="radio" id="expert" name="difficultyLevel" value="Expert"
                                formControlName="difficultyLevel">
                            <label for="expert" class="skill">Expert</label>

                            <input type="radio" id="all" name="difficultyLevel" value="All"
                                formControlName="difficultyLevel">
                            <label for="all" class="skill">All</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Course Type:</label>
                        <div class="radio-group">
                            <input type="radio" id="crash" name="type" value="Crash Course" formControlName="type"
                                required>
                            <label for="crash" class="skill">Crash Course</label>

                            <input type="radio" id="detailed" name="type" value="Detailed Course" formControlName="type"
                                required>
                            <label for="detailed" class="skill">Detailed Course</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="price">Course Price:</label>
                        <div class="input-with-symbol">
                            <span class="currency-symbol">&#x20B9;</span>
                            <input type="number" name="price" formControlName="price">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Language:</label>
                        <input type="text" id="language" name="language" value="English" disabled>
                    </div>

                    <div class="form-group">
                        <label for="courseFile">Choose Thumbnail Image (Optional):</label>
                        <input type="file" id="courseFile" formControlName="courseFile" (change)="onFileUpload($event)">
                        <br />
                        <small>If you don't upload a thumbnail for this course, a default thumbnail will be
                            displayed.</small>
                    </div>
                    <div class="button-container">
                        <button type="button" routerLink="/instructor/homepage">
                            <mat-icon class="black-icon">keyboard_arrow_left</mat-icon>Previous
                        </button>

                        <button type="submit"
                            [ngClass]="{'disabled-button': courseForm.invalid, 'enabled-button': !courseForm.invalid}"
                            [disabled]="courseForm.invalid" (click)="onNext(stepper)">
                            Next<mat-icon class="black-icon">keyboard_arrow_right</mat-icon>
                        </button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="getSections">
                    <ng-template matStepLabel>Course Content</ng-template>
                    <mat-accordion formArrayName="sections" class="example-headers-align" multi>
                        <div *ngFor="let sectionForm of getSections.controls; index as i;" [formGroupName]="i"
                            class="section-boarder">
                            <mat-expansion-panel [expanded]="i == sectionStep"
                                (opened)="setStepExpansionPanel(i, 'section')">
                                <mat-expansion-panel-header>
                                    <mat-panel-title> Section {{i + 1}} </mat-panel-title>
                                    <mat-panel-description>
                                        Description
                                        <button mat-icon-button
                                            (click)="removeSection(i, sectionForm.get('id')?.value, $event)"
                                            color="warn"><mat-icon>delete_circle</mat-icon></button>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <input type="hidden" id="id" name="id" formControlName="id">
                                <div class="form-group">
                                    <label for="title">Section Title:</label>
                                    <input matInput type="text" id="title" name="title" formControlName="title"
                                        required>
                                </div>

                                <div class="form-group">
                                    <label for="description">Section Description:</label>
                                    <textarea id="description" name="description" formControlName="description" rows="4"
                                        required></textarea>
                                </div>
                                <!-- //TODO - Add subSections -->
                                <div formArrayName="subSections">
                                    <div *ngFor="let subSectionForm of getSubSections(i).controls; index as j;"
                                        [formGroupName]="j" class="sub-section-boarder">
                                        <mat-expansion-panel [expanded]="j == subSectionStep"
                                            (opened)="setStepExpansionPanel(j, 'sub_section')">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title> Sub Section {{j + 1}} </mat-panel-title>
                                                <mat-panel-description>
                                                    Description
                                                    <button mat-icon-button
                                                        (click)="removeSubSection(i, j, sectionForm.get('id')?.value, subSectionForm.get('id')?.value, $event)"
                                                        color="warn"><mat-icon>delete_circle</mat-icon></button>
                                                </mat-panel-description>
                                            </mat-expansion-panel-header>
                                            <input type="hidden" id="id" name="id" formControlName="id">
                                            <div class="form-group">
                                                <label for="title">Sub Section Title:</label>
                                                <input matInput type="text" id="title" name="title"
                                                    formControlName="title" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="description">Sub Section Description:</label>
                                                <textarea id="description" name="description"
                                                    formControlName="description" rows="4" required></textarea>
                                            </div>
                                        </mat-expansion-panel>
                                    </div>
                                </div>
                                <mat-action-row align="end" class="button-container">
                                    <button type="button" (click)="addSubSection(i)"
                                        class="small-button enabled-button">
                                        <mat-icon class="black-icon">add</mat-icon>Sub Section
                                    </button>
                                </mat-action-row>
                            </mat-expansion-panel>
                        </div>
                    </mat-accordion>
                    <div class="button-container">
                        <button type="button" (click)="addSection()" class="small-button enabled-button">
                            <mat-icon class="black-icon">add</mat-icon>Section
                        </button>
                    </div>
                    <div class="button-container">
                        <button type="button" (click)="onPrevious(stepper)" class="enabled-button">
                            <mat-icon class="black-icon">keyboard_arrow_left</mat-icon>Previous
                        </button>
                        <button type="button" (click)="onSubmit()" class="enabled-button">
                            Save
                        </button>
                        <button type="submit"
                            [ngClass]="{'disabled-button': courseForm.invalid, 'enabled-button': !courseForm.invalid}"
                            [disabled]="courseForm.invalid" (click)="onNext(stepper)">
                            Next<mat-icon class="black-icon">keyboard_arrow_right</mat-icon>
                        </button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Course Preview</ng-template>
                    <div>
                        <div class="course-info-container">
                            <mat-tab-group>
                                <mat-tab label="Overview">
                                    <div class="tabs">
                                    </div>
                                </mat-tab>
                                <mat-tab label="Watch Content">
                                    <app-videoplayer></app-videoplayer>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button (click)="stepper.reset()">Reset</button>
                        </div>
                    </div>
                </mat-step>
            </form>
        </mat-stepper>
    </div>
</div>