<div class="navbar_section">
<nav class="navbar">
  <div class="navbar-container">
    <a routerLink="/" class="logo">5th Estate ADR</a>
    <div>
      <ul class="nav-icons">
        <li><a routerLink="/instructor/homepage" routerLinkActive="active" class="mycourses">My Home page</a></li>
        <li><a routerLink="/instructor/library" routerLinkActive="active" class="mycourses">Library</a></li>
        <li><a routerLink="/instructor/article" routerLinkActive="active" class="mycourses">Publishing Corner</a></li>
        <li><a routerLink="/instructor/aboutus" routerLinkActive="active" class="mycourses">About Us</a></li>
        <li><a routerLink="/instructor/notification" routerLinkActive="active" class="mycourses"
            matBadge="3">Notifications</a></li>
        <li class="user-dropdown">
          <div class="user-circle" (click)="onUserCircleClick($event)">
            <span class="user-circle-text">NS</span>
          </div>
          <ul class="user-menu">
            <li class="profile-item">
              <span>
                <div class="user-circle">
                  <a routerLink="" class="user-circle-text" style="color: white;">NS</a>
                </div>
              </span>
              <span class="info">nuncsystems@gmail.com</span>
            </li>
            <li class="username-item">
              <span>Nuncsystems</span>
              <span class="info">040-2980 3199</span>
            </li>
            <hr />
            <li class="navbarContent"><a routerLink="/instructor/profile">Profile</a></li>
            <li class="navbarContent"><a routerLink="/instructor/acSecurity">Account Security</a></li>
            <li class="navbarContent"><a routerLink="/instructor/payment-history">Payment History</a></li>
            <li class="navbarContent"><a routerLink="/instructor/notifications">Notification Settings</a></li>
            <hr />
            <li class="navbarContent"><a routerLink="/instructor/uploadstatus">Courses Status</a></li>
            <li class="navbarContent"><a routerLink="/instructor/articlehistory">My Publishings</a></li>
            <hr />
            <li class="navbarContent"><a routerLink="/instructor/termsandconditions">Terms & Conditions</a></li>
            <li class="navbarContent"><a routerLink="/instructor/contactus">Contact Us</a></li>
            <li class="navbarContent"><a (click)="onLogoutClick()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <app-logout-popup *ngIf="showLogoutPopup" (closePopup)="onClosePopup()" (logout)="onLogout()" class="pop">
  </app-logout-popup>
</nav>
</div>
