
<mat-sidenav-container>
  <mat-sidenav #sideNav mode="side" opened>
      <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container-wrapper">
      <div class="container">
        <h1 class="coursesHistory">Courses History</h1>
        <table>
          <thead>
            <tr>
              <th>Course Name</th>
              <th class="hidden">Approvers</th>
              <th>Approval Status</th>
              <th class="hidden">Approval Actions</th>
              <th>Date of Submission</th>
              <th class="hidden">Date and Time of Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of courses">
              <td>{{ course.name }}</td>
              <td class="hidden">{{ course.approver }}</td>
              <td>
                <p [ngStyle]="getStatusStyles(course.status)">{{ course.status }}</p>
              </td>
              <td class="hidden">{{ course.actions }}</td>
              <td>{{ course.submissionDate }}</td>
              <td class="hidden">{{ course.actionDate }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
