
<!-- <app-library></app-library> -->
<!-- <div class="fixed-header">

  <app-subscribernav></app-subscribernav>
  <h1 class="knowledgeCentre">Library</h1>
</div>

  
    <table border="1" class="pdftable">
      <tbody>
        <tr>
          <td><mat-icon>picture_as_pdf</mat-icon></td>
          <td target="blank" (click)="openFile(pdfFiles[0])" [title]="pdfFiles[0]">INTRODUCTION TO LAW AND LEGAL REASONING</td>
        </tr>
        <tr>
          <td><mat-icon>picture_as_pdf</mat-icon></td>
      <td target="blank" (click)="openFile(pdfFiles[1])" [title]="pdfFiles[1]">THE SIX LAWS OF LEARNING</td>
        </tr>
        <tr>
          <td><mat-icon>picture_as_pdf</mat-icon></td>
          <td target="blank" (click)="openFile(pdfFiles[2])" [title]="pdfFiles[2]">THE BOOK IN EARLY LEGAL EDUCATION</td>
        </tr>
        <tr>
          <td><mat-icon>picture_as_pdf</mat-icon></td>
          <td target="blank" (click)="openFile(pdfFiles[3])" [title]="pdfFiles[3]">BRIEF ABOUT LAW</td>
        </tr>
        <tr>
          <td><mat-icon>picture_as_pdf</mat-icon></td>
          <td target="blank" (click)="openFile(pdfFiles[4])" [title]="pdfFiles[4]"> LAW AND LEGAL REASONING EXPLANATION</td>
        </tr>
        <tr>
          <td><mat-icon>picture_as_pdf</mat-icon></td>
          <td target="blank" (click)="openFile(pdfFiles[5])" [title]="pdfFiles[5]">
            THE COMMON LAW AND CIVIL LAW TRADITIONS
          </td>
        </tr>
        <tr>
          <td><mat-icon>picture_as_pdf</mat-icon></td>
          <td target="blank" (click)="openFile(pdfFiles[6])" [title]="pdfFiles[6]">
            THE SIX LAWS OF LEARNING
          </td>
        </tr>
        <tr>
          <td><mat-icon>picture_as_pdf</mat-icon></td>
          <td target="blank" (click)="openFile(pdfFiles[7])" [title]="pdfFiles[7]">
            THE BOOK IN EARLY LEGAL EDUCATION
          </td>
        </tr>
        <tr>
          <td><mat-icon>picture_as_pdf</mat-icon></td>
          <td target="blank" (click)="openFile(pdfFiles[8])" [title]="pdfFiles[8]">
            THE COMMON LAW AND CIVIL LAW TRADITIONS
          </td>
        </tr>
        <tr>
          <td><mat-icon>picture_as_pdf</mat-icon></td>
          <td target="blank" (click)="openFile(pdfFiles[9])" [title]="pdfFiles[9]">
            THE BOOK IN EARLY LEGAL EDUCATION
          </td>
        </tr>
        <tr>
          <td><mat-icon>picture_as_pdf</mat-icon></td>
          <td target="blank" (click)="openFile(pdfFiles[10])" [title]="pdfFiles[10]">
            BRIEF ABOUT LAW
          </td>
        </tr>
        <tr>
          <td><mat-icon>picture_as_pdf</mat-icon></td>
          <td target="blank" (click)="openFile(pdfFiles[11])" [title]="pdfFiles[11]">
            ATOMIC ENERGY DEFENSE PROVISIONS
          </td>
        </tr><tr>
          <td><mat-icon>picture_as_pdf</mat-icon></td>
          <td target="blank" (click)="openFile(pdfFiles[12])" [title]="pdfFiles[12]">
            THE COMMON LAW AND CIVIL LAW TRADITIONS
          </td>
        </tr>
      </tbody>
    </table>

  <br/>
  <br/>
  <br/>
  <br/>
   -->