<div class="main-container">
  <div class="container-wrapper">
    <div class="form-container">

      <div class="form-group">
        <h2>Upload Sections with Multiple Video:</h2>

        <div *ngFor="let mainSection of mainSections; let mainIndex = index" class="main-section">
          <div class="section-number">Section {{mainIndex + 1}}</div>
          <button type="button" class="remove-button" (click)="removeMainSection(mainIndex)">×</button>
          <br />
          <div class="form-group">
            <label for="mainName{{mainIndex}}">Section Title: </label>
            <input type="text" id="mainName{{mainIndex}}" [(ngModel)]="mainSection.name" name="mainSectionNames[]"
              required>
          </div>

          <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" [(ngModel)]="mainSection.description" name="description" rows="4" required></textarea>
          </div>





          <div *ngFor="let subSection of mainSection.subSections; let subIndex = index">
            <div class="sub-section">
              <div class="form-group">
                <label for="subName{{mainIndex}}_{{subIndex}}">Sub-Section Title: </label>
                <input type="text" id="subName{{mainIndex}}_{{subIndex}}" [(ngModel)]="subSection.title"
                  name="subSectionNames[]" required>
              </div>

              <button type="button" class="remove-button" (click)="removeSubSection(mainIndex, subIndex)">×</button>
              <br />

              <div class="form-group">
                <label for="subDescription{{mainIndex}}_{{subIndex}}">Description:</label>
                <textarea id="subDescription{{mainIndex}}_{{subIndex}}" [(ngModel)]="subSection.description" name="description" rows="4" required></textarea>
              </div>

              <div class="form-group">
                <label>Video Duration:</label>
                <div class="duration-input">
                  <input type="number"  id="hours" name="hours" placeholder="Hours" required>
                  <input type="number" id="minutes" name="minutes"  placeholder="Minutes" required>
                </div>
              </div>

              <div class="form-group">
                <label for="mainFile{{mainIndex}}">Upload Video: </label>
                <input type="file" id="mainFile{{mainIndex}}" (change)="onMainFileSelected($event, mainIndex)"
                  accept="video/*">
              </div>

              <div class="form-group">
                <label for="subFile{{mainIndex}}_{{subIndex}}">Upload File: </label>
                <input type="file" id="subFile{{mainIndex}}_{{subIndex}}"
                  (change)="onSubFileSelected($event, mainIndex, subIndex)" accept="video/*">
              </div>

              <div *ngIf="!subSection.submitted">
                <button type="button" class="save-button sec-save-button " (click)="saveSubSection(mainIndex, subIndex)">Save</button>
                <button type="button" class="submit-button" (click)="submitSubSection(mainIndex, subIndex)">Submit</button>
              </div>
              <div *ngIf="subSection.submitted && subSection.status === 'Under Review'">
                <span>Status: {{subSection.status}}</span>
              </div>
            </div>
          </div>


          <div *ngIf="!mainSection.submitted">
            <button type="button" class="save-button custom-save-button" (click)="saveMainSection(mainIndex)">Save</button>
            <button type="button" class="sec-submit-button" (click)="submitMainSection(mainIndex)">Submit</button>
          </div>
          <div *ngIf="mainSection.submitted && mainSection.status === 'Under Review'">
            <span>Status: {{mainSection.status}}</span>
          </div>


          <br />
          <button type="button" class="add-subsection-button" (click)="addSubSection(mainIndex)">+</button>
        </div>
        <br />
        <button type="button" class="add-section-button" (click)="addMainSection()">+</button>
      </div>

      <div>
        <button type="button" class="submit-button" (click)="submitSections()">Submit All</button>
      </div>
    </div>
  </div>
</div>
