

<h2 class="form-heading">Library Form</h2>

<form *ngIf="!showSuccessMessage" (ngSubmit)="onSubmit()" #libraryForm="ngForm">
  <mat-form-field>
    <mat-label>Document Name</mat-label>
    <input matInput name="libraryName" [(ngModel)]="title" required>
  </mat-form-field>

  <div class="file-input-container">
    <label for="fileInput" class="file-input-label">Choose File</label>
    <input id="fileInput" type="file" name="libraryFile" (change)="onFileChange($event)" required>
    <div *ngIf="selectedFileName">{{ selectedFileName }}</div>
</div>
 

  <button mat-raised-button color="primary" type="submit" [disabled]="!libraryForm.valid">
    Submit
  </button>
</form>

<!-- Display success message and back button conditionally -->
<div *ngIf="showSuccessMessage" class="success-message">
  Library submitted successfully!
  <button mat-button class="back-button" (click)="goBack()">Back</button>
</div>