<app-adminnav></app-adminnav>
<br />
<br>
<div class="my-flex" style="width: 300px;">
  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Filters</mat-label>
    <mat-select [(ngModel)]="selectedFilter" style="width: 100%" appearance="outline" start>
      <mat-option value="contentManager">Content-Manager section</mat-option>
      <mat-option value="reviewer">Reviewer section</mat-option>
      <mat-option value="uploaded">Uploaded section</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="selectedFilter === 'contentManager' || selectedFilter === ''">
  <div class="container">
    <h1>Content-Manager Section</h1>

    <div class="heading">
      <h2>Courses to Review</h2>
    </div>
    <div class="image-grid">
      <div *ngFor="let image of mycoursesimages; let i = index" class="image-item">
        <div class="imagesContainer">
          <img [src]="image" class="img" alt="Random Image">
          <div class="overlay">
            <a routerLink="/admin/courseInfo">
              <i class="fa fa-play-circle play-icon"></i>
            </a>
          </div>
        </div>
        <div class="headingsContainer">
          <h5>{{ headings[i] }}</h5>
          <p>{{ reviewCoursesAuthors[i] }}</p>
          <h4>{{ reviewCoursesText[i] }}</h4>
          <p>{{ paragraphs[i] }}</p>
        </div>
        <div class="ratingscontainer1">
          <div class="ratingConatiner2" (mouseenter)="isHovered[j] = true" (mouseleave)="isHovered[j] = false">
          </div>
        </div>
      </div>
    </div>
    <div class="heading">
      <h2>Reviewed Courses</h2>
    </div>
    <div class="image-grid">
      <div *ngFor="let image of rejectedimages; let i = index" class="image-item">
        <div class="imagesContainer">
          <img [src]="image" class="img" alt="Random Image">
          <div class="overlay">
            <a routerLink="/admin/courseInfo">
              <i class="fa fa-play-circle play-icon"></i>
            </a>
          </div>
        </div>
        <div class="headingsContainer">
          <h5>{{ headings[i] }}</h5>
          <p>{{ reviewCoursesAuthors[i] }}</p>
          <h4>{{ reviewCoursesText[i] }}</h4>
          <p>{{ paragraphs[i] }}</p>
        </div>
        <div class="status-bar">
          <div class="status-fill" [style.width.%]="randomRejectedValues[i]"></div>
        </div>
        <span>{{ randomMyCourseValues[i] }}%complete</span>
        <div class="container1">
          <div class="Conatiner2">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9734;</span>
          </div>
          <div class="Conatiner2">
            <span>Reviewer Ratings</span>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <hr />
  </div>
</div>
<br />
<div *ngIf="selectedFilter === 'reviewer' || selectedFilter === ''">
  <div class="container">
    <h1>Reviewer Section</h1>
    <div class="heading">
      <h2>Courses to Review</h2>
    </div>
    <div class="image-grid">
      <div *ngFor="let image of mycoursesimages; let i = index" class="image-item">
        <div class="imagesContainer">
          <img [src]="image" class="img" alt="Random Image">
          <div class="overlay">
            <a routerLink="/admin/courseInfo">
              <i class="fa fa-play-circle play-icon"></i>
            </a>
          </div>
        </div>
        <div class="headingsContainer">
          <h5>{{ headings[i] }}</h5>
          <p>{{ reviewCoursesAuthors[i] }}</p>
          <h4>{{ reviewCoursesText[i] }}</h4>
          <p>{{ paragraphs[i] }}</p>
        </div>
        <div class="ratingscontainer1">
          <div class="ratingConatiner2" (mouseenter)="isHovered[j] = true" (mouseleave)="isHovered[j] = false">
          </div>
        </div>
      </div>
    </div>
    <div class="heading">
      <h2>Reviewed Courses</h2>
    </div>
    <div class="image-grid">
      <div *ngFor="let image of rejectedimages; let i = index" class="image-item">
        <div class="imagesContainer">
          <img [src]="image" class="img" alt="Random Image">
          <div class="overlay">
            <a routerLink="/admin/courseInfo">
              <i class="fa fa-play-circle play-icon"></i>
            </a>
          </div>
        </div>
        <div class="headingsContainer">
          <h5>{{ headings[i] }}</h5>
          <p>{{ reviewCoursesAuthors[i] }}</p>
          <h4>{{ reviewCoursesText[i] }}</h4>
          <p>{{ paragraphs[i] }}</p>
        </div>
        <div class="status-bar">
          <div class="status-fill" [style.width.%]="randomRejectedValues[i]"></div>
        </div>
        <span>{{ randomMyCourseValues[i] }}%complete</span>
        <div class="container1">
          <div class="Conatiner2">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9734;</span>
          </div>
          <div class="Conatiner2">
            <span>Reviewer Ratings</span>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <hr />
  </div>
</div>
<br />
<div *ngIf="selectedFilter === 'uploaded' || selectedFilter === ''">
  <div class="container">
    <h1>Uploaded Section</h1>
    <div class="heading">
      <h2>Uploaded Courses</h2>
    </div>
    <div class="image-grid">
      <div *ngFor="let image of uploadedimages; let i = index" class="image-item">
        <div class="imagesContainer">
          <img [src]="image" class="img" alt="Random Image">
          <div class="overlay">
            <a routerLink="/admin/courseInfo">
              <i class="fa fa-play-circle play-icon"></i>
            </a>
          </div>
        </div>
        <div class="headingsContainer">
          <h5>{{ uploadedheadings[i] }}</h5>
          <p>{{ uploadedCoursesAuthors[i] }}</p>
          <h4>{{ uploadedCoursesText[i] }}</h4>
          <p>{{ uploadedparagraphs[i] }}</p>
        </div>
        <div class="status-bar">
          <div class="status-fill" [style.width.%]="randomuploadedValues[i]"></div>
        </div>
        <span>{{ randomuploadedValues[i] }}%complete</span>
        <div class="container1">
          <div class="Conatiner2">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9734;</span>
          </div>
          <div class="Conatiner2">
            <span>Reviewer Ratings</span>
          </div>
        </div>
        <h5 class="price">
          <span *ngIf="coursePrice[j] > 0">
            <del>₹{{ coursePrice[j] }}</del>
            <span style="color: green; margin-left: 5px;" class="free">Free</span>
          </span>
        </h5>
      </div>
    </div>
  </div>
</div>
<br />
<br />