.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .report-btn {
    margin-right: 130px;
    margin-bottom: 40px;
    background-color: #007791;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .report-btn:hover {
    background-color: #005e6b;
  }
}


.section-name {
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}
  .my-flex{
    margin-left: 770px;
  }
  .container {
    margin: 0 auto;
    max-width: 80vw;

    .filter-section {
      display: flex;
    }

    h1{
      font-size: 19px;
      text-align: center;
      font-weight: bold;
    }
  }
  
  .heading {
    padding:5px 0;
    color: #007791;
    
  }
  h2{
    font-weight: bolder;
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  
    .image-item {
      overflow: hidden;
      cursor: pointer;
  
      &:hover {
        .overlay {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          background-color: rgba(115, 113, 113, 0.7);
        }
      }
  
      .img {
        width: 100%;
        height: 100%;
        display: flex;
      }
  
      .imagesContainer {
        position: relative;
  
        .duration {
          position: absolute;
          bottom: 5px; 
          right: 5px;
          background: rgba(0, 0, 0, 0.7);
          color: #fff;
          padding: 3px 6px;
          border-radius: 5px;
        }
      }
  
      .overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
  
      h5 {
        font-size: 15px;
        font-weight: bold;
      }
  
      p {
        font-size: 12px;
        color: #666;
      }
  
      .play-icon {
        color: white;
        font-size: 80px;
      }
  
      .status-bar + span {
        padding: 3px;
      }
      .price {
        font-size: small;
        font-weight: bold;
        margin-top: 5px;
      }
    }
  
    .status-bar {
      width: 100%;
      height: 3px;
      background-color: #ccc;
      margin: 0 2px 2px 2px;
      .status-fill {
        height: 100%;
        background-color: #7803d8;
      }
    }
    .container1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
    
      .Conatiner2 {
        display: flex;
        align-items: center;
  
        
        
        .star {
          color: gold;
          font-size: 20px;
        }
      }
      
    
      span {
        font-size: 12px; 
        text-align: center; 
        
      }
    }
  
    .ratingscontainer1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
    
      
      .ratingConatiner2 {
        display: flex;
        align-items: center;
  
        
        
        .star {
          color: gold;
          font-size: 20px;
        }
      }
      span {
        font-size: 12px; 
        text-align: center; 
      }
    }
    .ratingText {
      font-size: 14px;
    }
  }
  
  .my-flex {
    display: flex;
    height: 45px;
    margin-bottom: 20px;
    align-items: center;
  }
  
  #filters {
    padding: 30px 0 0;
    font-weight: bold;
    font-size: 15px;
    color: rgb(60, 60, 60);
  }
  
  .searchbox {
    display: flex;
    margin: 30px 0 20px 590px;
    color: rgb(60, 60, 60);
    font-size: 15px;
    padding: 18px;
  }
  .searchButton {
    padding: 12px;
    color: white;
    font-size: 25px;
    background-color: rgb(47, 47, 47);
    margin-top: 9px;
  }
  
  
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  
    @media screen and (max-width: 1040px) {
      .rating {
        justify-content: flex-start;
        position: relative;
        top: 0px;
      }
    }
  
    @media screen and (max-width: 768px) {
      margin-top: 20px;
      grid-template-columns: repeat(3, 1fr);
    }
  
    @media screen and (max-width: 480px) {
      margin-top: 20px;
      grid-template-columns: repeat(2, 1fr);
    }
    h4 {
      margin-top: 8px;
      font-size: 15px;
      font-weight: bold;
      color: #7803d8;
    }
  
  }
  .pdf-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
    .pdf-item {
      flex: 0 0 calc(16.666% - 20px);
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      cursor: pointer;
      transition: transform 0.5s, box-shadow 0.4s; 
     padding: 10px;
  
      &:hover {
        transform: translateY(-5px); 
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
       
      }
  
      mat-icon {
        color: rgb(207, 86, 86);
        margin-bottom: 5px;
      }
  
      .pdf-name {
        font-size: 14px;
      }
    }
  }
  
  .pdf-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
  }
  
  .pdf-item {
    width: 120px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: #f4eded;
    transition: transform 0.5s, box-shadow 0.4s;
    padding: 20px;
    border-radius: 10%;
  
    &:hover {
      transform: translateY(-5px); 
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    }
  
    mat-icon {
      color: rgb(207, 86, 86);
      margin-bottom: 5px; 
      margin-top: 10px;
    }
  
    .pdf-name {
      margin-top: 5px; 
      font-size: 14px; 
      text-align: center;
    }
  }




  .article-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
    .article-item {
      flex: 0 0 calc(16.666% - 20px);
       display: flex;
       flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      cursor: pointer;
      transition: transform 0.3s, box-shadow 0.3s; 
      padding: 20px;
  
      &:hover {
        transform: translateY(-5px); /* Add a slight lift effect */
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Add box shadow for a lifted look */
      }
  
      mat-icon {
        // color: rgb(207, 86, 86);
        margin-bottom: 5px;
      }
  
      .article-name {
        font-size: 14px;
      }
    }
  }
  
  .article-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
    gap: 20px; /* Adjust the gap between items as needed */
  }
  
  .article-item {
    width: 100px;
    // height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: #f4eded;
    transition: transform 0.5s, box-shadow 0.4s;
    padding: 10px;
    border-radius: 10%;
  
    &:hover {
      transform: translateY(-5px); 
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    }
  
    mat-icon {
      // font-size: 36px; 
      // color: rgb(207, 86, 86);
      margin-bottom: 5px; /* Spacing between icon and name */
    }
  
    .article-name {
      margin-top: 5px; /* Adjust the margin between the icon and text as needed */
      font-size: 14px; /* Adjust the size of the name as needed */
      text-align: center;
    }
    .author-name{
      margin-right: 70px;
      font-weight: bold;
    }
  }

  .unverified{
     
    width: 10px;
    height: 10px;
      background: red;
      border-radius:50%;

  
  }
  .unseen{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .article-item .unverified,.pdf-item .unverified{
    margin-left: 75px;

  }

  
  
  
  
  
  
  
  