<app-adminnav></app-adminnav>
<mat-sidenav-container>
    <mat-sidenav #sideNav mode="side" opened>
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="container-wrapper">
            <div class="container">
              <div class="main-box">
                <h1>Payment History</h1>
                <table class="purchase-table">
                  <tr>
                    <th>Course Name</th>
                    <th>Price</th>
                    <th>No.of Subscribers</th>
                  </tr>
                  <ng-container *ngFor="let purchase of purchaseHistory; let i = index">
                    <tr>
                      <td>{{ purchase.heading }}</td>
                      <td>{{ purchase.price }}</td>
                      <td>{{purchase.noofsubscribers}}</td>
                    </tr>
                  </ng-container>
                </table>
              </div>
            </div>
          </div>
    </mat-sidenav-content>
</mat-sidenav-container>
