<div class="container-wrapper">
    <div class="sidenav-container">
        <div class="sidenav">
            <div class="logo">NS</div>
            <ul class="nav-list">
                <hr/>
                <li><a routerLink="/authentication/profile" routerLinkActive="active">Profile</a></li>
                <li><a routerLink="/authentication/acSecurity" routerLinkActive="active">Account Security</a></li>
                <li><a routerLink="/authentication/payments" routerLinkActive="active">Purchase History</a></li>
                <li><a routerLink="/authentication/notifications" routerLinkActive="active">Notification Settings</a></li>
                <hr/>
                <li><a routerLink="/authentication/termsandconditions" routerLinkActive="active">Terms & Conditions</a></li>
                <li><a routerLink="/authentication/contactus" routerLinkActive="active">Contact Us</a></li>
                <li><a (click)="onLogoutClick()">Logout</a></li>
                <li><a routerLink="/authentication/delete-account" routerLinkActive="active" class="deleteAccount">Delete Account</a></li>
            </ul>
        </div>
    </div>
</div>
<app-logout-popup *ngIf="showLogoutPopup" (closePopup)="onClosePopup()" (logout)="onLogout()" class="pop">
</app-logout-popup>
