.heading {
  background-color: rgb(35, 34, 34);
  color: white;
  padding: 50px 200px;

  h1 {
    font-size: xx-large;
    font-weight: 500;
  }

  .first-paragraph {
    font-size: large;
  }

  .icon {
    display: inline-flex;
    align-items: center;
  }

  .updated {
    font-size: 15px;
    padding: 0 10px 0 0;
  }

  .language {
    font-size: 15px;
    padding: 0 10px 0 30px;
  }

  .ratingConatiner {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .starNumber {
      padding: 0 10px 0 0;
    }
    .star,
    .fa .star {
      color: gold;
      font-size: 16px;
    }
  }
}

.courseDescription {
  border: 1px solid rgb(173, 172, 172);
  margin: 30px 200px;
  padding: 30px;
  .material-icons {
    font-size: medium;
  }
}

.courseFeatures {
  margin: 50px 200px;

  .grid-container {
    width: 100%;

    .grid-item {
      border: 1px solid #ccc;
      margin-bottom: 10px;
      padding: 1rem;
      // display: flex;
      align-items: center;
      transition: background-color 0.3s;

      &:hover {
        cursor: pointer;
        background-color: #d7d5d5;
      }

      &:nth-child(3) {
        margin-bottom: 40px;
      }

      span {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }
}
mat-panel-title {
  display: flex;
  justify-content: space-between;
}

.custom-icon {
  font-size: 16px;
}

.titleDesc {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  .titlehead {
    width: 77%;
  }
  .titlehead {
    .videos-title {
      cursor: pointer;
    }
  }
  .lastUpdated {
    display: flex;
    justify-content: flex-end;
  }
  .video-time {
    display: flex;
    justify-content: flex-end;
  }
}

.container,
.sectionsInfo {
  padding-left: 18px;
}
.title-text {
  font-size: 24px;
  padding-top: 10px;
}
.sectionsInfo {
  margin-top: 26px;
  margin-bottom: 15px;
}
.sectionInfo {
  border-radius: 2px;
  //box-shadow: 0px 0px 5px rgb(182, 176, 176);
  width: 100%;
  padding: 5px;
  z-index: 22;
  margin-bottom: 5px;
  letter-spacing: unset;
  background-color: #eae5e5;
}
.sectionDesc {
  margin: 0px 0px 0px 0px;
}
mat-card {
  border: 1px solid rgb(173, 172, 172);
  margin-bottom: 26px;
}
.star1 {
  font-size: 20px;
}
.course-container {
  width: 240px;
  //height: 350px;
  background-color: #fdfefe;
  border: 1px solid #b3b1b2f3;
  padding: 10px;
  padding-top: 25px;
  box-shadow: 0px 0px 10px rgb(163, 161, 161);
  text-align: center;
  position: fixed;
  bottom: 50px;
  z-index: 50;
  right: 5px;
  .add-to-cart {
    padding: 10px;
    button.add-button {
      width: 120px;
      border: 1px solid #b4b2b2;
      background-color: purple;
      color: white;
      padding: 10px;
      transition: background-color 0.3s, color 0.3s;
      cursor: pointer;
    }
  }

  .not-subscribed {
    color: #333;
    margin: 3px 0;
  }
}

.container1 {
  .container2 {
    border: 1px solid rgb(173, 172, 172);
    padding: 2%;
  }
  .heading1 {
    font-weight: 700;
    font-size: x-large;
  }

  .author {
    font-weight: 500;
    cursor: pointer;
    font-size: x-large;
    color: rgb(71, 71, 254);
    text-decoration: underline;
  }

  .text {
    font-size: large;
    color: grey;
  }

  .avatar {
    width: 170px;
    height: 170px;
    float: left;
  }

  .iconsContainer {
    clear: both;
  }
  .icon {
    display: inline-flex;
  }
  .icon p {
    padding: 3px 0 0 20px;
  }

  .icons {
    display: grid;
    padding: 20px 0 0 10px;
  }

  .reviews-badge {
    width: 19px;
    height: 19px;
  }

  .instructorDescription {
    text-indent: 100px;
    text-align: justify;
  }
}
