<ng-container>
    <div   id="showVideo" class="video-info-total">
      <!-- side bar video expansion panel  -->
      <mat-card
        class="side-bar"
        [style.display]="sidebarVisible ? 'block' : 'none'"
      >
        <div class="container">
          <mat-card-title class="title">
            <div class="title-text" style="margin-left: 20px">Course Content</div>
            <div class="close-button" (click)="toggleSidebar()">
              <mat-icon>close</mat-icon>
            </div>
          </mat-card-title>
        </div>
        <mat-divider></mat-divider>
        <mat-accordion class="sidebar-content">
          <mat-expansion-panel
            *ngFor="let videoGroup of videoGroups; let i = index" #myExpansionPanel
            [attr.id]="'expansion-panel-' + i"
            >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div >
                  <div class="title-text">{{ videoGroup?.panelTitle }}</div>
                  <div class="section-info">1/4 | 5min</div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="video-group">
              <ng-container *ngFor="let video of videoGroup?.videos; let j = index">
                  <div class="video-item" [class.playing-video-title]="isVideoPlaying(i, j)" >
                    <div class="box">
                      <input
                        type="checkbox"
                        [(ngModel)]="video.selected"
                        class="checkbox-input"
                      />
                    </div>
                    <div  >
                      <div class="videos-title"  (click)="playVideo(i, j)" >{{ video?.title }}</div>
                      <div class="c">
                        <mat-icon class="custom-icon mat-icon-small">ondemand_video</mat-icon>
                        <div style="color: rgb(122, 119, 119)">
                          {{ video?.time }}
                        </div>
                        <div class="sideComments"  [class.disabled]="!enableComments[i][j]" (click)="openCommentPopup()">Comments</div>
                      </div>
                    </div> 
            </div>
            </ng-container>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
  </mat-card>
      <!-- video player container -->
      <div>
        <div #videocontainer class="video-container video-container-sidebar">
          <video
            playsinline
            controls
            id="player"
            [src]="currentVideoSource"
            type="video/mp4"
            [autoplay]="autoplayVideo"
          >
            <track
              kind="captions"
              label="English captions"
              src="/path/to/captions.vtt"
              srclang="en"
              default
            />
          </video>
    
          <div [style.display]="!sidebarVisible ? 'block' : 'none'">
            <button class="open-sidebar" (click)="openSidebar()">CourseContent</button>
          </div>
        </div>
      </div>
    
    
   
</div>
</ng-container>
        <div class="pop" *ngIf="reviewercomments"> 
            <div style="text-align: end;font-size: 20px;margin-bottom: 10px;cursor:pointer" (click)="closeComments()">X</div>
            <textarea id="w3review" name="w3review" rows="4" cols="50"></textarea>
            <div class="Reviewerbtn">
                <button mat-raised-button color="primary" (click)="approve()">Approve</button>
                <button mat-raised-button color="warn" (click)="reject()">Reject</button>
            </div>
        </div>
<div class="vv">
    <div class="video-info-container">

        <mat-tab-group>
            <mat-tab label="Overview">
                <div>
                    <div class="main overview">
                        <div class="body-head">
                            <h1>About this course</h1>
                            <p>10 Hours of React just added. Become a Developer With ONE course -HTML, CSS,JavaScript,
                                React, Node, MongoDB and More!
                            </p>
                            <hr />
                        </div>
                        <div class="overview-container">
                            <div>
                                <p>By the numbers</p>
                            </div>
                            <div>
                                <p>Skill level: All Levels</p>
                                <p>Languages: English</p>
                                <p>Captions: Yes</p>
                            </div>
                            <div>
                                <p>Lectures: 722</p>
                                <p>Video: 74 total hours</p>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Give Rating">
                Provide review for this course.
                <br>
                <br>
                <!-- <ng-container *ngFor="let i of stars">

                    <mat-icon (mouseenter)="updaterating(i)" [ngClass]="{ active: i <= selected }" class="staricon">

                        star

                    </mat-icon>

                </ng-container> -->
                <!-- <div class="pop-review" *ngIf="isReviewed">

                    <textarea [(ngModel)]="textAreaValue" id="w4review" name="w3review" rows="4" cols="50" placeholder="Give your reviews here"></textarea>

                    <div class="ratingbtn">
                            <button mat-raised-button color="primary" (click)="save()">Save</button>
                    </div>
                </div>
                    <div class="review" *ngIf="!isReviewed">
                        {{ review }}
                      </div> -->
                
            </mat-tab>

        </mat-tab-group>
    </div>
</div>



