<app-adminnav></app-adminnav>
<div class="heading">
  <h1>Admin-Dashboard</h1>
</div>

<div  *ngIf="showcredentialStatus" class="main-container">
  <div class="sidenav">
    <app-dashboard-sidenav></app-dashboard-sidenav>
  </div>

  <div class="content">
    <div class="login-container">
      <h2>Create login credentials for Reviewer, Content Manager, Instructor, and other Admins.</h2>

      <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <div class="input-group">
        <div><label for="username" style="color: red;">*</label>Username:</div>  
          <input type="text" id="username" formControlName="username" required />
        </div>

        <div class="input-group">
          <div> <label for="email" style="color: red;">*</label>Email:</div>
          <input type="email" id="email" formControlName="email" required />
        </div>

        <div class="input-group">
          <div><label for="phoneNumber" style="color: red;">*</label>Phone Number:</div>
          <input type="tel" id="phoneNumber" formControlName="phoneNumber" required />
        </div>

        <div class="input-group">
          <label for="role">Role:</label>
          <select id="role" formControlName="selectedRole" required>
            <option value="instructor">Instructor</option>
            <option value="content-manager">Content Manager</option>
            <option value="reviewer">Reviewer</option>
            <option value="admin">Admin</option>
          </select>
        </div>

        <!-- Login Button -->
        <button [disabled]="!loginForm.valid" type="submit" (click)="submit">Submit</button>
      </form>
      <p class="btn-text">Please fill above all details to enable the button.</p>
    </div>
  </div>
</div>


<div  *ngIf="showMessageStatus" class="message-status">
  <div class="submission-status">
    <span class="close-icon" (click)="closePage()">&#10006;</span>
    <h3>Credentials submitted successfully. Please wait for some time; you will be notified.</h3>
    <button class="close-button" (click)="closePage()">Close</button>
  </div>
</div>



