<app-adminnav></app-adminnav>
<!-- <p>admin-dashboard works!</p> -->
<div class="heading"> <h1>Dashboard</h1></div>
<div class="main-container">

<div class="sidenav">
<app-dashboard-sidenav></app-dashboard-sidenav>
</div>

<div class="content">
    <h4>content goes here</h4>
</div>
</div>
<br/>
<br/>
<!-- <div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <form class="navbar-form">
      <mat-form-field class="no-border">
        <input matInput type="text" placeholder="Search...">
        <button mat-icon-button type="submit">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </form>
    <mat-nav-list class="nav-mobile-menu">
      
      <a mat-list-item routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>
        <span class="d-lg-none d-md-block">Stats</span>
      </a>
     
    </mat-nav-list>
  </div>
  <mat-nav-list class="nav">
    <a mat-list-item routerLinkActive="active" *ngFor="let menuItem of menuItems" [routerLink]="[menuItem.path]">
      <mat-icon>{{menuItem.icon}}</mat-icon>
      <span>{{menuItem.title}}</span>
    </a>
  </mat-nav-list>
</div> -->

