// admin-dashboard.component.scss

.heading {
  h1 {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-weight: 500;
  }
}

.main-container {
  background-color: rgb(226, 226, 226);
  display: flex;
  height: 100vh;

  .sidenav {
    width: 240px;
    background-color: rgb(226, 226, 226);
    padding: 20px;
    padding-left: 50px;
    height: 80%;
  }

  .content {
    flex-grow: 1;
    padding: 20px;
    height: 100%;

    h4 {
      color: #333;
    }
  }
}

.login-container {
  max-width: 700px;
  margin: 15px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: white;
  height: auto;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    label {
      margin-bottom: 5px;
      font-weight: bold;
    }

    input,
    select {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 3px;
      box-sizing: border-box;
    }
  }

  button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;

    &:hover {
      background-color: #2980b9;
    }

    // Initially disable the button
    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
  .btn-text{
    color: #4c4b4b;
  }
}




.message-status {
  background-color: #e0d9d9;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.submission-status {
  background-color: white;
  
  width: 700px;
  height: 200px;
  padding: 20px;
  margin: 60px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; /* Add position relative to position close icon */
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
  color: green;
}

.close-button {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #2980b9;
  }
}
