.heading {
    h1 {
        text-align: center;
        padding: 10px;
    }
}
    .main-container {
      background-color: rgb(226, 226, 226);
      display: flex;
      height: 100vh; 
  
      .sidenav {
        width: 240px;
        background-color: rgb(226, 226, 226); 
        padding: 20px;
        padding-left: 50px;
        height: 80%; 
        
  
       
        // app-dashboard-sidenav {
        //  background-color: #333;
        // }

      }
  
      .content {
        flex-grow: 1;
        padding: 20px;
        height: 100%; 
        
        h4 {
          color: #333; 
        }
      }
    }
    .notification-list {
      width: 100%;
      max-width: 1000px;
    }
    .notification-item {
      display: flex;
      padding: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin: 18px 0;
      background-color: white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s;
    
      .date {
        padding: 20px;
      }
    }
    
    .notification-item:hover {
      cursor: pointer;
      background-color: #e8e5e5;
    }
    .circle {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      border-radius: 60%;
      font-size: 18px;
      font-weight: bold;
      margin-right: 16px;
    }
    
    .notification-content {
      flex-grow: 1;
    }
    
    .notification-message {
      font-size: 16px;
      color: #333;
    }
    .delete-icon,.Edit-icon {
      margin-top: 15px;
    }
/* dashboard-notifications.component.scss */

/* Style for the buttons */
button {
  padding: 8px 16px;
  margin-right: 8px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 14px;
}


