<mat-sidenav-container>
    <mat-sidenav #sideNav mode="side" opened>
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="container-wrapper">
            <div class="sidenav-container">
                <h1 class="publishedArticles">Article's Status</h1>
                
                <table class="article-table">
                    <thead>
                        <tr>
                            <th class="articleHeading">Article Name</th>
                            <th>Date of Submission</th>
                            <th class="publishedDate">Article Status</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let article of userArticles" >
                            <td class="articleName" >{{ article.title }}</td>
                            <td>{{ article.createdDate | date:'yyyy-MM-dd' }}</td>
                            <td>{{ getArticleStatus(article.reviewStatus) }}</td>

                        </tr>
                    </tbody>
                </table>

         
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>



