.heading {
  h1 {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-weight: 500;
  }
}

.main-container {
  display: flex;
}

.sidenav {
  width: 240px;
  padding: 20px;
  padding-left: 50px;
  min-height: 70vh;
  max-height: 100vh;
}

.profile-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  height: 10%;
  box-sizing: border-box;
  background-color: white;
  cursor: pointer;
}

.profile-table {
  margin-top: 1rem;
  border-collapse: collapse;
  width: 75%;
  margin-bottom: 4%;
}

.profile-table th,
.profile-table td {
  padding: 20px;
  border: none;
}

.profile-table th {
  text-align: left;
}

.profile-item {
  margin-bottom: 10px;
}

.profile-table .profile-placeholder {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 8px;
  margin-top: 13px;
  margin-left: 35px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

td h3 {
  margin-left: -60px;
  margin-bottom: 5px;
}
.align{
  transform: translate(-60px,0px);
}
.profile-container {
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

  h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }

  .profile-section {
    margin-bottom: 15px;

    label {
      display: inline-block;
      width: 150px;
      font-weight: bold;
    }

    span {
      display: inline-block;
    }

    mat-slide-toggle {
      margin-left: 10px;
    }

    button {
      margin-left: 10px;
      padding: 8px 12px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    button:hover {
      background-color: #45a049;
    }

      .icon {
          margin-right: 5px;
      }
  }

  .goBack-button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    align-self: center;
    // margin-left: 580px; 
    background-color: #3498db;
    color: #fff;
    // margin-right: auto; 
  }
}

#previewImage {
  max-width: 200px;
  max-height: 100px;
  margin-bottom: 5px;
}