
<div class="heading">
  <h1>All Profiles</h1>
</div>

<div class="main-container">
  <div class="sidenav">
    <app-dashboard-sidenav (roleSelected)="onRoleSelected($event)"></app-dashboard-sidenav>
  </div>

  <div class="profile-list">
    <div *ngFor="let profile of allProfiles" class="profile-item" routerLink="/admin/profile-details">
      <div class="profile-info">
        <div class="profile-placeholder">{{ getInitials(profile.username) }}</div>
        <div class="profile-details">
          <div class="profile-details-left">
            <h3>{{ profile.username }}</h3>
            <p>{{ profile.role }}</p>
          </div>
          <div class="profile-details-right">
            <p [ngStyle]="getStatusStyles(profile.status)">{{ profile.status }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
