<div class="heading">
  <h1>{{ selectedRole }}</h1>
</div>

<div class="main-container">
  <div class="sidenav">
    <app-dashboard-sidenav
      (roleSelected)="onRoleSelected($event)"
    ></app-dashboard-sidenav>
  </div>

  <table class="profile-table" *ngIf="selectedRole !== 'ADVISORS'">
    <tbody>
      <tr class="profile-item">
        <th></th>
        <th class="align">Username</th>
        <th>Profile</th>
        <th>Change the status of the user</th>
      </tr>
      <tr
        *ngFor="let profile of allProfiles"
        class="profile-item"
        id="uniqueProfileId"
      >
        <td class="profile-placeholder" (click)="openProfileModal(profile.id)">
          {{ getInitials(profile.name) }}
        </td>
        <td (click)="openProfileModal(profile.id)">
          <h3>{{ profile.name }}</h3>
        </td>
        <td (click)="openProfileModal(profile.id)">{{ profile.role }}</td>
        <td>
          <span [ngStyle]="getStatusStyles(profile.status)">{{
            profile.status
          }}</span>

          <mat-slide-toggle
            [checked]="profile.status === 'ACTIVE'"
            [ngStyle]="getStatusStyles(profile.status)"
            (change)="onToggleUserActivation(profile.id, $event)"
          >
            <span>
              {{
                profile.status === "ACTIVE"
                  ? "Inactivate the user"
                  : "Activate the user"
              }}</span
            >
          </mat-slide-toggle>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5" style="padding: 0">
          <app-shared-pagination
            [totalRecordsCount]="pagination.totalElements"
            (pageChange)="onPageChange($event, false)"
          ></app-shared-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
  <table class="profile-table" *ngIf="selectedRole === 'ADVISORS'">
    <tbody>
      <tr class="profile-item">
        <th></th>
        <th class="align">Username</th>
        <th style="font-size: large">Profile</th>
        <th style="font-size: large">Edit Profile</th>
        <!-- class="align" -->
      </tr>
      <tr
        *ngFor="let profile of advisorProfiles"
        class="profile-item"
        (click)="navigateToAdvisorProfiles(profile.id)"
      >
        <td class="profile-placeholder">{{ getInitials(profile.name) }}</td>
        <td>
          <h3>{{ profile.name }}</h3>
        </td>
        <td>{{ profile.jobTitle }}</td>
        <td><button mat-raised-button color="primary">Edit Profile</button></td>
      </tr>
    </tbody>
  </table>
</div>
