.article{
  margin:30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.button-container {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically */
  
    button {
      padding: 10px 20px;
      margin-right: 10px;
      border: none;
      cursor: pointer;
      font-size: 16px;
      border-radius: 5px;
      margin-top: 25px;
    }
  
    .approve-button {
      background-color: #4caf50; /* Green */
      color: white;
    }
  
    .reject-button {
      background-color: #f44336; /* Red */
      color: white;
    }
  }
  
  .goBack-button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    align-self: center;
    margin-left: 580px; 
    background-color: #3498db;
    color: #fff;
    // margin-right: auto; 
  }


  .approval-message,
  .rejection-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #dff0d8; 
    padding: 40px;
    margin: auto;
    font-size: 16px;
    text-align: center;
  }
  
  .icon {
    cursor: pointer;
    font-size: 24px;
    margin-left: 10px;
  }
  
.rejection-message {
  background-color: #f2dede; /* Red background for rejection, you can customize */
}
