<app-managernav></app-managernav>
<div *ngIf="article">
  <h2>{{ article.title }}</h2>
  <p>{{ article.description }}</p>

  <button *ngIf="article.files && article.files.length > 0" (click)="openFile(article.files[0]?.url, article.files[0]?.fileName)">Open File</button>
  <div *ngIf="article.files && article.files.length > 0">
    <!-- <app-article-file *ngIf="fileOpened" [fileUrl]="article.files[0]?.url" [fileName]="article.files[0]?.fileName"></app-article-file> -->
    <!-- <app-article-file *ngIf="fileOpened" [fileUrl]="article.files[0]?.url"></app-article-file> -->
  </div>

  <div>
    <!-- <p>{{ storedFileContent }}</p> -->
  </div>
</div>

<div class="button-container">
  <button class="approve-button">Approve</button>
  <button class="reject-button">Reject</button>
</div>

<button (click)="goBack()" class="goBack-button">Go Back</button>