
<app-managernav></app-managernav>
<div *ngIf="article">
  <h2>{{ article.title }}</h2>
  <p>{{ article.description }}</p>
  <!-- <h3>{{ article.author }}</h3> -->


<!-- Example: Display file using an iframe (modify based on your file type) -->
<!-- <iframe [src]="articleFileUrl" width="100%" height="500px"></iframe> -->
<!-- Display files if available -->
<div *ngIf="article.files && article.files.length > 0">
  <h3>Files:</h3>
  <div *ngFor="let file of article.files">
    <!-- <p>File Name: {{ file.fileName }}</p> -->
    <!-- <p>File Name:  <a href="{{ file.url }}">{{ file.fileName }}</a> </p> -->
    <p *ngIf="file.url">
      File URL: <a href="javascript:void(0);" (click)="openFile(file.url)">{{ file.fileName }}</a>
    </p>
    
    <!-- <p>File URL: <a [href]="encodeFileUrl(file.url)" >{{ file.url }}</a></p> -->
    <p>File URL: <a href="{{ file.url }}" target="_blank">{{ file.url }}</a></p>

    <!-- You might want to display the file using appropriate HTML tags or components here -->
    <!-- For example, an image can be displayed using <img [src]="file.url" alt="File Image"> -->
  </div>
</div>


</div>

<div class="button-container">
  <button class="approve-button" >Approve</button>
  <button class="reject-button" >Reject</button>
</div>

<button (click)="goBack()" class="goBack-button">Go Back</button>
