.button-container {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically */
  
    button {
      padding: 10px 20px;
      margin-right: 10px;
      border: none;
      cursor: pointer;
      font-size: 16px;
      border-radius: 5px;
      margin-top: 25px;
    }
  
    .approve-button {
      background-color: #4caf50; /* Green */
      color: white;
    }
  
    .reject-button {
      background-color: #f44336; /* Red */
      color: white;
    }
  }
  
  .goBack-button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    align-self: center; /* Center the button vertically */
    margin-left: auto; /* Move to the right to center horizontally */
    margin-right: auto; /* Move to the left to center horizontally */
  }
  