.container {
  margin: 0 auto;
  max-width: 80vw;
  
}

.heading {
  position: relative;
  margin-top: 20px;

  .heading2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h1 {
    display: inline-block;
    font-weight: bolder;
    color: #007791;
    text-decoration: solid;
  }

  p.create-course {
    position: absolute;
    top: 5px;
    right: 10px;
    margin: 0;

    .mycourses {
      display: inline-block;
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      border-radius: 5px;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
  .course-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    cursor: pointer;
    
  }
  
  .course-item {
    flex: 1 1 calc(25% - 20px); 
    max-width: calc(25% - 20px); 

    .imagesContainer {
      position: relative;
    }
    
    .overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    
    .play-icon {
      font-size: 4em; 
      color: white; 
    }
   .mycourses{
    background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
   }
   h4 {
    font-size: 16px;
    font-weight: bold;
    color: #7803d8;
    text-transform: capitalize; 
  } 
  p {
    font-size: 12px;
    color: #666;
  }
  }
  
}

/* Add these styles to your component's SCSS file */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.edit-button,
.preview-button {
  padding: 7px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #007791;
  }

  &.preview-button {
    background-color: #007791;
    // background-color: #7803d8;
    margin-left: 8px;
  }

  &.edit-button {
    background-color: #0056b3;
    // background-color: #7803d8;
    margin-left: 8px;
  }
}

.custom-width {
  width: 290px;
}

.mat-menu {
  width: 270px;
}

.mat-menu-panel {
  width: 230px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  .image-item {
    overflow: hidden;
    cursor: pointer;

    &:hover {
      .overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: rgba(115, 113, 113, 0.7);
      }
    }

    .img {
      width: 100%;
      height: 100%;
      display: flex;
    }

    .imagesContainer {
      position: relative;

      .duration {
        position: absolute;
        bottom: 5px;
        right: 5px;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 3px 6px;
        border-radius: 5px;
      }
    }

    .overlay {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    .mycourses {
      display: inline-block;
      background-color: #007bff;
      color: #fff;
      padding: 5px 10px;
      border-radius: 5px;
      border: none;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }

    h5 {
      font-size: 15px;
      font-weight: bold;
    }

   

    

    .play-icon {
      color: white;
      font-size: 80px;
    }

    .status-bar+span {
      padding: 3px;
    }

    .price {
      font-size: small;
      font-weight: bold;
    }
  }

  .status-bar {
    width: 100%;
    height: 3px;
    background-color: #ccc;
    margin: 0 2px 2px 2px;

    .status-fill {
      height: 100%;
      background-color: #7803d8;
    }
  }

  .container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .Conatiner2 {
      display: flex;
      align-items: center;



      .star {
        color: gold;
        font-size: 20px;
      }
    }


    span {
      font-size: 12px; // Adjust font size if needed
      text-align: center; // Center the text if needed
      // margin-top: 5px; // Adjust the margin between stars and text
    }
  }

  .ratingscontainer1 {
    display: flex;
    justify-content: space-between;
    align-items: center;


    .ratingConatiner2 {
      display: flex;
      align-items: center;



      .star {
        color: gold;
        font-size: 20px;
      }
    }


    span {
      font-size: 12px; // Adjust font size if needed
      text-align: center; // Center the text if needed
      // margin-top: 5px; // Adjust the margin between stars and text
    }
  }

  .ratingText {
    font-size: 14px;
  }
}

.my-flex {
  display: flex;
  height: 45px;
  margin-bottom: 20px;
  align-items: center;
}

#filters {
  padding: 30px 0 0;
  font-weight: bold;
  font-size: 15px;
  color: rgb(60, 60, 60);
}

.searchbox {
  display: flex;
  margin: 30px 0 20px 590px;
  color: rgb(60, 60, 60);
  font-size: 15px;
  padding: 18px;
}

.searchButton {
  padding: 12px;
  color: white;
  font-size: 25px;
  background-color: rgb(47, 47, 47);
  margin-top: 9px;
}

.comment {
  font-size: 15px;
  font-weight: 400;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  @media screen and (max-width: 1040px) {
    .rating {
      justify-content: flex-start;
      position: relative;
      top: 0px;
    }
  }

  @media screen and (max-width: 768px) {
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 480px) {
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}
.imagesContainer img {
  width: 100%;
  /* Set the image width to 100% of the parent's width */
  height: 100%;
  /* Set the image height to 100% of the parent's height */
  object-fit: cover;
  /* Optional: maintain aspect ratio and cover the entire parent */
}