<app-instructornav></app-instructornav>


<div class="container">
    <div class="heading">
      <div class="heading2">
      <h1>Courses for submission</h1>
      <p class="create-course"><a routerLink="/instructor/courses" class="mycourses">Create a Course</a></p>
    </div>
  <p class="comment">Create a course, upload your files and submit to the website</p>
  </div>
  <div class="image-grid">
    <div *ngFor="let image of uploadedimages; let i = index" class="image-item" routerLink="/instructor/courseInfo">
      <div class="imagesContainer">
        <img [src]="image" class="img" alt="Random Image">
        <div class="overlay">
          <i class="fa fa-play-circle play-icon"></i>
        </div>
        <span class="duration">{{ uploadedCoursesDurations[i] }}</span>
      </div>
      <div class="headingsContainer">
        <h5>{{ uploadedCoursesHeadings[i] }}</h5>
        <p>{{ uploadedCoursesAuthors[i] }}</p>
        <h4>{{ uploadedCoursesText[i] }}</h4>
      </div>
      <button routerLink="/instructor/editcourses" class="mycourses">Edit Course</button>
      
    </div>
  </div>
  <br/>
  <hr/>
  <br/>
  <div class="container">
    <div class="heading">
      <h1>Courses under review </h1>
      <p>You have successfully submitted your course; it is under review. If there are any comments kindly correct them.</p>
    </div>
    <div class="image-grid">
      <div *ngFor="let image of underreviewimages; let k = index" class="image-item" routerLink="/instructor/courseInfo">
        <div class="imagesContainer">
          <img [src]="image" class="img" alt="Random Image">
          <div class="overlay">
            <i class="fa fa-play-circle play-icon"></i>
          </div>
          <span class="duration">{{ underreviewDurations[k] }}</span>  
        </div>
        <div class="headingsContainer">
          <h5>{{ underreviewHeadings[k] }}</h5>
          <p>{{ underreviewAuthors[k] }}</p>
          <h4>{{ underreviewText[k] }}</h4>
        </div>
        <div class="container1">
          <div class="Conatiner2">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9734;</span>
          </div>
          <div class="Conatiner2">
            <span>Reviewer Ratings</span>
          </div>
        </div>
      </div>
    </div>
  </div>
<br/>
<br/>
<hr/>
<br/>

  <div class="heading">
    <h1>Approved Courses </h1>
    <p>Congratulations, your course has been approved and it is now available to the subscribers.</p>
  </div>
  <div class="my-flex">
    <mat-form-field appearance="outline" id="filters">
      <mat-label>Filters</mat-label>
      <mat-select [matMenuTriggerFor]="filters">
        <mat-menu #filters="matMenu" yPosition="below">
          <button mat-menu-item [matMenuTriggerFor]="beginner">Beginner</button>
          <button mat-menu-item [matMenuTriggerFor]="intermediate">Intermediate</button>
          <button mat-menu-item [matMenuTriggerFor]="expert">Expert</button>
          <button mat-menu-item [matMenuTriggerFor]="student">Student</button>
        </mat-menu>
      </mat-select>
    </mat-form-field>
    <mat-menu #beginner="matMenu">
      <button mat-menu-item>Crash Course</button>
      <button mat-menu-item>Detailed Course</button>
    </mat-menu>
    <mat-menu #intermediate="matMenu">
      <button mat-menu-item>Crash Course</button>
      <button mat-menu-item>Detailed Course</button>
    </mat-menu>
    <mat-menu #expert="matMenu">
      <button mat-menu-item>Crash Course</button>
      <button mat-menu-item>Detailed Course</button>
    </mat-menu>
    <mat-menu #student="matMenu">
      <button mat-menu-item>Crash Course</button>
      <button mat-menu-item>Detailed Course</button>
    </mat-menu>
  </div>
  <div class="image-grid">
    <div *ngFor="let image of approvedcoursesimages; let l = index" class="image-item" routerLink="/instructor/courseInfo">
      <div class="imagesContainer">
        <img [src]="image" class="img" alt="Random Image">
        <div class="overlay">
          <i class="fa fa-play-circle play-icon"></i>
        </div>
        <span class="duration">{{ approvedCoursesDurations[l] }}</span>
      </div>
      <div class="headingsContainer">
        <h5>{{ approvedCoursesHeadings[l] }}</h5>
        <p>{{ approvedCoursesAuthors[l] }}</p>
        <h4>{{ approvedCoursesText[l] }}</h4>
      </div>
      <div class="ratingscontainer1">
        <div class="ratingConatiner2">
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9734;</span>
        </div>
        <div class="ratingConatiner2">
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9734;</span>
        </div>
      </div>
      <div class="ratingscontainer1">
        <div class="ratingConatiner2">
          <span>Reviewer Ratings</span>
        </div>
        <div class="ratingConatiner2">
          <span>Subscribers Ratings</span>
        </div>
      </div>
      <div class="subscribers" style="font-weight: 410;">
        <span>Number of Subscribers: {{approvedCourseSubscribers[l]}}</span>
        <br/>
        <h5 class="price">Price : ₹{{ coursePrice[l] }}</h5>
      </div>
      <br/>
      <br/>
    </div>
  </div>
  <hr/>
<div class="heading">
  <h1>Commented Courses</h1>
  <p>This course has several comments, kindly rework and resubmit.</p>
</div>
<div class="image-grid">
  <div *ngFor="let image of rejectedimages; let j = index" class="image-item" routerLink="/instructor/courseInfo">

    <div class="imagesContainer">
      <img [src]="image" class="img" alt="Random Image">
      <div class="overlay">
        <i class="fa fa-play-circle play-icon"></i>
      </div>
      <span class="duration">{{ rejectedCoursesDurations[j] }}</span>
    </div>
    <div class="headingsContainer">
      <h5>{{ rejectedCoursesHeadings[j] }}</h5>
      <p>{{ rejectedCoursesAuthors[j] }}</p>
      <h4>{{ rejectedCoursesText[j] }}</h4>
    </div>
    <div class="container1">
      <div class="Conatiner2">
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9734;</span>
      </div>
      <div class="Conatiner2">
        <span>Reviewer Ratings</span>
      </div>
    </div>
  </div>
</div>
</div>
<br />
<br />
