
<div class="container">
  <div class="heading">
    <div class="heading2">
      <h1>Courses for Submission</h1>
      <p class="create-course"><a routerLink="/instructor/courses" class="mycourses">Create a Course</a></p>
    </div>
    <p class="comment">Create a course, upload your files and submit to the website</p>
    <div class="course-grid">
      <div *ngFor="let course of courses" class="course-item">
        <div class="imagesContainer">
          <img [src]="course.thumbnail ? s3BaseURl + course.thumbnail : course.thumbnail" alt="Random Image" (error)="onImageError($event)">
          <div class="overlay">
            <i class="fa fa-play-circle play-icon"></i>
          </div>
          <span class="duration">{{course.duration | duration: 's':'hhmmss'}}</span>
        </div>
        <h3><b>{{ course.title | slice:0:50 }}{{ course.title.length > 50 ? '...' : '' }}</b></h3>
        <div class="reviewstatus">
        <p> {{ course.createdBy.name }}</p>
        <p [ngClass]="{
          'under-review': course.reviewStatus === 'SUBMITTED',
          'accepted': ['CONTENT_MANAGER_ACCEPTED', 'ADMIN_ACCEPTED', 'REVIEWER_ACCEPTED'].includes(course.reviewStatus),
          'rejected': ['CONTENT_MANAGER_REJECTED' ,'ADMIN_REJECTED', 'REVIEWER_REJECTED'].includes(course.reviewStatus)
        }">
        {{ course.reviewStatus === 'SUBMITTED' ? 'Under review' : course.reviewStatus }}</p>
      </div>
        <h4>{{ course.type | titlecase }}  |  {{ course.difficultyLevel | titlecase }}</h4>
        
        <div>
          <!-- Pass course ID to onEditCourse method -->
          <button (click)="onEditCourse(course.id)" class="mycourses">Edit Course</button>
        </div>
      </div>
    </div>
  </div>
  <div style="text-align: right;"><app-shared-pagination [totalRecordsCount]="pagination.totalElements"
    (pageChange)="onPageChange($event)"></app-shared-pagination>
  </div>
</div>

<br/>
<br/>