<!-- <app-loading *ngIf="loadingService.isLoading$ | async"></app-loading> -->
<!-- <div *ngIf="hasPermission; then authorized else unAuthorized"></div>
<ng-template #authorized><app-nav></app-nav></ng-template>
<ng-template #unAuthorized><app-firstnav></app-firstnav></ng-template> -->
<!-- <app-header></app-header> -->
<!-- <app-nav-switcher [loggedIn]="isLoggedIn" (loginClicked)="onLoginClicked()"></app-nav-switcher> -->


<!-- <app-nav *ngIf="loginIsSuccessful"></app-nav>


<app-firstnav *ngIf="!loginIsSuccessful"></app-firstnav> -->

  
<router-outlet></router-outlet>
