<mat-sidenav-container>
  <mat-sidenav #sideNav mode="side" opened>
      <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container-wrapper">
      <div class="sidenav-container">
        <h1 class="coursesHeading">Courses History</h1>
        <table class="course-table">
          <thead>
            <tr>
              <th class="courseHeading">Course Title</th>
              <th>Date of Submission</th>
              <th>Approval Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of courses">
              <td class="courseName">{{ course.title }}</td>
              <td>{{ course.createdDate | date: 'MMM d, y' }}</td>

              <td>
                <!-- <p [ngStyle]="getStatusStyles(course.status)">{{ course.status }}</p> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<div style="text-align: right;"><app-shared-pagination [totalRecordsCount]="pagination.totalElements"
  (pageChange)="onPageChange($event)"></app-shared-pagination>
</div>