<ng-template matStepLabel>Course Preview</ng-template>
<div>
    <div class="course-info-container">
        <mat-tab-group>
            <mat-tab label="Overview">
                <div class="tabs">
                   <app-sharedoverview [course] = "course" *ngIf="course" [proxy_role]="role"></app-sharedoverview>
                </div>
            </mat-tab>
            <mat-tab label="Watch Content">
                <app-sharedvideoplayer *ngIf="course" [course]="course" [proxy_role]="role"></app-sharedvideoplayer>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
