<!-- <app-instructornav></app-instructornav> -->
<!-- <app-subscribernav></app-subscribernav> -->
<div class="container1">
  <div class="heading1">
    <div>
      <h2>Advisor</h2>
      <h1>kelvin Smith</h1>
      <h3>Business Planning Expert</h3>
    </div>
  </div>
  <div class="profile">
    <img class="avatar" src="https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg"
      alt="Instructor Image">
  </div>
</div>
<div class="description">
  <h1>About me</h1>
  <ng-container *ngFor="let para of description; let i = index">
    <p>{{ para }}</p>
  </ng-container>
</div>
<br>
<br>