.container1 {
  display: flex;
  padding: 15px 100px 0px 100px;
  border: 20px;
  margin: 10px 90px 0px;
  justify-content: space-between;

  h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold
  }
  .profile {
    display: flex;
    align-items: center;
  }
  .avatar {
    width: 250px;
    height: auto;
  }
}
.description {
  padding: 5px 100px 15px;
  margin: 0px 90px 10px;
}
.heading {
  padding: 30px 0 5px 0;
}

h1 {
  font-weight: 500;
}