<app-instructornav></app-instructornav>
<div class="container">
    <table class="article-table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th colspan="3">Actions by</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>Article Name</th>
                <th>Status</th>
                <th>Content Manager</th>
                <th>Reviewer</th>
                <th>Admin</th>
                <th>Date of Submission</th>
                <th>
                    <ng-container *ngIf="articleData && (articleData.status === 'Approved')">
                        Approved Date
                    </ng-container>
                    <ng-container *ngIf="!articleData || (articleData.status !== 'Approved')">
                        Date of Action
                    </ng-container>
                </th>
            </tr>
            
        </thead>
        <tbody>
            <tr *ngIf="articleData && articleData.status === 'Approved'">
                <td>{{ articleData.name }}</td>
                <td [ngClass]="articleData.className">{{ articleData.status }}</td>
                <td>{{ articleData.status }}</td>
                <td>{{ articleData.status }}</td>
                <td>{{ articleData.status }}</td>
                <td>{{ articleData.submissionDate }}</td>
                <td>{{ articleData.approvedDate }}</td>
            </tr>
            <tr *ngIf="articleData && articleData.status ==='Commented'">
                <td>{{ articleData.name }}</td>
                <td [ngClass]="articleData.className">{{ articleData.status }}</td>
                <td>{{ articleData.status }}</td>
                <td>-</td>
                <td>{{ articleData.status }}</td>
                <td>{{ articleData.submissionDate }}</td>
                <td>{{ articleData.approvedDate }}</td>
            </tr>
            <tr *ngIf="articleData && articleData.status === 'Under Review'">
                <td>{{ articleData.name }}</td>
                <td [ngClass]="articleData.className">{{ articleData.status }}</td>
                <td>Approved</td>
                <td>-</td>
                <td>{{ articleData.status }}</td>
                <td>{{ articleData.submissionDate }}</td>
                <td>{{ articleData.approvedDate }}</td>
            </tr>
        </tbody>
    </table>
    <button class="back-button" (click)="closeArticle()">Back</button>
</div>
