<app-instructornav></app-instructornav>
<div class="container">
    <table class="article-table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th colspan="3" class="border">Approved by</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>Article Name</th>
                <th>Status</th>
                <th class="border">Content Manager</th>
                <th class="border">Reviewer</th>
                <th class="border">Admin</th>
                <th>Date of Submission</th>
                <th>
                    <ng-container *ngIf="articleData && (articleData.status === 'Approved')">
                        Approved Date
                    </ng-container>
                    <ng-container *ngIf="!articleData || (articleData.status !== 'Approved')">
                        Date of Action
                    </ng-container>
                </th>
            </tr>
            
        </thead>
        <tbody>
            <tr *ngIf="articleData && (articleData.status === 'Approved' || articleData.status === 'Commited')">
                <td>{{ articleData.name }}</td>
                <td [ngClass]="articleData.className">{{ articleData.status }}</td>
                <td class="border">{{ articleData.approvedByContentManager }}</td>
                <td class="border">{{ articleData.approvedByReviewer }}</td>
                <td class="border">{{ articleData.approvedByAdmin }}</td>
                <td>{{ articleData.submissionDate }}</td>
                <td>{{ articleData.approvedDate }}</td>
            </tr>
            <tr *ngIf="articleData && articleData.status === 'Pending'">
                <td>{{ articleData.name }}</td>
                <td [ngClass]="articleData.className">{{ articleData.status }}</td>
                <td class="border">-</td>
                <td class="border">-</td>
                <td class="border">-</td>
                <td>{{ articleData.submissionDate }}</td>
                <td>{{ articleData.approvedDate }}</td>
            </tr>
            <tr *ngIf="articleData && articleData.status === 'Under Review'">
                <td>{{ articleData.name }}</td>
                <td [ngClass]="articleData.className">{{ articleData.status }}</td>
                <td class="border">{{ articleData.approvedByContentManager }}</td>
                <td class="border">-</td>
                <td class="border">{{ articleData.approvedByAdmin }}</td>
                <td>{{ articleData.submissionDate }}</td>
                <td>{{ articleData.approvedDate }}</td>
            </tr>
        </tbody>
    </table>
    <button class="back-button" (click)="closeArticle()">Back</button>
</div>
