<div class="container-wrapper">
    <div class="container">
        <form>
            <div class="box">
                <h1>Contact Us</h1>
                <h2 class="mesg">If you want to become an Instructor/ Reviewer/ Content Manager/ Admin/ Any other queries, please contact us via email/ Phone no.</h2>
                <hr />
            </div>
            <div class="box">
                <h2>Email and Phone</h2>
                <p>Contact Email : nuncsystems@gmail.com</p>
                <p>Contact Phone : 0987654321
                </p>
            </div>
        </form>
        <hr />
    </div>
</div>