.container-wrapper {
    // width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #e0d9d9;
  }
  
  .container {
    width: 80%;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 60px;
   
    .box {
      background-color: white;
      padding: 4px;
      text-align: center;
    }
  
    h1{
        font-size: 26px;
    }

    h2 {
      font-size: 18px;
      margin-top: 10px;
    }
  }
  