.mat-divider {
    width: 100%;
    margin-top: 20px;
    display: block;
    border-top-style: solid;
    color: #80808769;
  }
  
  .video-info-total {
    display: flex;
    column-gap: 10px;
    border-top: 2px solid black;
    background: #3a3a39;
    margin-bottom: 30px;
  }
  .side-bar {
    overflow-y: scroll;
    flex:0 0 25%;
    height: 560px;
  }
  .video-container {
    width: 73vw;
    background: #3a3a39;
   // position: relative;
    box-sizing: border-box;
    aspect-ratio: 16/9;
    
  }
  .playing-video-title {
    background-color: #a5cbcb;
     // width:100%
   }
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .close-button {
    cursor: pointer;
    margin-right: 15px;
    margin-top: 10px;
    color: #000000;
    font-size: 25px;
  }
  .mat-expansion-panel {
    padding: 8px;
    background-color: #f7f9fa;
  }
  .checkbox-input {
    margin-right: 25px;
  }
  .title-text {
    font-size: 16px;
    font-weight: 550;
  }
  
  .videos-title {
    color: rgb(26, 26, 26);
    font-weight: 400;
    cursor: pointer;
  }
  .arrow-icon{
      margin-top: -9px;
  }
  
  .documentspdf{
    display: flex;
  }
  .doc{
    padding: 5px;
    //font-size: 16px;
  }
  
  .staricon {
    font-size: 30px;
    width: 30px;
    height: 30px;
  }
  .active {
    color: yellow;
  }
  .mat-expansion-panel-header {
    background-color: #f7f9fa;
  }
  .video-panel-button {
    border: none;
    display: block;
  }
  .video-item {
    display: flex;
    margin-top: 8px;
    width:120%
  }
  .c {
    display: flex;
  }
  .resource_icon {
    font-size: 16px;
  }
  .open-sidebar {
    position: absolute;
    left: 70px;
    border: none;
    padding: 16px 32px;
    outline: none;
    background: black;
    color: white;
    top: 80px;
  }
  .video-overlay {
    position: absolute;
    top: 68px;
    left: 31%;
    margin-left:-80px;
    width: 75vw;
    height: 100%;
    background-color: rgb(12, 12, 12); 
    z-index: 1; 
  }
  .video-info-container {
    font-family: Arial, sans-serif;
  }
  
  .next-button {
    position: absolute;
    top: 50%;
    left: 50%;
    color:rgb(176, 174, 174);
   font-size: 20px;
    transform: translate(-50%, -50%);
    z-index: 27; 
  }
  .large-icon {
    font-size: 70px; 
    width:70px;
    height:70px;
  }
  .resources {
    margin-left: 40px;
  }
  .resources a {
    color: black;
    padding: 4px;
    text-decoration: none;
  }
  video {
    width: 100%;
    // aspect-ratio: 16/9;
  }
  .custom-icon {
    font-size: 16px;
  }
  
  //plyr library css
  video::-webkit-media-controls {
    display: block;
  }
  
  video::-webkit-media-controls-enclosure {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .plyr--video .plyr__controls {
    flex-direction: column;
    align-items: center;
  }
  
  .custom-controls {
    color: white;
    font-size: 40px;
  }
  .video-panel-button {
    margin-bottom: 16px;
  }
  .play-icon {
    font-size: 100px;
    height: 100px;
    width: 100px;
  }
  .custom-icon1{
    margin-top: 10px;
  }
  .progress-info{
    display: flex;
    justify-content: space-evenly;
    margin:2% 0%;
  }