/* upload.component.scss */
.main-container {
  background-color: #e0d9d9;
  height: auto;
}

.container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0d9d9;
}

.form-container {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 800px;
  margin-top: 20px;
}

.form-group {
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
}

textarea {
  width: 89%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

.heading {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.message {
  margin-top: 10px;
  text-align: center;
  color: red;
}

.duration-input {
  display: flex;
  gap: 10px;

  input[type="number"] {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

.button-description {
  margin-top: 5px;
  margin-left: 15px;
  font-size: smaller;
}

.status-under-review {
  font-size: 18px;
  color: #007791;
}

.success-msg {
  padding: 5px;
  color: rgb(3, 106, 3);
}

.main-section {
  position: relative;
  border: 1px solid #413e3e;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;

  .section-number {
    font-weight: bolder;
    font-size: larger;
    margin-top: 25px 
  }
  .required-field {
    color: red;
  }
}

.sub-section {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.remove-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-color: #007791;
  transition: background-color 0.3s;
  border-radius: 5px;
  padding: 5px 6px;
  margin: 2px 5px;
  border: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.expand-button {
  position: absolute;
  top: 6px;
  right: 50px;
  padding: 5px;
  background-color: #282a28;
  color: white;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #282a28;
  }
}

#mainFile,
#subFile {
  margin-top: 10px;
}

.add-section-button,
.add-subsection-button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  // color: black;
  cursor: pointer;
  // background-color: #005e6b;
  margin-right: 10px;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #ccc;
    color: #666;
  }

  &:not([disabled]) {
    background-color: #007791;
    color: #fff;
  }
}

// .add-section-button:hover,
// .add-subsection-button:hover,
// .remove-button:hover {
//   background-color: #005e6b;
// }

.sub-section .form-group label {
  font-weight: bold;
}

.form-group label {
  font-weight: bold;
}

.radio-group {
  display: flex;
  gap: 20px;
}

.save-button {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  margin-top: 5px;

  &[disabled] {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
  }

  &:not([disabled]) {
    background-color: #007791;
    color: #fff;
    margin: 0 auto;
    &:hover {
      background-color: #007791;
    }
  }
  position: relative;
}

.material-symbols-outlined {
  position: absolute;
  top: 65%;
  color: green;
  left: 90px;
  font-weight: bolder;
}
.submit-button{
 margin-top: 10px;
}

.sub-btn {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  // margin-top: 10px;
  margin: 0 auto;
  display: block;
  // margin-top: 8px;

  &[disabled] {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
  
  }

  &:not([disabled]) {
    background-color: #007791;
    color: #fff;
    margin: 0 auto;
    &:hover {
      background-color: #007791;
    }
  }
}

.submitAllMessage {
  margin: 20px 0 20px 20px;
  font-size: 18px;
  color: #007791;
}

.submit-button {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  margin: 0 auto;
  display: block;

  &[disabled] {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
  }

  &:not([disabled]) {
    background-color: #007791;
    color: #fff;
    &:hover {
      background-color: #007791;
    }
  }
}

.testbutton {
  border: none;
  margin-left: 15px;
  padding: 10px 20px;
  font-weight: bold;

  &:not([disabled]) {
    background-color: #282a28;
    color: #fff;
    cursor: pointer;
  }

  &:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
  }
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.success-message {
  background-color: #e0d9d9;
  color: black;
  padding: 70px;
  border-radius: 5px;
  text-align: center;
  margin: 70px;
  font-size: 16px;
}

.success-message button {
  background-color: #007791;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}
