<!-- 
    <div class="modal-content" style="width: 700px;">
    <h2>Enter New Phone Number</h2>

    <label for="newPhone">New Phone Number: </label>
<input type="text" id="newPhone" formControlName="newPhone" placeholder="Enter new phone number">

    
    <button [disabled]="!accountForm.valid || showOtpInput" type="button" (click)="sendOtp()">Send OTP</button>
     <button *ngIf="!showOtpInput" type="button" (click)="sendOtp()">Send OTP</button>
    <input *ngIf="showOtpInput" type="text" id="otp" placeholder="Enter OTP">
    <button *ngIf="showOtpInput" type="button">Verify and Update</button>

  </div>

  <div>

  </div> -->

  <form [formGroup]="accountForm">
    <div class="modal-content" style="width: 700px;">
      <h2>Enter New Phone Number</h2>
      <label for="newPhone">New Phone Number: </label>
      <input type="text" id="newPhone" formControlName="newPhone" placeholder="Enter new phone number">
      
      <button *ngIf="!showOtpInput" [disabled]="!(accountForm.get('newPhone')?.valid)" type="button" (click)="sendOtp()">Send OTP</button>


  
      <input *ngIf="showOtpInput" type="text" id="otp" placeholder="Enter OTP">
      <button *ngIf="showOtpInput" type="button" (click)="verifyAndUpdate()">Verify and Update Number</button>

    </div>
  </form>
  