<div class="notification-container">
  <span class="heading">Notifications</span>
<div class="notification-list">
  <ng-container *ngFor="let notification of notifications; let i = index">
    <div class="notification-item">
      <div class="circle">
        <!-- {{ notification.icon }} -->
      </div>
      <div class="notification-content"  (click)="openNotification(notification)">
        <div class="notification-heading" [class.no-font-weight]="notificationOpened">
          {{ notification.title}}
        </div>
        <div class="notification-message">
          {{ notification.description }}
        </div>
      </div>
      <span class="date">
        {{ notification.createdDate | date:'yyyy-MM-dd' }}
      </span>
      <mat-icon class="delete-icon" (click)="deleteNotification(notification.id)">delete</mat-icon>
    </div>
  </ng-container>
  <div style="text-align: right;"><app-shared-pagination [totalRecordsCount]="pagination.totalElements"
    (pageChange)="onPageChange($event)"></app-shared-pagination></div>
</div>
</div>
