.notification-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  font-size: 25px;
  font-weight: bold;
  padding: 16px;
}
.notification-list {
  width: 100%;
  max-width: 1000px;
}
.notification-heading {
  font-size: large;
  font-weight:500;
  padding-bottom: 9px;
  &.no-font-weight {
    font-weight: normal;
  }
}
.notification-item {
  display: flex;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 18px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  .date {
    padding: 20px;
  }
}
.notification-item:hover {
  cursor: pointer;
  background-color: #e8e5e5;
}
.circle {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 60%;
  font-size: 18px;
  font-weight: bold;
  margin-right: 16px;
}
.notification-content {
  flex-grow: 1;
}
.notification-message {
  font-size: 16px;
  color: #333;
}
.delete-icon {
  margin-top: 15px;
}
