<div class="container1">
    <div class="heading1">
        <div>
            <h3>INSTRUCTOR</h3>
            <h1>{{instructorProfiles[0].name }}</h1>
            <h3>{{ instructorProfiles[0].jobTitle }}</h3>
        </div>
        <div class="icons">
            <div class="icon ">
                <mat-icon>star</mat-icon>
                <p>{{instructorProfiles[0]. rating }} Rating by Subscribers({{instructorProfiles[0].ratings_count}})</p>
            </div>
            <div class="icon ">
                <mat-icon>star</mat-icon>
                <p>{{instructorProfiles[0]. rating }} Rating by Reviewers</p>
            </div>
            <div class="icon">
                <mat-icon>people</mat-icon>
                <p>{{instructorProfiles[0].subscriber_count }} Subscribers</p>
            </div>
            <div class="icon">
                <mat-icon>play_circle_outline</mat-icon>
                <p>{{instructorProfiles[0].course_count}}</p>
            </div>
        </div>
    </div>

    <div class="profile">
        <img class="avatar"
            src="https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg"
            alt="Instructor Image">
    </div>
</div>

<div class="description">
    <h1>About me</h1>
    <p>{{ instructorProfiles[0].about}}</p>
</div>
<div>
    <div class="container">
        <div class="heading">
            <h1>Instructor's Courses</h1>
        </div>
        <div class="course-grid">
            <div *ngFor="let course of instructorCourses" class="course-item">
              <div class="imagesContainer">
                <img [src]="course.thumbnail ? s3BaseURl + course.thumbnail : course.thumbnail" width="300" height="200" alt="Random Image" (error)="onImageError($event)">
                <div class="overlay">
                  <i class="fa fa-play-circle play-icon"></i>
                </div>
              </div>
              <h2>{{ course.title }}</h2>
              <p> {{ course.createdBy.name }}</p>
              <h4>{{ course.type | titlecase }}  |  {{ course.difficultyLevel | titlecase }}</h4>
              
             
            </div>
          </div>


    </div>
    <br />
    <br />
    <br />
    <br />