.container1 {
    display: flex;
    padding: 15px 100px;
    border: 20px;
    margin: 10px 90px;
    justify-content: space-between; 

h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bold
}
.icons {
  display: grid;
  padding: 20px 0 0 10px;
}
.icon {
  display: inline-flex;
  align-items: center;
}
.icon p {
  padding: 12px 0 0 20px;
 
}
.reviews-badge {
  width: 19px;
  height: 19px;
}
.studentsflex{
    display: flex;
    
}
.students1{
    padding-right: 10px;
    
}
.profile {
    display: flex;
    align-items: center; 
}
.avatar {
    width: 250px; 
    height: auto;
}

}
.description{
    padding: 15px 100px;
    margin: 10px 90px;


    a{
        cursor: pointer;
        color: rgb(18, 143, 211);
        text-decoration:solid;
    }
}
.container{
  padding: 15px 100px;
    border: 20px;
    margin: 10px 90px;box-sizing: border-box;
}
.course-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  cursor: pointer;
}
.course-item {
 
  .imagesContainer {
    position: relative;
  }
  
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .play-icon {
    font-size: 4em; 
    color: white; 
  }
 .mycourses{
  background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
 }
 h4 {
  font-size: 16px;
  font-weight: bold;
  color: #7803d8;
  text-transform: capitalize; 
} 
p {
  font-size: 12px;
  color: #666;
}
}











  
 
  
  