<app-subscribernav></app-subscribernav>
<div class="container">
    <span class="close-button" (click)="closeArticle()">X</span>
    <table class="article-table">
        <thead>
            <tr>
                <th>Article Name</th>
                <th>Status</th>
                <th>Approved by Content Manager</th>
                <th>Approved by Reviewer</th>
                <th>Approved by Admin</th>
                <th>Date of Submission</th>
                <th>
                    <ng-container *ngIf="articleData && (articleData.status === 'Approved')">
                        Approved Date
                    </ng-container>
                    <ng-container *ngIf="!articleData || (articleData.status !== 'Approved')">
                        Date of Action
                    </ng-container>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="articleData && (articleData.status === 'Approved' || articleData.status === 'Rejected')">
                <td>{{ articleData.name }}</td>
                <td [ngClass]="articleData.className">{{ articleData.status }}</td>
                <td>{{ articleData.approvedByContentManager }}</td>
                <td>{{ articleData.approvedByReviewer }}</td>
                <td>{{ articleData.approvedByAdmin }}</td>
                <td>{{ articleData.submissionDate }}</td>
                <td>{{ articleData.approvedDate }}</td>
            </tr>
            <tr *ngIf="articleData && articleData.status === 'Pending'">
                <td>{{ articleData.name }}</td>
                <td [ngClass]="articleData.className">{{ articleData.status }}</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>{{ articleData.submissionDate }}</td>
                <td>{{ articleData.approvedDate }}</td>
            </tr>
            <tr *ngIf="articleData && articleData.status === 'Under Review'">
                <td>{{ articleData.name }}</td>
                <td [ngClass]="articleData.className">{{ articleData.status }}</td>
                <td>{{ articleData.approvedByContentManager }}</td>
                <td>-</td>
                <td>{{ articleData.approvedByAdmin }}</td>
                <td>{{ articleData.submissionDate }}</td>
                <td>{{ articleData.approvedDate }}</td>
            </tr>
            <tr *ngIf="articleData && articleData.status === 'Under Review'">
                <td>{{ articleData.name }}</td>
                <td [ngClass]="articleData.className">{{ articleData.status }}</td>
                <td>{{ articleData.approvedByContentManager }}</td>
                <td>-</td>
                <td>-</td>
                <td>{{ articleData.submissionDate }}</td>
                <td>{{ articleData.approvedDate }}</td>
            </tr>
        </tbody>
    </table>
    <button class="back-button" (click)="closeArticle()">Back</button>
</div>
