<div class="container-wrapper">
<div class="sidenav-container">
<div class="sidenav">
    <div class="logo">NS</div>
 
    <ul class="nav-list">  
        <li><a routerLink="/instructor/public-profile" routerLinkActive="active">Profile</a></li>
        <li><a routerLink="/instructor/acSecurity" routerLinkActive="active">Account Security</a></li>
        <li><a routerLink="/instructor/notifications" routerLinkActive="active">Notification Settings</a></li>
        <li><a routerLink="/instructor/payment-history" routerLinkActive="active">payment-history</a></li>
        <li><a routerLink="/instructor/contactus" routerLinkActive="active">Contact Us</a></li> 
        <li><a routerLink="/instructor/delete-account" routerLinkActive="active">Delete Account</a></li>   
      </ul>
</div> 
</div>
</div>

