
<mat-sidenav-container>
    <mat-sidenav #sideNav mode="side" opened>
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="container-wrapper">
        <div class="container">
          <h1 class="coursesHistory">Library History</h1>
          <table>
            <thead>
              <tr>
                <th>Document Name</th>
                <th>Date of Submission</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let library of libraries">
                <td>{{ library.title | uppercase }}</td>
                <td class="date">{{ library.createdDate | date:'yyyy-MM-dd'  }}</td>
               
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div style="text-align: right;"><app-shared-pagination [totalRecordsCount]="pagination.totalElements"
    (pageChange)="onPageChange($event)"></app-shared-pagination>
</div>
  