        <div class="container-wrapper">
             <div class="container">

                <div class="main-container">
                    <div class="head">
                        <h1>Notification</h1>
                        <p>Turn promotional email notifications from law on or off</p>
                        <hr />
                    </div>

                    <h2 class="heading">I want to receive:</h2> 

                     <div class="checkbox-group">
                        <div class="checkbox-group">

                            <label class="checkbox-label"></label>
                            <input type="checkbox" name="course-recommendations"> <strong>Promotions, course
                                recommendations, and helpful resources from Law.</strong>
                        </div>
                    </div> 

                     <div class="checkbox-group">
                        <label class="checkbox-label"></label>
                        <input type="checkbox" name="no-promotional-emails"> <strong> Don't Send Me Any Promotional
                            Emails. </strong>
                        <p>If this box is checked, please note that you countinue to recieve important transactional
                            like purchase receipts</p>

                    </div> 
                     <div>
                        <button class="save-button">Save</button>
                    </div> 
                </div>