<app-subscribernav></app-subscribernav>
<mat-sidenav-container>
  <mat-sidenav #sideNav mode="side" opened>
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container-wrapper">
      <div class="container"  *ngIf="!isDeleteCountdownVisible">
        <div class="main-container">
          <div class="main-box">
            <div clas="smallbox">
              <h1>Delete Account</h1>
              <p>Delete your account permanently</p>
            </div>
            <div class="line-2"></div>
            <br />
            <p class="para">
              <strong class="warning">Warning:</strong> If you close your
              account, you will be unsubscribed from all your courses, and will
              lose access forever.
            </p>
            <p class="para">
              After deleting your account, your published articles will remain
              accessible. If you wish to remove your published articles, please
              send an email to the administrator at abcd.123@gmail.com.
            </p>
            <br />
            <div class="button-box">
              <button (click)="closeAccount()">Delete Account</button>
            </div>
            <p id="statusMessage"></p>
          </div>
          <br />
        </div>
      </div>
      <div *ngIf="isDeleteCountdownVisible"  class="container">
        <div>Your account will be permanently deleted in {{ formatTime(countdown) }} hours</div>
        <br>
        <button (click)="revertDelete()">Revert Delete</button>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<div class="overlay" *ngIf="isDeleteAccountClicked  && isOtpVisible"></div>
<div *ngIf="isDeleteAccountClicked && isOtpVisible" class="login-box">
  <div class="close-button" (click)="closeButton()">X</div>
   <form [formGroup]="loginForm" >
    <!-- <label for="email">Your Email:</label>
    <input type="text" id="currentEmail" formControlName="currentEmail" [disabled]=true placeholder="nuncsystems@gmail.com">
    <br>
    <label for="phone">Your Phone:</label>
    <input type="tel" id="phone" formControlName="phone"  [disabled]="true" placeholder="0987654321" />
    <button (click)="sendOtps()" > Send OTPs </button> -->
    
    <div *ngIf="isOtpVisible">Enter OTP's </div>
    <div *ngIf="isOtpVisible">
      <label for="emailOtp">Email OTP:</label>
      <input type="text" id="emailOtp"  formControlName="emailOtp" required  [attr.autocomplete]="'off'"  (input)="onEmailOtpInput($event)"
      />
      <div class="error-message" *ngIf="loginForm.get('emailOtp')?.hasError('required') && loginForm.get('emailOtp')?.touched">
        Email OTP is required.
      </div>
      <div class="error-message" *ngIf="loginForm.get('emailOtp')?.hasError('pattern') && loginForm.get('emailOtp')?.touched">
        Email OTP must consist of digits only.
      </div>
      <label for="phoneOtp">Phone OTP:</label>
      <input type="text" id="phoneOtp" formControlName="phoneOtp" required [attr.autocomplete]="'off'"   (input)="onPhoneOtpInput($event)"
      />
      <div class="error-message" *ngIf="loginForm.get('phoneOtp')?.hasError('required') && loginForm.get('phoneOtp')?.touched">
        Phone OTP is required.
      </div>
      <div class="error-message" *ngIf="loginForm.get('phoneOtp')?.hasError('pattern') && loginForm.get('phoneOtp')?.touched">
        Phone OTP must consist of digits only.
      </div>
   
    <button (click)="delete()" mat-raised-button [disabled]="loginForm.get('emailOtp')?.value.length !== 6 || loginForm.get('phoneOtp')?.value.length !== 6 || !loginForm.valid"
    [ngStyle]="{
      'background-color': loginForm.get('emailOtp')?.value.length == 6 && loginForm.get('phoneOtp')?.value.length == 6 && loginForm.valid ? 'blue' : 'gray',
      color: loginForm.get('emailOtp')?.value.length == 6 && loginForm.get('phoneOtp')?.value.length == 6 && loginForm.valid ? 'white' : 'black'
    }">Delete</button>
    </div>
   </form>
</div>

  
  
  