<app-subscribernav></app-subscribernav>
<mat-sidenav-container>
   
    <mat-sidenav #sideNav mode="side" opened>
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        
        
        <div class="container-wrapper">
        <div class="container">
           
            <div class="main-container">
                <div class="main-box">
                    <div clas="smallbox">
                        <h1>Delete Account</h1>
                        <p>Delete your account permanently</p>
                    </div>
                    <div class="line-2"></div>
                    <br/>
                    <p class="para">
                        <strong class="warning">Warning:</strong> If you close your account, you will be unsubscribed from all your
                        courses,
                        and will lose access forever.
                    </p>
                    <p class="para">After deleting your account, your published articles will remain accessible. If you wish to remove your published articles, please send an email to the administrator at abcd.123@gmail.com.</p>
                    <br/>
                    <div class="button-box">
                        <button onclick="closeAccount()">Delete Account</button>
                    </div>
                    <p id="statusMessage"></p>
                </div>
                <br>
               
             </div>   
                
           
        
            
        </div>
    </div>

        
    </mat-sidenav-content>

</mat-sidenav-container>






<!-- 
 <div class="main-container">
        <div class="main-box">
            <div clas="smallbox">
                <h1>Close Account</h1>
                <p>close your account permanently</p>
            </div>
            <div class="line-2"></div>
            <br/>
            <p class="para">
                <strong class="warning">Warning:</strong> If you close your account, you will be unsubscribed from all your
                7
                courses,
                and will lose access forever.
            </p>
            <br/>
            <div class="button-box">
                <button onclick="closeAccount()">Close account</button>
            </div>
            <p id="statusMessage"></p>
        </div>
        <br>
       
     </div>     -->

          


