.article{
  margin:30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.review-status{
  font-weight: bold;
}
.button-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
 
    button {
      padding: 10px 20px;
      margin-right: 10px;
      border: none;
      cursor: pointer;
      font-size: 16px;
      border-radius: 5px;
      margin-top: 25px;
    }
 
    .approve-button {
      background-color: #4caf50; 
      color: white;
    }
 
    .reject-button {
      background-color: #f44336; 
      color: white;
    }
    .resubmit-button {
      background-color: rgb(164, 150, 27); 
      color:white ;
    }
  }
 
  .goBack-button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    align-self: center;
    margin-left: 580px;
    background-color: #3498db;
    color: #fff;
   
  }
 
 
  .approval-message,
  .rejection-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
    margin: auto;
    font-size: 16px;
    text-align: center;
  }
 
  .icon {
    cursor: pointer;
    font-size: 24px;
    margin-left: 10px;
  }
 
.rejection-message {
  background-color: #f2dede; /* Red background for rejection, you can customize */
}
.error-message{
 
  color: red;
 
}
.comments{
  display: table-caption;
  margin-top: 30px;
  label{
     font-size: 15px;
 
  }
}
.submission-status {
 
  background-color: white;
  transform: translate(30%, 0px);
  width: 700px;
  height: 200px;
  padding: 20px;
  margin: 60px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; /* Add position relative to position close icon */

  .close-icon {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 10px; // Adjust top position as needed
    right: 10px; // Adjust right position as needed
  }
  
}