
<div class="container-wrapper">
<div class="sidenav-container">
<div class="sidenav">
    <div class="logo">NS</div>
 
    <ul class="nav-list">
        
        <li><a routerLink="/subscriber/photo" >Photo</a></li>
        <li><a routerLink="/subscriber/acSecurity">Account Security</a></li>
     <li><a routerLink="/subscriber/notifications" >Notification Settings</a></li>
        <li><a routerLink="/subscriber/subscriptions">Subscriptions</a></li>
        <li><a routerLink="/subscriber/payments" >Payments</a></li> 
        <li><a routerLink="/subscriber/delete-account" >Delete Account</a></li>   
      </ul>
   
</div> 
</div>
</div>





