<div class="container-wrapper">
  <div class="sidenav-container">
    <div class="sidenav">
      <div class="logo">{{ name ? name.charAt(0).toUpperCase() : 'N' }}</div>
      <ul class="nav-list">
        <hr/>
        <li><a routerLink="/subscriber/profile" routerLinkActive="active">Profile</a></li>
        <li><a routerLink="/subscriber/acSecurity" routerLinkActive="active">Account Security</a></li>
        <li><a routerLink="/subscriber/notifications" routerLinkActive="active">Notification Settings</a></li>
        <li><a routerLink="/subscriber/payments" routerLinkActive="active">Purchase History</a></li>
        <li><a routerLink="/subscriber/articleHistory" routerLinkActive="active">My Publishings</a></li>
        <hr/>
        <li><a routerLink="/subscriber/contactus" routerLinkActive="active">Contact Us</a></li>
        <li><a routerLink="/subscriber/termsandconditions" routerLinkActive="active">Terms & Conditions</a></li>
        <li><a (click)="onLogoutClick()">Logout</a></li>
        <li><a routerLink="/subscriber/delete-account" routerLinkActive="active" class="deleteAccount">Delete Account</a></li>
      </ul>
    </div>
  </div>
</div>
<app-logout-popup *ngIf="showLogoutPopup" (closePopup)="onClosePopup()" (logout)="onLogout()" class="pop">
</app-logout-popup>
