<mat-sidenav-container class="dashboard-sidenav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <div>
        <a mat-list-item routerLink="/admin/all-profiles" (click)="toggleRoles()" routerLinkActive="active-link">
          <span class="icon-span">
            <mat-icon>group</mat-icon>
            <span class="span">All Profiles</span>
          </span>
          <span class="expand-icon">
            <mat-icon>{{ showRoles ? 'expand_less' : 'expand_more' }}</mat-icon>
          </span>

        </a>
        <ul *ngIf="showRoles">
          <li (click)="selectRole('all')" routerLinkActive="active-link">All</li>
          <li (click)="selectRole('subscribers')" routerLinkActive="active-link">Subscribers</li>
          <li (click)="selectRole('reviewers')" routerLinkActive="active-link">Reviewers</li>
          <li (click)="selectRole('instructors')" routerLinkActive="active-link">Instructors</li>
          <li (click)="selectRole('content-managers')" routerLinkActive="active-link">Content Managers</li>
          <li (click)="selectRole('advisors')" routerLinkActive="active-link" >Advisors</li>
        </ul>
      </div>
      <div>
        <a mat-list-item routerLink="/admin/dashboard" routerLinkActive="active-link">
          <span class="icon-span">
            <mat-icon>person</mat-icon>
            <span class="span">Create User</span>
          </span>
        </a>
      </div>
      <div>
        <a mat-list-item routerLink="/admin/dash-notifications" (click)="toggleNotifications()"
          routerLinkActive="active-link">
          <span class="icon-span">
            <mat-icon>notifications</mat-icon>
            <span class="span">Notifications</span>
          </span>
          <span class="expand-icon">
            <mat-icon>{{ showNotifications ? 'expand_less' : 'expand_more' }}</mat-icon>
          </span>
        </a>
        <ul *ngIf="showNotifications">
          <li (click)="selectNotification('all')" routerLinkActive="active-link">All</li>
          <li (click)="selectNotification('comments')" routerLinkActive="active-link">Comments</li>
          <li (click)="selectNotification('joined')" routerLinkActive="active-link">Joined</li>
          <li (click)="selectNotification('courses')" routerLinkActive="active-link">Courses</li>
          <li (click)="selectNotification('articles')" routerLinkActive="active-link">Articles</li>
        </ul>
      </div>
      <div>
        <a mat-list-item routerLink="/admin/libraryForm" routerLinkActive="active-link">
          <span class="icon-span">
            <mat-icon>library_books</mat-icon>
            <span  class="span">Library Form</span>
          </span>
        </a>
      </div>
      <div>
        <a mat-list-item routerLink="/admin/advisorprofileForm" routerLinkActive="active-link" class="form" style="font-size: 16px;">
          <span  class="span">
          Advisor Profile Form
        </span>
        </a>
      </div>

    </mat-nav-list>
  </mat-sidenav>

</mat-sidenav-container>