.dashboard-sidenav-container {
  height: 100%;
  border-radius: 5px;
}
mat-sidenav {
  width: 240px;
}
div {
  margin: 1px;
}
mat-nav-list a {
  color: white;
  margin: 17px 0px 10px 0px;
  &.active-link {
    background-color: #e0d9d9; 
  }
  .icon-span {
    display: inline-flex;
    align-items: center;
    width:150px;
    margin-right: 8px; 
    span.span {
    margin:0px 0px 0px 10px;
  }
  }
}
.expand-icon {
  margin-left: 20px; 
}
mat-sidenav-content {
  padding: 20px;
}
.content {
  height: 100%;
  overflow-y: auto;
}
mat-nav-list ul {
  list-style: none;
  margin: 0;
  margin-left: 20px;
  
}
mat-nav-list li {
  padding: 8px 0;
  padding-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #e0d9d9;
   
  }
  &.active {
    background-color: #e0d9d9; 
  }
}