.sidenav-container {
  height: 100%;
  border-radius: 5px;
}

mat-sidenav {
  width: 240px;
  // background-color: #333; 
}

mat-nav-list a {
  color: white;
  // padding: 2px 2px 2px 2px; 
  // margin: 2px 2px;
  margin: 17px 0px 10px 0px;

  &.active-link {
    background-color: #c3c1c1; /* Add your desired background color here */
  }

  .icon-span {
    display: inline-flex;
    align-items: center;
    margin-right: 8px; /* Adjust margin as needed */
  }
}

mat-sidenav-content {
  padding: 20px;
}

.content {
  height: 100%;
  overflow-y: auto;
}
