<div class="search-bar">
  <input type="text" placeholder="Search by title name..." [(ngModel)]="searchTerm" (input)="searchArticles()" />
</div>
<div class="submit-button" *ngIf="isVisible">
  <button (click)="navigateToArticleForm()">Submit Article</button>
</div>
<div class="message"
  *ngIf="(isVisible && isArticleRoute()) && (role=== undefined || role === null || role === '')">
  To submit your article, please <span class="login" (click)="navigateToLogin()">Login </span>
</div>
<div class="post-box">
  <div *ngIf="filteredArticles.length === 0 && searchTerm !== ''" class="no-articles">
    No articles found.
  </div>
  <div class="blog-box" *ngFor="let article of filteredArticles" >
    <div class="article-item">
      <div (click)="navigateToArticleDetail(article.id)">
        <h2 class="article-name" >{{ article.title }}</h2>
        <p class="description">Description: {{ article.subject }}</p>
        <p>{{ article.date }}</p>
        <p>View Count: {{ article.viewCount }}</p>
        <p>Author: {{ article.author }}</p>
      </div>
      <button (click)="deleteArticlePopup(article.id)" *ngIf="isAdmin">Delete Article</button>
      <div class="delete-popup" *ngIf="deletePopup && article.id === articleToDeleteId">
        <div class="popup-content">
          <span class="close" (click)="closeDeletePopup()">X</span>
          <p>Are you sure you want to delete the Article</p>
          <div class="buttons">
            <button class="btn-ok" (click)="confirmDelete(article.id)">OK</button>
            <button class="btn-close" (click)="closeDeletePopup()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
