<div class="search-bar">
  <input type="text" placeholder="Search by title name..." [(ngModel)]="searchTerm" (input)="searchArticles()" />
</div>
<div class="submit-button" *ngIf="isVisible">
  <button (click)="navigateToArticleForm()">Submit Article</button>
</div>
<div class="message"
  *ngIf="(isVisible && isArticleRoute()) && (role=== undefined || role === null || role === '')">
  To submit your article, please <span class="login" (click)="navigateToLogin()">Login </span>
</div>
<div class="post-box">
  <div class="blog-box" *ngFor="let article of filteredArticles" >
    <div class="article-item">
      <div>
        <h2 class="article-name" (click)="navigateToArticleDetail(article.id)">{{ article.title }}</h2>
        <p class="description">Description: {{ article.subject }}</p>
        <p>{{ article.date }}</p>
        <p>View Count: {{ article.viewCount }}</p>
        <p>Author: {{ article.author }}</p>
      </div>
    </div>
    <button (click)="deleteArticle(article.id)" *ngIf="isAdmin">Delete Article</button>
  </div>
</div>