<div class="search-bar">
  <input type="text" placeholder="Search by title name..." [(ngModel)]="searchTerm" (input)="searchArticles()" />
</div>
<div class="submit-button" *ngIf="isVisible">
  <button (click)="navigateToArticleForm()">Submit Article</button>
</div>
<!-- <div class="message"
  *ngIf="(isVisible && isArticleRoute()) && (role=== undefined || role === null || role === '')">
  To submit your article, please <span class="login" (click)="navigateToLogin()">Login </span>to the website.
</div> -->
<div class="post-box">
  <div class="blog-box" *ngFor="let article of filteredArticles" (click)="navigateToArticleDetail(article.id)">
    <div class="article-item">
      <div>
        <h2 class="article-name">{{ article.title }}</h2>
        <p class="description">Description: {{ article.subject }}</p>
        <p>{{ article.date }}</p>
        <p>View Count: {{ article.viewCount }}</p>
        <p>Author: {{ article.author }}</p>
      </div>

      <!-- <button (click)="navigateToArticleDetail(article.id)" class="article-button">Read more</button> -->

      <button (click)="navigateToArticleDetail(article.id)" class="article-button">Read more</button>
      <button (click)="deleteArticle(article.id)" style="margin: 19px;" *ngIf="isAdmin">Delete Article</button>

    </div>
  </div>
</div>