.navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position:fixed;
  top: 0;
  z-index: 6;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-size: 24px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
      margin-right: 10px; 
    }
    
    .login-buttons {
      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 8px 16px;
        border-radius: 4px;
        margin-left: 10px;
        border: 2px solid black;

        &.signup-button {
          background-color: black;
          color: white;
        }
      }
    }
  }

  .pop {
    position: absolute;
    z-index: 5;
  }
}

.nav-icons {
  list-style: none;
  display: flex;
  align-items: center;
  
  li {
    margin-right: 40px;
    .mycourses.active {
      position: relative;
      color: #007791;
    }
    
    .mycourses.active::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%; 
      height: 2px; 
      background-color: #007791; 
    }
    
    .mycourses {
      color: #007791;
      font-size: 15px;
      border-radius: 10px;
      margin-right: 25px;
      transition: color 0.3s ease;
      position: relative; 
      &:hover {
        color: #007791;
        text-decoration: none;
      }
    }

    a {
      color: #007791;
      text-decoration: none;
      position: relative;
      display: inline-block;
      cursor: pointer;
    }
  }

  .user-dropdown:hover {
    .user-menu {
      display: block;
    }
  }

  .user-dropdown {
    .user-circle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 33px;
      height: 33px;
      border-radius: 50%;
      background-color: #007791
    }

    .user-circle-text {
      color: white;
      text-decoration: none;
    }


    .user-menu {
      display: none;
      position: absolute;
      top: 50px;
      right: 35px;
      background-color: #fff;
      border: 1px solid #ccc;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      list-style-type: none;
      padding: 5px 20px 20px 20px;
      margin: 0;
      z-index: 4;

      .profile-item,
      .username-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 4px 8px 12px;
        width: 100%;
      }

      .navbarContent {
        width: 95%;
      }

      .info {
        margin-left: 10px;
        /* Adjust margin as needed */
        font-weight: bold;
        /* Add font styles as needed */
      }

      .email-item {
        display: block;
        /* Display EmailId below Profile and Username */
        padding: 8px 12px;
      }

      li {
        padding: 8px 12px;

        a {
          text-decoration: none;
          color: #000;
        }

        &:hover {
          background-color: #f1f1f1;
        }
      }
    }
  }
}
