.container-wrapper {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0d9d9; /* Background color for the whole page */
  }
.form-container {
    width: 60%; /* Set your desired width for the centered box */
    background-color: #ffffff; /* Background color for the centered box */
    padding: 20px;
    border-radius: 10px; /* Optional: Adds rounded corners to the box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    
  
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
  
    .form-group {
       margin-left: 30px;
        margin-bottom: 15px;

      
      label {
        display: block;
        font-weight: bold;
      }
      small {
        display: block;
        margin-top: 10px;
        font-size: 14px;
        color: #888;
      }

      .skill{
        font-weight: 400;
      }

      .input-with-symbol {
        position: relative;
      }
      
      .currency-symbol {
        position: absolute;
        left: 10px; /* Adjust the distance from the left */
        top: 50%;
        transform: translateY(-50%);
        color: #333; /* Adjust the color */
      }
      
      /* Additional styling for the input field */
      .input-with-symbol input {
        padding-left: 30px; /* Adjust to accommodate the symbol */
      }
      
  
      input[type="text"],
      input[type="number"],
      textarea,
      select,
      input[type="file"] {
        width: 90%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
  
      textarea {
        resize: vertical;
      }
  
      input[type="file"] {
        border: none;
        background-color: #ffffff;
      }
      .test{
        font-weight: 400;
      }
    }
    .success-message {
      color: green;  
      font-size: 16px;  
      
    }
    
    .button-container {
      display: flex;
      justify-content: space-evenly;
      margin-top: 20px;
    
      button {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        border: none;
        border-radius: 5px;
    
        &.enabled-button {
          background-color: #4caf50;
          color: #000;
        }
    
        &.disabled-button {
          background-color: #ccc;
          color: #666;
          cursor: not-allowed;
        }
    
        &:not(:last-child) {
          margin-right: 10px;
        }
    
        svg {
          margin-right: 5px; // Adjust margin based on your preference
        }
      }
    }
    
    

.center-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007791;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }

  &:not(:disabled) {
    &:hover {
      background-color: 007791;
    }
  }
}

    .center-button {
        margin: 0 auto; /* Center the button horizontally */
        display: block; /* Ensure it takes up the full width available */
    }

    .radio-group {
      display: flex;
      gap: 20px;
  }
  
  .duration-input {
      display: flex;
      gap: 10px;
  }
    
  }
  