<app-instructornav></app-instructornav>
<div class="container-wrapper">
  <div class="form-container">
    <h2>Create a New Course</h2>
    <form [formGroup]="courseForm" (submit)="onSubmit()">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" formControlName="title" required>
      </div>

      <div class="form-group">
        <label for="description">Course Description:</label>
        <textarea id="description" name="description" formControlName="description" rows="4" required></textarea>
        <small>Enter 4 to 5 learning points (separated by new lines)</small>
      </div>
      
      <div class="form-group">
        <label>Skill Level:</label>
        <div class="radio-group">
          <input type="radio" id="beginner" name="difficultyLevel" value="BEGINNER" formControlName="difficultyLevel">
          <label for="beginner" class="skill">Beginner</label>
      
          <input type="radio" id="intermediate" name="difficultyLevel" value="INTERMEDIATE" formControlName="difficultyLevel">
          <label for="intermediate" class="skill">Intermediate</label>
      
          <input type="radio" id="expert" name="difficultyLevel" value="EXPERT" formControlName="difficultyLevel">
          <label for="expert" class="skill">Expert</label>
      
          <input type="radio" id="all" name="difficultyLevel" value="ALL" formControlName="difficultyLevel">
          <label for="all" class="skill">All</label>
        </div>
      </div>
      
      <div class="form-group">
        <label>Course Type:</label>
        <div class="radio-group">
          <input type="radio" id="crash" name="type" value="CRASHCOURSE" formControlName="type" required>
          <label for="crash" class="skill">Crash Course</label>

          <input type="radio" id="detailed" name="type" value="DETAILEDCOURSE" formControlName="type" required>
          <label for="detailed" class="skill">Detailed Course</label>
        </div>
      </div>
     
      <div class="form-group">
        <label for="price">Course Price:</label>
        <div class="input-with-symbol">
          <span class="currency-symbol">&#x20B9;</span>
          <input type="number" name="price" formControlName="price">
        </div>
      </div>
      
      <div class="form-group">
        <label>Language:</label>
        <input type="text" id="language" name="language" value="English" disabled>
      </div>
      
      <div class="form-group">
        <label for="courseFile">Choose Thumbnail Image (Optional):</label>
        <input type="file" id="courseFile" formControlName="courseFile" (change)="onFileUpload($event)">
        <br/>
        <small>If you don't upload a thumbnail for this course, a default thumbnail will be displayed.</small>
      </div>
      
      <div class="button-container">
        <button type="submit" [ngClass]="{'disabled-button': courseForm.invalid, 'enabled-button': !courseForm.invalid}">Submit</button>
      </div>
    </form>
  </div>
</div>





<!-- <app-instructornav></app-instructornav>
<div class="container-wrapper">
  <div class="form-container">
    <h2>Create a New Course</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="courseForm">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" formControlName="title" required>
      </div>

      <div class="form-group">
        <label for="description">Course Description:</label>
        <textarea id="description" name="description" formControlName="description" rows="4" required></textarea>
        <small>Enter 4 to 5 learning points (separated by new lines)</small>
      </div>
      <div class="form-group">
        <label>Skill Level:</label>
        <div class="radio-group">
          <input type="radio" id="beginner" name="skillLevel" value="beginner" formControlName="skillLevel">
          <label for="beginner" class="skill">Beginner</label>
      
          <input type="radio" id="intermediate" name="skillLevel" value="intermediate" formControlName="skillLevel">
          <label for="intermediate" class="skill">Intermediate</label>
      
          <input type="radio" id="expert" name="skillLevel" value="expert" formControlName="skillLevel">
          <label for="expert" class="skill">Expert</label>
      
          <input type="radio" id="student" name="skillLevel" value="student" formControlName="skillLevel">
          <label for="student" class="skill">Student</label>
        </div>
      </div>
      <div class="form-group">
        <label>Course Type:</label>
        <div class="radio-group">
          <input type="radio" id="crash" name="courseType" value="Crash" formControlName="courseType" required>
          <label for="crash" class="skill">Crash Course</label>

          <input type="radio" id="detailed" name="courseType" value="Detailed" formControlName="courseType" required>
          <label for="detailed" class="skill">Detailed Course</label>
        </div>
      </div>
     
      <div class="form-group">
        <label for="price">Course Price:</label>
        <div class="input-with-symbol">
          <span class="currency-symbol">&#x20B9;</span>
          <input type="number" name="price">
        </div>
      </div>
      
      
      <div class="form-group">
        <label>Language:</label>
        <input type="text" id="language" name="language" value="English" disabled>
      </div>
      <div class="form-group">
        <label for="thumbnail">Thumbnail (Optional):</label>
        <input type="file" id="thumbnail" name="thumbnail" accept="image/*">
        <br/>
        <small>If you don't upload a thumbnail for this course, a default thumbnail will be displayed.</small>
      </div>
      <button type="submit" class="center-button" [disabled]="!isFormValid">Next</button>
    </form>
  </div>
</div> -->
