<div class="navbar_section">
<nav class="navbar">
  <div class="navbar-container">
    <a routerLink="/" class="logo">5th Estate ADR</a>
    <div>
      <ul class="nav-icons">
        <li><a routerLink="/authentication/homepage" routerLinkActive="active" class="mycourses">My Home page</a></li>
        <li><a routerLink="/authentication/library" routerLinkActive="active" class="mycourses">Library</a></li>
        <li><a routerLink="/authentication/article" routerLinkActive="active" class="mycourses">Publishing Corner</a></li> 
        <li><a routerLink="/authentication/aboutus" routerLinkActive="active" class="mycourses">About Us</a></li>        
        <li class="user-dropdown">
          <div class="user-circle" (click)="onUserCircleClick($event)">
            <span class="user-circle-text">{{ name ? name.charAt(0).toUpperCase() : 'N' }}</span>
          </div>
          <ul class="user-menu">
            <li class="profile-item">
              <span>
                <div class="user-circle">

                  <a routerLink="" class="user-circle-text" style="color: white;">{{ name ? name.charAt(0).toUpperCase() : 'N' }}</a>
                </div>
              </span>
              <span class="info">{{ email }}</span>
            </li>
            <li class="username-item">
              <span>{{ name }}</span>
              <span>{{ phoneno }}</span>
            </li>
            <hr/>
            <li class="navbarContent"><a routerLink="/authentication/profile">Profile</a></li>
            <li class="navbarContent"><a routerLink="/authentication/acSecurity">Account Security</a></li>
            <li class="navbarContent"><a routerLink="/authentication/payments">Purchase History</a></li>
            <li class="navbarContent"><a routerLink="/authentication/notifications" >Notification Settings</a></li>

            <li><a routerLink="/authentication/articleListHistory" routerLinkActive="active">Article History</a></li>
            
            <hr>
            <li class="navbarContent"><a routerLink="/authentication/termsandconditions">Terms & Conditions</a></li>
            <li class="navbarContent"><a routerLink="/authentication/contactus">Contact Us</a></li>
            <li class="navbarContent"><a (click)="onLogoutClick()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <app-logout-popup *ngIf="showLogoutPopup" (closePopup)="onClosePopup()" (logout)="onLogout()" class="pop">
  </app-logout-popup>
</nav>
</div>
