
 
<footer>
    <div>
        <h1>teach the world online</h1>
        <p>Create an online video course, reach students across the globe, and earn money</p>
    </div>
    <div>
        <h1>Top companies choose Law Business to build in-demand career skills</h1>
        <div>
            <ul>
                <li><a href="#">Law Business</a></li>
                <li><a href="#">Teach on Law</a></li>
                <li><a href="#">Get the app</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Help and Support</a></li>
                <li><a href="#">Cookie settings</a></li>
                <li><a href="#">Affiliate</a></li>
                <li><a href="#">Investors</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Accessibility statement</a></li>
            </ul>
        </div>
        <div>
            <button>english</button>
        </div>
        <div>
            <div class="copyright-container">© 2023 Law language, Inc.</div>
        </div>
    </div>
</footer>


