<div class="course-card">
    <mat-card-header>
        <mat-card-title>
            <h3>{{ heading }}</h3>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="popupText">
        <p class="updated">Updated August 2023</p>
        <p class="totalHoursText"><span>27.5 total hours</span> . All Levels . Subtitles</p>
        <p class="contentText">{{ content }}</p>
        <ul>
            <li><span class="material-icons">
                check
                </span> This course provides a comprehensive introduction to the field of law and legal systems, and practical skills such as legal research and writing.</li>
            <li><span class="material-icons">
                check
                </span> It also explores specialized areas of law and emerging trends in the legal profession.</li>
            <li><span class="material-icons">
                check
                </span> Students who complete the course may earn a certification in Law Learning.</li>
        </ul>
    </mat-card-content>
    <div class="courseCardButtons">
        <button class="addToCartButton">Add to cart</button>
        <!-- <button class="SubscribeButton">Subscribe</button> -->
    </div>
</div>

