
<nav class="navbar">
  
    <div class="navbar-container">
      <a routerLink="/" class="logo">Law Logo</a>
      <div>
      <ul class="nav-icons">
        <li><a routerLink="/documents" routerLinkActive="active" class="mycourses">Library</a></li>
        <li><a routerLink="/article" routerLinkActive="active" class="mycourses">Publishing Corner</a></li>
        <li><a routerLink="/aboutus" routerLinkActive="active" class="mycourses">About Us</a></li>
      </ul>
    </div>
       <div class="login-buttons">
        <button class="login-button" routerLink="/login">Login</button>
        <button class="login-button" routerLink="/register">Register</button>
        <!-- <button class="signup-button" routerLink="/signup">Sign Up</button> -->
      </div> 
    </div> 

    
</nav>

<div *ngIf="showLogoutAlert" class="logout-container">
  <div class="alert" id="successAlert">
    You’ve successfully logged out of Law Learning. Come back soon!
  </div>

  
</div>
  


 

