.sidenav-container {
    padding: 10px 40px;
   margin:20px auto;
  }
  mat-sidenav-content {
    background-color: #e0d9d9;
    margin-left: 300px!important;
    height:550px;
}
.article-name{
width: 400px;
align-items: center;
}
.articleHeading{
 text-align: left;
}