<mat-sidenav-container>
  <mat-sidenav #sideNav mode="side" opened>
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container-wrapper">
      <div class="sidenav-container">
        <h1 class="articlesHeading">Articles History</h1>
        <table class="article-table">
          <thead>
            <tr>
              <th class="articleHeading">Article Name</th>
              <th>Date of Submission</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let article of publishedArticles">
              <td class="article-name"> {{ article.title }}</td>
              <td>{{ article.createdDate | date:'mediumDate' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
