
<mat-sidenav-container>
    <mat-sidenav #sideNav mode="side" opened>
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="container-wrapper">
            <div class="sidenav-container">
                <h1 class="articlesHeading">Articles History</h1>
                <table class="article-table">
                    <thead>
                        <tr>
                            <th class="articleHeading">Article Name</th>
                            <th>Updated Date</th>
                            <th>Review Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let article of approvedArticles" >
                            <td class="articleName" >{{ article.title }}</td>
                            <td>{{ article.updatedDate | date:'mediumDate' }}</td>
                            <td class="reviewstatus">{{ article.reviewStatus.toLowerCase()  }}</td>
                            <!-- <td>{{ article.submissionDate }}</td> -->
                            <!-- <td [ngStyle]="getStatusStyles(article.status)">{{ article.status }}</td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div style="text-align: right;"><app-shared-pagination [totalRecordsCount]="pagination.totalElements"
            (pageChange)="onPageChange($event)"></app-shared-pagination>
          </div>
    </mat-sidenav-content>
</mat-sidenav-container>
