.library {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: #d8e5f4e5;
  height: 100%; /* Ensure full height */
  text-align: center;
}
.page {
  display: block;
  height: 47px;
  width: 100%;
  background-color: #012641;
  color: white;

}

.heading {
  margin-top: 20px;
  color: #012641;
}

.table-container {

  height: 81vh;
  width: 1000px;
  border: 0px;
  background-color: #fff;
  box-sizing: border-box;
}

h1 {
  font-size: 25px;
  margin-bottom: 25px;
  font-weight: 500;
}

table {
  border-collapse: collapse; 
}

td,
th {
  padding-top: 26px;
  padding-left: 250px;
  text-align: left;
}

.title:hover {
  color: #2a9af3;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
}

.deleteFile {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px 10px;
  color: #333;
  cursor: pointer;
}
.deleteFile:hover{
  background-color: #012641;
  color: #2a9af3;
}

.mat-icon {
  color: rgb(117, 115, 115);
  cursor: pointer;
  font-size: 30px;
  margin-bottom: 14px;
}

.pdf-viewer {
  width: 100%;
  max-width: 800px; /* Adjust max-width as per your design */
  height: 800px; /* Fixed height for the viewer */
  margin: 20px auto; /* Center the viewer horizontally */
}

.remaining-pdf-button,
.download-pdf-button {
  position: absolute;
  top: 10px;
  background-color: white;
  color: #2a9af3;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
}

.download-pdf-button {
  right: 10px;
}

.pdftable {
  overflow-y: hidden; /* Hide vertical overflow */
}

/* Media query for responsive design */
@media (max-width: 600px) {
  .library {
    padding: 10px;
  }

  .table-container {
    max-width: 100%;
    margin-top: 10px;
  }
}
