<div class="terms-and-conditions">
    <div class="term-text">
      <h2>Terms and Conditions</h2>
      <p>Last edit: 2/11/23</p>
      <p>Greetings users,</p>
      <p>1. Introduction</p>
      <p>
        Explain that the document represents the terms and conditions that users must agree to when using the app.
        Include
        information about the app, its owner, and contact details for inquiries or support.
      </p>
      <p>2. Acceptance of Terms</p>
      <p>
        Describe that by using the app, users agree to abide by the terms and conditions. Explain that users must be of
        legal
        age or have parental/guardian consent to use the app.
      </p>
      <p>3. User Accounts</p>
      <p>
        Outline the requirements for creating and maintaining a user account. Explain how users can protect their
        account
        information and responsibilities for account security.
      </p>
      <p>4. App Usage</p>
      <p>
        Specify the permitted and prohibited uses of the app. Describe any content or conduct guidelines users must
        adhere to.
      </p>
      <p>5. Privacy and Data Collection</p>
      <p>
        Explain how user data is collected, stored, and used. Outline the app's privacy policy, including information on
        cookies and tracking technologies.
      </p>
      <p>6. Intellectual Property</p>
      <p>
        State who owns the intellectual property (e.g., copyright, trademarks) associated with the app. Explain the
        limitations
        on the use of app content and user-generated content.
      </p>
    </div>
  </div>
