.terms-and-conditions {
    margin: 50px;
  }
  
  .term-text {
    padding: 0 40px 20px 40px;
    font-size: 14px;
    font-weight: 500;
    color: black;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .term-text h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    font-weight: 500;
    font-size: 21px;
  }
  