<ng-container>
    <div   id="showVideo" class="video-info-total">
      <!-- side bar video expansion panel  -->
      <mat-card
        class="side-bar"
        [style.display]="sidebarVisible ? 'block' : 'none'"
      >
        <div class="container">
          <mat-card-title class="title">
            <div class="title-text" style="margin-left: 20px">Course Content</div>
            <div class="close-button" (click)="toggleSidebar()">
              <mat-icon>close</mat-icon>
            </div>
          </mat-card-title>
        </div>
        <mat-divider></mat-divider>
        <mat-accordion class="sidebar-content">
          <mat-expansion-panel
            *ngFor="let videoGroup of videoGroups; let i = index" #myExpansionPanel
            [attr.id]="'expansion-panel-' + i"
            >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div >
                  <div class="title-text">{{ videoGroup?.panelTitle }}</div>
                  <div class="section-info">1/4 | 5min</div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="video-group">
              <ng-container *ngFor="let video of videoGroup?.videos; let j = index">
                  <div class="video-item" [class.playing-video-title]="isVideoPlaying(i, j)" >
                    <div class="box">
                      <input
                        type="checkbox"
                        [(ngModel)]="video.selected"
                        class="checkbox-input"
                      />
                    </div>
                    <div  >
                      <div class="videos-title"  (click)="playVideo(i, j)" >{{ video?.title }}</div>
                      <div class="c">
                        <mat-icon class="custom-icon mat-icon-small">ondemand_video</mat-icon>
                        <div style="color: rgb(122, 119, 119)">
                          {{ video?.time }}
                        </div>
                        <ng-container *ngFor="let resource of resourceData">
                          <div class="resources" *ngIf="resource.title === video.title" (click)="showDocs()">
                            <span >Resources </span><mat-icon class="arrow-icon">{{
                              documents ? "keyboard_arrow_up" : "keyboard_arrow_down"
                            }}</mat-icon>
                            <div *ngIf="documents" class="documents">
                               <div class="doc">LawLanguage.pdf</div>
                               <div class="doc">Fundamentals.pdf</div>
                               <div class="doc">Rights.pdf</div>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </div> 
            </div>
            </ng-container>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
  </mat-card>
      <!-- video player container -->
      <div>
        <div #videocontainer class="video-container video-container-sidebar">
          <video
            playsinline
            controls
            id="player"
            [src]="currentVideoSource"
            type="video/mp4"
            [autoplay]="autoplayVideo"
          >
            <track
              kind="captions"
              label="English captions"
              src="/path/to/captions.vtt"
              srclang="en"
              default
            />
          </video>
    
          <div [style.display]="!sidebarVisible ? 'block' : 'none'">
            <button class="open-sidebar" (click)="openSidebar()">CourseContent</button>
          </div>
        </div>
      </div>
    
    
   
</div>
</ng-container>
<div class="completed-videos">
  {{completedVideoCount}} Videos Completed
 </div>
 <div class="total-progress">
   Total Progress:{{courseProgress}}%
</div>
