<!-- <app-videoplayer-navabar></app-videoplayer-navabar> -->
<app-videoplayer-navbar></app-videoplayer-navbar>
<div class="video-info-total">
  <!-- side bar video expansion panel  -->
  <mat-card
    class="side-bar"
    [style.display]="sidebarVisible ? 'block' : 'none'"
  >
    <div class="container">
      <mat-card-title class="title">
        <div class="title-text" style="margin-left: 20px">Course Content</div>
        <div class="close-button" (click)="toggleSidebar()">
          <mat-icon>close</mat-icon>
        </div>
      </mat-card-title>
    </div>
    <mat-divider></mat-divider>
    <mat-accordion class="sidebar-content">
      <mat-expansion-panel
        *ngFor="let videoGroup of videoGroups; let i = index"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div>
              <div class="title-text">{{ videoGroup?.panelTitle }}</div>
              <div class="section-info">1/4 | 5min</div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="video-group">
          <ng-container *ngFor="let video of videoGroup?.videos; let j = index">
            <button
              mat-button
              class="video-panel-button"
              (click)="openVideo(i, j)"
            >
              <div class="video-item">
                <div class="box">
                  <input
                    type="checkbox"
                    [(ngModel)]="video.selected"
                    class="checkbox"
                  />
                </div>
                <div class="time">
                  <div class="videos-title">{{ video?.title }}</div>
                  <div class="c">
                    <mat-icon class="custom-icon">ondemand_video</mat-icon>
                    <div style="color: rgb(122, 119, 119)">
                      {{ video?.time }}
                    </div>
                  </div>
                </div>
              </div>
            </button>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
  <!-- video player container -->
  <div>
    <div #videocontainer class="video-container video-container-sidebar">
      <video
        playsinline
        controls
        id="player"
        [src]="currentVideoSource"
        type="video/mp4"
        [autoplay]="autoplayVideo"
      >
        <track
          kind="captions"
          label="English captions"
          src="/path/to/captions.vtt"
          srclang="en"
          default
        />
      </video>

      <div [style.display]="!sidebarVisible ? 'block' : 'none'">
        <button class="open-sidebar" (click)="openSidebar()">Open</button>
      </div>
    </div>
  </div>
</div>
<div class="next-video-container" *ngIf="showNextVideoMessage">
  <div class="next-video-info">
    <mat-icon class="play-icon"
      >play_circle
      <div class="play-style"></div
    ></mat-icon>
    <div class="next-video-title">{{ getNextVideoTitle() }}</div>
  </div>
</div>
<div class="video-text"  #videotextContainer>
<div class="video-info-container">
  <mat-tab-group>
    <mat-tab label="Overview">
      <div>
        <app-overview></app-overview>
      </div>
    </mat-tab>
    <mat-tab label="Notes">
      <div>
        <app-notes></app-notes>
      </div>
    </mat-tab>
    <mat-tab label="Certificate">
      <div>
        <app-certificate [totalProgress]="80"></app-certificate>
      </div>
    </mat-tab>
    <mat-tab label="Rating">
      <div>
        <app-ratings></app-ratings>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
</div>
<!-- ------------------------footer--------------------------- -->
<footer>
  <div>
    <h1>teach the world online</h1>
    <p>
      Create an online video course, reach students across the globe, and earn
      money
    </p>
  </div>
  <div>
    <h1>
      Top companies choose Udemy Business to build in-demand career skills
    </h1>
    <div>
      <ul>
        <li><a href="#">Udemy Business</a></li>
        <li><a href="#">Teach on Udemy</a></li>
        <li><a href="#">Get the app</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Help and Support</a></li>
        <li><a href="#">Cookie settings</a></li>
        <li><a href="#">Affiliate</a></li>
        <li><a href="#">Investors</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Privacy policy</a></li>
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">Accessibility statement</a></li>
      </ul>
    </div>
    <div>
      <button>english</button>
    </div>
    <div>
      <div class="copyright-container">© 2023 Law language, Inc.</div>
    </div>
  </div>
</footer>
