/* You can add global styles to this file, and also import other style files */
@use 'helpers' as *;
@use 'base' as *;

@use './app/shared-css/variables' as variables;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.navbar_section {
    height: 70px;
}

.fixed-header {
    min-height: 85%;
}

#loadMore {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    width: 100%;
}
#loadMore button {
    background-color: #007791;
    color: #fff;
    border: none;
    padding: 7px 9px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 3px;
    text-decoration: none;
    &:hover {
        background-color: #0056b3;
    }
}
#loadMore mat-icon {
    padding: 2px;
}

.submit-button {
    position: absolute;
    top: 90px;
    right: 80px;
    z-index: 1;
  
    button {
      padding: 10px 20px;
      background-color: #007791;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-right: 50px;
  
      &:hover {
        background-color: #005f6b;
      }
  
      &.no-drop {
        cursor: no-drop;
      }
      
      &.pointer {
        cursor: pointer;
      }
    }
  }
  .container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #e0d9d9; 
  }
  .sidenav-container {
    background-color: white;
    width: 80%;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;
  }
  .post-box{
    background-color: #e0d9d9; 
  }
  .homepage-container {
    width: 80%;
    border-radius: 10px;
  }
  .container {
    width: 80%; 
    border-radius: 10px;  
  }
  .main-container{
    background-color: #e0d9d9; 
  }
  
  h1{
    font-size: 24px;
    font-weight: 500;
}
.p-carousel-indicators {
 display: none;
}
.p-carousel-items-content {
  margin: 20px 0px 45px;
}

