/* You can add global styles to this file, and also import other style files */
@use 'helpers' as *;
@use 'base' as *;

@use './app/shared-css/variables' as variables;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.navbar_section {
    height: 70px;
}

.fixed-header {
    min-height: 85%;
}

#loadMore {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    width: 100%;
}
#loadMore button {
    background-color: #007791;
    color: #fff;
    border: none;
    padding: 7px 9px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 3px;
    text-decoration: none;
    //pointer-events: all;
    &:hover {
        background-color: #0056b3;
    }
}

#loadMore mat-icon {
    padding: 2px;
}

.submit-button {
    position: absolute;
    top: 90px;
    right: 80px;
    z-index: 1;
  
    button {
      padding: 10px 20px;
      background-color: #007791;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-right: 50px;
  
      &:hover {
        background-color: #005f6b;
      }
  
      &.no-drop {
        cursor: no-drop;
      }
      
      &.pointer {
        cursor: pointer;
      }
    }
  }

// mat-form-field{
//     font-size: 12px !important;
// }

// .mat-mdc-form-field-infix{
//     line-height: 30px !important;
//     padding: 0 !important;
//     min-height: 30px !important;
    
// }

// .mat-mdc-text-field-wrapper{
//     border-radius: 4px !important;
//     overflow: hidden !important;
//     border: none !important;
// }


// app-admin-login .base-page {
//     display: grid;
//     width: 100%;
//     place-items: center;
//     height: 100vh;
//     max-height: 100vh;
// }

// .mat-mdc-form-field-flex{
//     height: 30px !important;
// }
// .mat-mdc-form-field-infix{
//     height: 30px !important;
//     padding: 0 !important;
// }
// .mat-mdc-text-field-wrapper{
//     height: 30px !important;
// }
// .mat-sidenav-container {
//     width: 80%;
//     height: 500px;
//     border: 1px solid #c4bdbd;
//     margin-top: 30px;
//     margin-left: 130px;
//   }
  