.container-wrapper {
  display: flex;
  align-items: flex-start;
  height: 100%;
  background-color: #e0d9d9;
}

.sidenav-container {
  margin-top: 80px;
  background-color: #e0d9d9;
  padding: 0 30px 0 30px;
  overflow: hidden;
}

.sidenav {
  height: 70%;
  width: 200px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px 20px 5px 20px;
  text-align: center;

  .logo {
    width: 80px;
    height: 80px;
    background-color: #007791;
    color: white;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    line-height: 80px;
    margin: 0 auto;
  }

  .nav-list {
    list-style-type: none;
    padding: 15px 0 0 0;
    text-align: left;

    li {
      a.deleteAccount {
        color: red;
        font-size: medium;
        font-weight: 600;

        &.active {
          font-weight: normal;
          background-color: rgb(243, 42, 42);
          color: white;
        }

        &:hover {
          background-color: red;
          color: white;
          font-weight: 590;
        }
      }

      a {
        color: #000;
        text-decoration: none;
        display: block;
        padding: 7px 0 7px 20px;
        border-radius: 5px;

        &.active {
          background-color: #555;
          color: white;
        }

        &:hover {
          background-color: #444;
          color: white;
        }
      }
    }
  }
}
