<div *ngIf="blogPost" class="blog-post-details">
  <h1>{{ blogPost.title }}</h1>
  <h3>{{ blogPost.author }}</h3>
  <h3 *ngIf="blogPost.reviewer" >Reviewed by: {{ blogPost.reviewer }}</h3>
  <h3 *ngIf="blogPost.editor">Edited by: {{ blogPost.editor}}</h3>
  <p>{{ blogPost.content }}</p>
  <h1 *ngIf="blogPost.heading">{{ blogPost.heading }}</h1>
  <h2>Explanation:</h2>
  <div *ngIf="blogPost.explanation">
    <p *ngFor="let paragraph of blogPost.explanation">{{ paragraph }}</p>
  </div>
  <h1 *ngIf="blogPost.subheading">{{ blogPost.subheading }}</h1>
  <div *ngIf="blogPost.description">
    <p *ngFor="let paragraph of blogPost.description">{{ paragraph }}</p>
  </div>
  <br/>
  <br/>
  <p class="date">{{ blogPost.date }}</p>
</div>
