<div class="heading">
    <h1>{{ overviewHeading }}</h1>
    <p class="first-paragraph">{{ overviewDescription }}</p>
    <p>Instructor : {{ instructorName }}</p>
    <p>Course Duration : {{ courseDuration }}</p>
    <p class="icon">
        <span class="material-icons updated"> report_gmailerrorred </span>Last
        updated: {{ lastUpdatedText }}
    </p>
    <p class="icon">
        <span class="material-icons language"> language </span>English
    </p>
</div>

<div class="courseDescription">
    <h2>What you'll Learn</h2>
    <p>
        <span class="material-icons"> check </span> &nbsp;&nbsp;
        {{ courseDescriptionText_1 }}
    </p>
    <p>
        <span class="material-icons"> check </span> &nbsp;&nbsp;
        {{ courseDescriptionText_2 }}
    </p>
    <p>
        <span class="material-icons"> check </span> &nbsp;&nbsp;
        {{ courseDescriptionText_3 }}
    </p>
    <p>
        <span class="material-icons"> check </span> &nbsp;&nbsp;
        {{ courseDescriptionText_4 }}
    </p>
    <p>
        <span class="material-icons"> check </span> &nbsp;&nbsp;
        {{ courseDescriptionText_5 }}
    </p>
</div>

<div class="courseFeatures">
    <h2>This course includes:</h2>
    <div class="grid-container">
        <div class="grid-item">
            <span><mat-icon>videocam</mat-icon> {{ courseFeaturesVideoDuration }} hours on-demand video</span>
        </div>

        <div class="grid-item">
            <span><mat-icon>download</mat-icon> {{ courseFeaturesDownloadable }} downloadable resource</span>
        </div>
        <div class="grid-item">
            <span><span class="material-icons">emoji_events</span> Certificate of completion</span>
        </div>
    </div>
    <mat-card class="side-bar">
        <div class="container">
            <mat-card-title class="title">
                <div class="title-text">Course Content</div>
            </mat-card-title>
        </div>

        <div class="sectionsInfo">
            {{ courseSections }} Sections &nbsp;• {{ courseLectures }} lectures &nbsp;• {{ totalCourseDuration }} Total
            Length
        </div>
        <mat-divider></mat-divider>
        <mat-accordion class="sidebar-content">
            <mat-expansion-panel *ngFor="let videoGroup of videoGroups; let i = index" #myExpansionPanel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="panelTitle">{{ videoGroup?.panelTitle }}</div>
                        <div class="section-info">{{ courseSectionLectures }} lectures &nbsp;&nbsp; {{
                            courseSectionDuration }} min</div>
                    </mat-panel-title>

                </mat-expansion-panel-header>
                <div style="border: 1px solid rgb(237 228 228); padding: 10px; margin-bottom: 15px;">
                    <h3 style="color: blue;" class="sectionDesc">Description</h3>
                    <p>{{ descriptionText }}</p>
                </div>
                <div class="video-group">
                    <ng-container *ngFor="let video of videoGroup?.videos; let j = index">
                        <div class="titleDesc">
                            <div class="titlehead  " (click)="toggleSectionInfo(i, j)">
                                {{ video?.title }}
                            </div>

                            <div class=" video-time" style="color: rgb(122, 119, 119)">
                                {{ video?.time }}
                            </div>
                            <div class="lastUpdated" style="color: rgb(122, 119, 119)">
                                last updated: {{ video?.lastUpdated }}
                            </div>
                        </div>
                        <p *ngIf="sectionInfo[i][j]" class="sectionInfo">{{ sectionInfoText }}</p>
                    </ng-container>
                </div>
            </mat-expansion-panel>

        </mat-accordion>
    </mat-card>
    <div class="container1">
        <div class="container2">
            <h2 class="heading1">Instructor</h2>
            <h2 class="author" routerLink="/instructor/instructorinfo">{{ instructorName }}</h2>
            <p class="text">{{ instructorDesignation }}</p>
            <div class="iconsContainer">
                <img class="avatar"
                    src="https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg"
                    alt="Instructor Image">
                <div class="icons">
                    <div class="icon ">
                        <mat-icon>star</mat-icon>
                        <p>{{ instructorRating }} Rating by Subscribers({{instructorReviewsbySubscriber}})</p>
                    </div>
                    <div class="icon ">
                        <mat-icon>star</mat-icon>
                        <p>{{ instructorRating }} Rating by Reviewers</p>
                    </div>
                    <div class="icon">
                        <mat-icon>people</mat-icon>
                        <p>{{ instructorStudents }} Subscribers</p>
                    </div>
                    <div class="icon">
                        <mat-icon>play_circle_outline</mat-icon>
                        <p>{{ instructorCourses }} Courses</p>
                    </div>
                </div>
            </div><br>
            <p class="instructorDescription">{{ instructorDescription }}</p>
        </div>
    </div>
</div>
