<app-firstnav></app-firstnav>
<div class="page-container">
  <div class="carousel-container">
    <img [src]="images[currentIndex]" alt="Image" />
  </div>
  <div class="container">
    <div class="login-box">
      <h2>Login</h2>

      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        [(ngModel)]="email"
        (input)="checkInput()"
      />

      <label for="phone">Phone:</label>
      <input type="tel" id="phone" [(ngModel)]="phone" (input)="checkInput()" />

      <label for="category">Category:</label>
      <select id="role" [(ngModel)]="selectedCategory" [disabled]="!isSendOtpsClicked">
        <option value="Subscriber">Subscriber</option>
        <option value="Reviewer">Reviewer</option>
        <option value="Instructor">Instructor</option>
        <option value="Content_Manager">Content Manager</option>
        <option value="Admin">Admin</option>
      </select>

      <button
        *ngIf="!isOtpVisible"
        (click)="sendOtps()"
        [disabled]="!isInputFilled"
      >
        Send OTPs
      </button>

      <div *ngIf="isOtpVisible">
        <label for="emailOtp">Email OTP:</label>
        <input type="text" id="emailOtp" [(ngModel)]="emailotp" required  [attr.autocomplete]="'off'" />
        <div class="error-message" *ngIf="!emailotp && emailOtpError">
          {{ emailOtpError }}
        </div>
        <label for="phoneOtp">Phone OTP:</label>
        <input type="text" id="phoneOtp" [(ngModel)]="phoneotp" required [attr.autocomplete]="'off'"  />
        <div class="error-message" *ngIf="!phoneotp && phoneOtpError">
          {{ phoneOtpError }}
        </div>
      </div>

      <button *ngIf="isLoginVisible" (click)="login()" mat-raised-button>
        Login
      </button>
      <div class="no-account redirect" routerLink="/register">
        Don't have Account register here
      </div>
      <div class="forgot redirect">Forgot Email ?</div>
      <div class="forgot redirect phoneno">Forgot Phone No?</div>
    </div>
  </div>
</div>
