
.page-container {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    height: 69%; /* Set the height of the container to 100% of the viewport height */
    background-color: #e0d9d9; /* Add your desired background color */
    margin-bottom: 100px;
    padding: 60px 10px;
  }

    .carousel-container {
    width: 50%; 
    padding: 10px; 
   
   //box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    //border: 1px solid #ccc;
    // margin-bottom: 100px;
    // margin-top: 40px;
  }

  .carousel-container img {
    display: block; 
    margin: 0 auto;
    margin-left: 11%; 
    border: 1px solid rgb(198, 194, 194);
  }

.container {
  max-width: 300px;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
}
.login-box {
        //width: 100%;
        background-color: #fff;
        padding-left: 13px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        flex: 1; 
        justify-content: center;
        

     
      h2 {
        // margin-bottom: 20px;
        text-align: center;
      }   
      
}


input, select, button {
  margin-bottom: 10px;
  width: 90%;
  padding: 8px;
  // text-align: left;
}
button{
  
  width: 40%;
  margin-left: 80px;
  background-color: #1331d7;
              color:rgb(255, 255, 255);
              border: none;
              border-radius: 5px;
              padding: 8px 16px;
              cursor: pointer;
}
button:disabled {
  background-color: rgb(125, 137, 149);
  cursor: not-allowed;
  width: 40%;
  margin-left: 80px;
}
.error-message {
  color: red;

}

/* Change input border color to red when there's an error */
.error-input {
  border-color: black;
}
.redirect{
  cursor:pointer;
  text-align: center;
  // text-decoration: underline;
  color: rgb(0, 0, 0);
  font-weight: 300;
  margin-bottom: 10px;
}
.forgot{
  color:rgb(8, 67, 216);
  font-weight: 400;
}
#role{
  width: 96%;
 padding: 8px;
}
.phoneno{
  padding-bottom: 15px;
}
.success-snackbar {
  margin-top: 120px !important; 
// display: none;
}










