<app-subscribernav></app-subscribernav>
 <mat-sidenav-container>
    <mat-sidenav #sideNav mode="side" opened>
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        
 <div class="container-wrapper">
       
        <div class="container">
  
            <div class="main-container">
                <div class="profile-box">
                    <h1>Profile</h1>
                    <p>Add a photo of yourself for your profile</p>
                </div>
                  <hr/>
                <div class="image-box">
                    <h2>Image preview</h2>
                    <img id="previewImage" src="https://cdn.pixabay.com/photo/2022/06/05/07/04/person-7243410_960_720.png" alt="Image Preview">
                    <h3>Add / Change Image</h3>
                    <div class="upload-btn-wrapper">
                        <p style="display: inline-block;">No file selected </p>
                       <label for="imageInput" class="btn">Upload Image</label>
                        <input type="file" id="imageInput" accept="image/*">
                    </div>
                    <br>
                    <hr/>
                    
                    <button id="saveButton">Save</button>
                </div>
                <br>
               
                  
                  </div>
             </div>    
         
    <!-- </mat-sidenav-content> -->
<!-- </mat-sidenav-container> -->

 

 
<!-- <mat-sidenav-container>
   
    <mat-sidenav #sideNav mode="side" opened>
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        
        
        <div class="container-wrapper">
        <div class="container">
           
            <div class="main-container">
            <div class="box" id="head">
                <h1>Account</h1>
                <p>Edit your account settings and change your password here</p>
            </div>
        <hr/>
            <div class="box">
                <h2>Email:</h2>
                <form action="http://127.0.0.1:5500/account-details.html">
                    <p>
                        <label for="email"></label>
                        <input type="email" placeholder="your email address is" name="email">
                    </p>
                </form>
                
            </div>
        
            <div class="box">
                <form action="http://127.0.0.1:5500/account-details.html">
                    <p>
                        <label for="password"></label>
                        <input type="password" placeholder="Enter new password" id="password" name="password">
                    </p>
                    <p>
                        <label for="password"></label>
                        <input type="password" placeholder="Re-type new password" id="password" name="password">
                    </p>
                </form>
                <button>Change password</button>
            </div>
            <hr/>
            <div class="box">
                
            </div>
        
          </div>
        </div>
    </div>

        
    </mat-sidenav-content>

</mat-sidenav-container> -->





