<app-subscribernav></app-subscribernav>

<div class="article-form">
  <h2>Article Form</h2>
    <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
      
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name" />
  
      <label for="articleName">Title of the Article:</label>
      <input type="text" id="articleName" formControlName="articleName" />
  
      <label for="description">Description:</label>
      <textarea id="description" formControlName="description"></textarea>

      <label for="file">Choose File:</label>
        <input type="file" id="file" formControlName="file">
  <br/><br/>
  <div class="button-container">
    <button type="submit">Submit</button>
</div>
    </form>
  </div>