



<app-nav></app-nav>
<div class="post-box">
<div *ngFor="let box of boxes; let i = index" class="blog-box">
  <h1>{{ box.title }}</h1>
  <p>{{ box.content | slice:0:80 }}{{ box.content.length > 80 ? '...' : '' }}</p>
  <!-- <button *ngIf="!isExpanded(i)" (click)="toggleReadMore(i)">Read more</button> -->
  <button (click)="openModal(box)">Read more</button>
</div>
</div>


<!-- <div id="blog" *ngFor="let box of boxes; let i = index">
  <div class="blog-heading">

    <h3>Publishing corner</h3>
  </div>

  
  <div class="blog-container">
    
    <div class="blog-box">
      <div class="blog-text">
         <span>27th january/blog creating</span> 
        <a class="blog-title">"The Importance of Legal Internships: Gaining Practical Experience in Law"</a>
        <p class="blog-content" [ngClass]="{'expanded': isExpanded}">
          Detail the significance of internships in the legal field. Provide tips on how to secure internships, how to
          make the most out of internship experiences, and how internships can shape a legal career.
        </p>
        <a class="read-more" (click)="toggleReadMore(i)">
          {{ isExpanded(i) ? 'Read less' : 'Read more' }}
        </a>
      </div>
    </div>



    <div class="blog-box">
      <div class="blog-text">
         <span>27th january/blog creating</span> 
        <a class="blog-title">"Mastering Legal Research: A Guide for Law Students and Professionals"</a>
        <p class="blog-content" [ngClass]="{'expanded': isExpanded}">
          Explain the importance of legal research skills. Provide an overview of various research methods, online legal
          databases, and how to critically analyze legal sources. Include practical examples to enhance understanding.
        </p>
        <a class="read-more" (click)="toggleReadMore(i)">
          {{ isExpanded(i) ? 'Read less' : 'Read more' }}
        </a>
      </div>
    </div>

    <div class="blog-box">
      <div class="blog-text">
         <span>27th january/blog creating</span> 
        <a href="#" class="blog-title">"Preparing for Law School Applications: Dos and Don'ts"</a>
        <p class="blog-content" [ngClass]="{'expanded': isExpanded}">
          Offer a step-by-step guide on preparing law school applications. Include tips on writing compelling personal
          statements, obtaining strong recommendation letters, and preparing for law school interviews.
        </p>
        <a class="read-more" (click)="toggleReadMore(i)">
          {{ isExpanded(i) ? 'Read less' : 'Read more' }}
        </a>
      </div>
    </div>


    <div class="blog-box">
      <div class="blog-text">
         <span>27th january/blog creating</span> 
        <a class="blog-title">"Legal Ethics: A Cornerstone of the Legal Profession"</a>
        <p class="blog-content" [ngClass]="{'expanded': isExpanded}">
          Discuss the importance of ethics in the legal field. Cover topics such as client confidentiality, conflicts of
          interest, and maintaining professional integrity. Highlight real-life examples of ethical dilemmas faced by
          lawyers.
        </p>
        <a class="read-more" (click)="toggleReadMore(i)">
          {{ isExpanded(i) ? 'Read less' : 'Read more' }}
        </a>
      </div>
    </div>


    <div class="blog-box">
      <div class="blog-text">
         <span>27th january/blog creating</span> 
        <a class="blog-title">"The Role of Technology in the Legal Industry: Adapting to the Digital Age"</a>
        <p class="blog-content" [ngClass]="{'expanded': isExpanded}">
          Explore how technology is transforming the legal profession. Discuss legal tech tools, online legal research
          platforms, and the impact of artificial intelligence on legal practices. Address the importance of tech
          literacy for future lawyers.
        </p>
        <a class="read-more" (click)="toggleReadMore(i)">
          {{ isExpanded(i) ? 'Read less' : 'Read more' }}
        </a>
      </div>
    </div>

    <div class="blog-box">
      <div class="blog-text">
         <span>27th january/blog creating</span> 
        <a class="blog-title">"Legal Podcasts and Blogs: Learning Outside the Classroom"</a>
        <p class="blog-content" [ngClass]="{'expanded': isExpanded}">
          Curate a list of insightful legal podcasts and blogs that can aid law students in their learning journey.
          Provide a brief overview of each recommendation and explain how these resources can supplement traditional
          legal education.
        </p>
        <a class="read-more" (click)="toggleReadMore(i)">
          {{ isExpanded(i) ? 'Read less' : 'Read more' }}
        </a>
      </div>
    </div>

  </div>

</div>

 -->


<!-- <div class="container-wrapper">
<div class="container">
  <div class="left">
    <div class="form">
      <form class="example-form" [formGroup]="articleForm" (ngSubmit)="onFormSubmit()">
        <h1>Upload your Article</h1>
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter your name" formControlName="name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>E-Mail</mat-label>
          <input matInput placeholder="Enter your Email id" formControlName="email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Article description</mat-label>
          <textarea matInput placeholder="Ex. It makes me feel..." formControlName="description"></textarea>
        </mat-form-field>
        
        <div class="btn">
          <button type="submit" class="save" mat-raised-button color="primary" [disabled]="!articleForm.valid">Save</button>
        </div>
      </form>
    </div>
  </div>
  <div class="vertical-line" *ngIf="showUserInfo" [ngStyle]="{'height.vh': containerHeight}"></div>
      <div class="right" *ngIf="showUserInfo">
        <div class="user-info" *ngFor="let entry of userEntries">
      <div class="user-text">DR</div>
      <h1>{{ entry.name }}</h1>
      <h5 class="gmailHeading">{{ entry.email }}</h5>
      <div class="dummy-text">
        <p>{{ entry.description }}</p>
      </div>
    </div>
  </div>
</div> -->