<div class="container-wrapper">
    <div class="container">
    <div><h1>Subscriptions</h1></div>
    <div><h3>Manage your law language subscription</h3></div>
    <div class="active-plans">Active plans</div>
    <br>
    <div class="dotted-box">You don't have any subscriptions</div>
    <br>
    <div><h2>Subscription plans available</h2></div>
    <div class="subscription-container">
        <div class="subscription-details">
            <h2>Personal Plan</h2>
            <h3> New opportunities await. Sign up for Personal Plan to get all this and more:</h3>
                <p>
                ✓ Access to 8,000+ top courses<br>
                ✓ Courses in tech, business, and more <br>
                ✓ Practice tests, exercises, and Q&A <br>
                ✓ Starting at $750 per month. Cancel anytime. <br>
                <br>
                <button>subscribe</button>
                <a href="#">learn more</a>
            </p>
        </div>
        <div class="main-container">
            <!-- Add your image here -->
            <img class="subscription-image" src="https://img.freepik.com/free-vector/premium-cash-reward-bonus-work-done-best-employee-rewarding-promotion-order-efficiency-stimulation-boss-subordinate-cartoon-characters_335657-2984.jpg?w=740&t=st=1693315594~exp=1693316194~hmac=7f3cc7af3ea4396e938ec05b42bf8aadc8d3e0938e165bcb0f632e880cb7064c" alt="Image">
        </div>
    </div>
    </div>





