.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set height to viewport height for full-screen appearance */
    background-color: #e0d9d9; /* Background color for the whole page */
  }
  
  .container {
    width: 80%; /* Set your desired width for the centered box */
    background-color: #ffffff; /* Background color for the centered box */
    padding: 20px;
    border-radius: 10px; /* Optional: Adds rounded corners to the box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow to the box */
  }
        h3{
            font-size: 18px;
            color: rgb(75, 74, 74);
            font-weight: 100;
        }

        h1,h2{
            font-size: 24px;
        }
        /* Styling for active plans */
        .active-plans {
            font-weight: bold;
            background-color: white;
            font-size:x-large;
        }

        /* Styling for the dotted box */
        .dotted-box {
            border: 2px dotted #000;
            text-align-last: center;
            padding: 40px;
            width: 80%; /* Adjust the width as needed */
            margin:0px ; /* Center the box horizontally */
        }

        /* Styling for the subscription container */
        .subscription-container {
            display: flex;
            align-items: center; /* Center vertically */
            
        }

        /* Styling for the left subscription details */
        .subscription-details {
            width: 150%;
            padding: 10px;
            border: 2px solid #000;
        
        }
        button{
            background-color: #000;
            color: aliceblue;
            padding: 10px 20px;
            border-radius: 1px;
            cursor: pointer;
        }

        /* Styling for the right image */
        .subscription-image {
            width: 50%;
        }
        .main-container {
            width: 75%;
            
            
        }
h3{
    font-size: 18px;
    color: rgb(75, 74, 74);
    font-weight: 100;
}

h2{
    font-size: 24px;
}
/* Styling for active plans */
.active-plans {
    font-weight: bold;
    background-color: white;
    font-size:x-large;
}

/* Styling for the dotted box */
.dotted-box {
    border: 2px dotted #000;
    text-align-last: center;
    padding: 40px;
    width: 80%; /* Adjust the width as needed */
    margin:0px ; /* Center the box horizontally */
}

/* Styling for the subscription container */
.subscription-container {
    display: flex;
    align-items: center; /* Center vertically */
    
}

/* Styling for the left subscription details */
.subscription-details {
    width: 150%;
    padding: 10px;
    border: 2px solid #000;

}
button{
    background-color: #000;
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 1px;
    cursor: pointer;
}

/* Styling for the right image */
.subscription-image {
    width: 50%;
}
.main-container {
    width: 75%;
    
    
}