.checkout-container {
  display: flex;
  margin: 30px;
  padding: 20px;
  border-radius: 8px;

  .billing-information {
    flex: 2;
    padding: 20px;
    box-sizing: border-box;

    h2 {
        font-size: large;
        font-weight: 400;
    }

    mat-form-field {
      width: 100%;
    }

    .countriesContainer {
      display: flex;
      justify-content: space-between;

      .stateField {
        margin-left: 30px;
      }
    }

    .creditCard {
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 30px;
    }

    .expiry-cvv-container {
      display: flex;
      justify-content: space-between;

      .cvv-field,
      .securityCodeField {
        margin-left: 30px;
      }
    }

    .phonePay, .googlePay, .paytm {
      width: 50%;
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 30px;
    }

    .btn {
      width: 100%;
      background-color: #a435f0;
      color: white;
      border: none;
      padding: 20px;
      font-size: 18px;
      cursor: pointer;
      margin-top: 20px;
      transition: background-color 0.3s ease;
    }
    
    .btn:hover {
      background-color: #2f2e32;
    }
  }

  .summary {
    flex: 1;
    max-height: 270px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 80px;

    h2 {
        font-size: medium;
    }
    p {
      margin: 5px 0;
    }

    .originalPrice {
        margin-left: 250px;
    }
    
      .totalprice {
        margin-left: 300px;
      }

      .btn {
        width: 100%;
        background-color: #a435f0;
        color: white;
        border: none;
        padding: 20px;
        font-size: 18px;
        cursor: pointer;
        margin-top: 20px;
        transition: background-color 0.3s ease;
      }
      
      .btn:hover {
        background-color: #2f2e32;
      }
  }

  h1 {
    font-size: x-large;
    font-weight: 500;
    // text-align: center;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;

    .full-width {
      width: 100%;
      margin-bottom: 15px;
    }

    .payment-methods {
      margin-bottom: 20px;

      mat-radio-button {
        margin-right: 10px;
      }
    }

    button {
      width: 100%;
    }
  }
}
