<app-subscribernav></app-subscribernav>
<div class="checkout-container">
    <div class="billing-information">
        <h1>Checkout</h1>
        <h2>Billing Address</h2>
        <form (ngSubmit)="onCheckout()">
            <div class="countriesContainer">
                <mat-form-field appearance="outline">
                    <mat-label>Country</mat-label>
                    <mat-select [(value)]="selectedCountry" name="country" required>
                        <mat-option *ngFor="let country of countries" [value]="country.code">
                            {{ country.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="stateField">
                    <mat-label>State/Union Territory</mat-label>
                    <mat-select [(value)]="selectedState" name="state" required>
                        <mat-option *ngFor="let state of getStatesForSelectedCountry()" [value]="state">
                            {{ state }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="payment-methods full-width">
                <mat-radio-group [(ngModel)]="selectedPaymentMethod" name="paymentMethod">
                    <div *ngFor="let method of paymentMethods" >
                        <mat-radio-button [value]="method.value">
                          {{ method.label }}
                        </mat-radio-button>
                      </div>
                </mat-radio-group>
            </div>

            <div *ngIf="selectedPaymentMethod === 'credit_debit_card'" class="creditCard">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Name on Card" [(ngModel)]="nameOnCard" name="nameOnCard" required>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <input matInput placeholder="Card Number" [(ngModel)]="cardNumber" name="cardNumber" required>
                </mat-form-field>

                <div class="expiry-cvv-container">
                    <mat-form-field appearance="outline" class="expiry-field">
                        <input matInput placeholder="MM/YY" [(ngModel)]="expiryDate" name="expiryDate" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="cvv-field">
                        <input matInput placeholder="CVV" [(ngModel)]="cvv" name="cvv" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="securityCodeField">
                        <input matInput placeholder="Security Code" [(ngModel)]="securityCode" name="securityCode"
                            required>
                    </mat-form-field>
                </div>

                <mat-checkbox [(ngModel)]="rememberCard">Remember this card</mat-checkbox>
            </div>

            <div *ngIf="selectedPaymentMethod === 'phonepay'" class="phonePay">
                <h1>Login to Pay with PhonePay</h1>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Enter Mobile Number" [(ngModel)]="phonePayNumber" name="phonePay"
                        required>
                </mat-form-field>

                <button mat-raised-button class="btn" appearance="outline">Proceed Securely</button>
            </div>

            <div *ngIf="selectedPaymentMethod === 'googlepay'" class="googlePay">
                <h1>Login to Pay with GooglePay</h1>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Enter Mobile Number" [(ngModel)]="googlePayNumber" name="googlePay"
                        required>
                </mat-form-field>

                <button mat-raised-button class="btn" appearance="outline">Proceed Securely</button>
            </div>

            <div *ngIf="selectedPaymentMethod === 'paytm'" class="paytm">
                <h1>Login to Pay with Paytm</h1>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Enter Mobile Number" [(ngModel)]="paytmNumber" name="Paytm" required>
                </mat-form-field>

                <button mat-raised-button class="btn" appearance="outline">Proceed Securely</button>
            </div>
        </form>
    </div>

    <div class="summary">
        <h1>Summary</h1>
        <!-- <h1>Order Summary</h1> -->
        <p>Original Price: <span class="originalPrice">₹{{ totalActualPrice }}</span></p>
        <p *ngIf="discountedPrice">Discounted by {{ roundDiscountPercentage(100 - (discountedPrice / totalActualPrice) * 100) }}% Off</p>
        <hr />
        <h2>Total: <span class="totalprice">₹{{ discountedPrice }}</span></h2>
        <button mat-raised-button class="btn" appearance="outline" [routerLink]="['']">Complete Payment</button>
    </div>

</div>

